[2015-09-08 17:37] salvadorbs commented on #580
On my computer, Delphinus can't install VirtualTrees. I have this error message:
![](http://i.imgur.com/8hc5p8D.png)

Seems Delphi 10 can't find VirtualTreesD23.bpl. So I checked Delphi 10's bpl folder and I have only two VirtualTree's bpl:
- VirtualTreesR23.bpl
- VirtualTreesD2.bpl (:exclamation:)

P.S.: Sorry for my bad english. ^^"

[2015-09-09 11:00] joachimmarder commented on #580
Thanks for letting me know, there was a digit missing in the LibSuffix. I also added "first_version" field now.

[2015-09-10 12:52] landrix opened #584 "added vsInitializing breaks vst"
i switched from 6.1.0 to 6.2.0

in some cases on closing the formular with a vst there are access violations on freeing objects

here:
FreeMem(FRoot);

After several hours searching I've found the cause: the new TVirtualNodeState vsInitializing

after removing all according code (not much), it works

[2015-09-11 15:42] joachimmarder commented on #584
This flag was introduced by @obones with commit 69f483c in pull request #559 for issue #557.

[2015-09-12 09:30] obones commented on #584
Please provide an example so that I can have a look at it.

[2015-09-16 12:25] landrix commented on #584
At the moment I can not comprehend it in an small example. I try it more.

[2015-10-02 08:05] landrix commented on #584
i found it at my own source code, thanks for the attention

[2015-10-02 08:05] #584 closed, assigned to nobody

[2015-10-07 12:51] joachimmarder commented on #583
I guess you meant "Delphinus.Info.json", which was done.

[2015-10-07 12:51] #583 closed, assigned to nobody

[2015-10-07 12:52] joachimmarder commented on #549
Could you please check if the problem is still there in V6.2?

[2015-10-07 12:56] Memnarch commented on #583
Yes, i am sorry that i didn't update the issue.

[2015-10-07 13:21] Ajoschi opened #585 "High DPI: Position of checkboxes shown in VT is not optimal"
Use a VirtualStringTree with check box support (TVTMiscOption.toCheckSupport included in TreeOptions.MiscOptions) and run your application on a machine with a resolution or 150/200%
-> Checkboxes are not shown centered (like e.g. the images), but on the upper left corner.

Since the VirtualStringTree behaves very well on all other aspects of High DPI awareness, it would be very nice if this one co

[2015-10-07 19:37] joachimmarder commented on #585
Please attach a screenshot.

[2015-10-08 06:40] Ajoschi commented on #585
![virtualstringtree_checkbox_highdpi](https://cloud.githubusercontent.com/assets/15014911/10359369/2efc4322-6d98-11e5-962e-3865b72c5db9.png)

[2015-10-13 12:12] HermannMQ opened #586 "Problem With SetChildCount in Version 6.2.0"
At the end of TBaseVirtualTree.SetChildCount() is now a call to ReInitNode(Node, True). This causes the OnInitChildren- Event in the Client-app to be fired twice. None of my programs using VirtualTreeView will work correctley with this change.

[2015-10-13 12:56] joachimmarder commented on #586
The call to ReInitNode() was intoduced in commit 71c7ad7a by @obones with pull request #573 as fix for #572. The behavior was altered in commit 2d1157b by obones part of pull request #573 which is a fix for issue #572.

[2015-10-13 13:08] obones commented on #586
Please provide a simple test application where this happens.
Please also note that the ivsReinit flag in "InitialStates" allows to detect when a node gets reinited.

[2015-10-13 13:27] joachimmarder commented on #586
I agree that it can be unfavorable if nodes, that have already been initialized, are being initialized again just because their child count changes. Many existing projects will not expect multiple inits. Furthermore, we are not calling ReinitNode() for any chnage of the child node count, but only when the change was done through SetChildCount() (but not if e.g. done through AddChild()).

[2015-10-13 13:30] joachimmarder commented on #586
From the commit message:

Would it be an option to make SetChildCount() virtual instead?

[2015-10-13 14:01] obones commented on #586
Well, it could be, but it means duplicating the code inside TCustomVirtualStringTree.ReinitNode
Of course, it could be centralized into a new private method called by both ReinitNode and SetChildCount.
However, to me, it is kinda of expected to reinit a node when its child count has changed. After all, we don't know what others have done in derived classes of their own.

[2015-10-14 11:50] HermannMQ commented on #586
Hello,

attachedyou will find an example. In the “InitChildren”- event the data are loaded (inthe original- app the data are loaded from a database). But with Version 6.2,this event is fired two times, which leads to unexpected results in the tree,because the data are loaded two times, also.
Meanwhile,I have learned to handle this situation: before adding new children, I have tocheck, if the node

[2015-10-18 20:53] joachimmarder commented on #586
I encountered another problem in the "Advanced" sample project on page 6, unit "DrawTreeDemo.pas", stack overflow occurs when expanding a root node:

[code]

Another user reported this stack overflow too for his project too.

To which code are you referring exactly?

[2015-10-22 12:46] obones commented on #586
I was referring to code inside TCustomVirtualStringTree.ReinitNode that resets the internal data.
I made the following pull request that contains a fix that is valid for both situations:
https://github.com/Virtual-TreeView/Virtual-TreeView/pull/587

[2015-10-22 21:00] #586 closed, assigned to nobody

[2015-10-23 21:04] Delphichem commented on #549
Tested, same with V6.2

[2015-10-28 10:46] Michel-WB-DivByZero opened #588 "Virtual String Tree CopyToClipboard does not copy cells colors"
Hi,
We just upgraded Embarcadero Seattle and to the 6.2 version of Virtual String Tree and the CopyToClipboard does not copy ht e grid cells color to the clipboard.

Also, with a grid that contains about 150 rows with colors, accessing the RTF format in the clipboard results in an access violation in the application.

Could you help me with this issue?

Thanks a lot!

Here is the code that shows t

[2015-10-29 18:28] joachimmarder commented on #588
Hi.

It would be best to open an issue at:
https://github.com/Virtual-TreeView/Virtual-TreeView/issues

To which application did you paste the copied content?
Which version of Virtual Treeview were you using before?

Best regards,

Joachim

2015-10-28 11:46 GMT+01:00 Michel-WB-DivByZero notifications@github.com:

[2015-10-30 07:53] Michel-WB-DivByZero commented on #588
Hi Joachim,

Thanks for your answer.

We previously used Virtual Treeview versions 4.7, 5.41 and 6.1 on RAD XE, RAD XE6 and RAD XE8.
I tried pasting to MS Excel, MS Word, MS Outlook, WordPad, Notepad++ and LibreOffice spredsheet and word processor.

We tend to think that the change from CopyToClipBoard to CopyToClipboard also implied changes in the implementation of that feature.
BTW: isn't https:

[2015-10-30 10:34] joachimmarder commented on #588
Hi Michel.

Sorry, I missed that your mail was genrated by GitHub and was not a
personal mail.

And they were all working as expected?

Best regards,

Joachim

2015-10-30 8:53 GMT+01:00 Michel-WB-DivByZero notifications@github.com:

[2015-10-31 02:30] studylamp commented on #585
Please note that this is not just a placement issue.  The size of the checkboxes do not scale either.  In fact, on a 200% scaled screen (the default on the Surface Book, for example), the checkboxes are very difficult to read and use because they are so small, regardless of placement.

[2015-10-31 09:25] joachimmarder commented on #585
You are right, I noticed that too. This is why this cannot be fixed quickly and it may take some more days.

[2015-10-31 09:30] joachimmarder commented on #588
It seems that the HTML clipboard format is broken after the full transition to unicode-strings. The HTML clipboard format does not work with Unicode UTF16, only with UTF8 encoded HTML

[2015-10-31 09:31] joachimmarder commented on #578
Did upgrading to the latest version solve the problem?

[2015-10-31 09:32] #576 closed, assigned to nobody

[2015-10-31 13:39] joachimmarder commented on #588
The HTML clipboard format is now working again. However I don't see any cell background colors with the current source as well as with V5.4.1 using the grid demo from the Advanced demo project.

[2015-10-31 13:42] joachimmarder commented on #588
I was unable to reproduce this with the latest source and your sample app after increasing number of rows to 700.

[2015-11-02 07:50] Michel-WB-DivByZero commented on #588
Hi Joachim,
I could not reproduce  the +150 rows issue on a clean environment.
I checked that on the previous version, we actually do not have the cells colors, but still the header row backfround is geyed out. Since the main CopyToClipboard functionality is fixed now, this would be a 'nice to have', not a showstopper.
I understand that your fix will be released with the 6.2.1 version, is that cor

[2015-11-02 11:16] Fr0sT-Brutal commented on #406
This was made by design

[code]

I believe that commenting these lines out will solve the issue but could slow down some other iterations.

[2015-11-02 11:46] joachimmarder commented on #588
Supporting cell background color is not an easy task, because it is achieved through custom drawing in event handlers, and unlike Font.Color not persisted anywhere.

The fix for the HTML clipboard format will be included in V6.2.1.

[2015-11-02 11:46] #588 closed, assigned to nobody

[2015-11-05 12:45] joachimmarder commented on #585
With the recent changes, it looks better now. However, at 200% Windows scaling, a VCL checkbox has 26x26 pixels, and a Virtual TreeView checkbox has 31x31 pixels and therefore looks pixelated.

[2015-11-06 15:45] #585 closed, assigned to joachimmarder

[2015-11-11 10:25] x3mike opened #589 "Drag node without focussing it"
Hello,
how can I drag a node without focussing it? If it is not possible yet, please consider this as an extension  - Thanks.

x3mike

[2015-11-11 19:45] joachimmarder commented on #589
Typically a mouse click focuses a node. You can't drag anything without clicking it. What is your use case?

[2015-11-11 22:51] romankassebaum opened #590 "Allow to store InternalData also for (internal) root node"
For the TCustomVirtualExplorerTree which is part of the MustangPeakComponents, I need internal data for the root node.

The current implementation

{code: Delphi}
function TCustomVirtualStringTree.InternalData(Node: PVirtualNode): Pointer;
begin
  if (Node = FRoot) or (Node = nil) or (FInternalDataOffset = 0) then
    Result := nil
  else
    Result := PByte(Node) + Self.NodeDataSize + FInternalDa

[2015-11-12 07:31] x3mike commented on #589
The tree is bound to some content which is displayed side by side. Now I want to let users drag an other node into the current content, without changing the content.

[2015-11-12 07:39] joachimmarder commented on #589
And how is the user supposed to do this without clicking the node?
If the user clicks the node, selection and focus changes. This seems correct and intended to me.

The Virtual TreeView won't change this content. I guess it is code in the OnChnage event handler that does this, and this code is under your control.

[2015-11-12 07:41] joachimmarder commented on #590
The code was like this for years as far as I know. But there's nothing that comes to my mind that contradicts this change.

[2015-11-12 07:46] x3mike commented on #589
that is right, my handler displays the content. But I cannot checkout if the user is starting a drag operation or not. That can only be done by the tree control.

[2015-11-12 07:52] joachimmarder commented on #589
That is not correct. The property TreeStates will contain tsVCLDragging, tsOLEDragging or something similar. And before the drag operation the OnGetDataObject is fired, at least for OLE drag&drop.

[2015-11-12 07:52] #589 closed, assigned to nobody

[2015-11-12 11:19] romankassebaum commented on #590
The changeset could break existing code but I think it is unlikely that someone relies on the fact that the internal data for the root node are always nil.

[2015-11-12 13:37] studylamp commented on #590
I am pretty sure I have recursive functions that check the data on a node and use nil as an exit condition. I don't see a reason to change this, and you will definitely break code with it.

[2015-11-12 13:45] romankassebaum commented on #590
Just to explain it, we are talking about the internal data, not the data.

If you derive from the TCustomVirtualStringTree you can save some additional data for your component.
This has nothing to do with the data property you can use in your applications.

TCustomVirtualExplorerTree is derived from TCustomVirtualStringTree  and needs the internal data.
In the past it has the InternalData method o

[2015-11-12 13:52] studylamp commented on #590
Aha, thank you, now I understand. Yes, I agree this change should not cause a problem.  Either way it would not be difficult to fix.

[2015-11-18 10:32] #590 closed, assigned to joachimmarder

[2015-11-24 08:48] NickRing opened #591 "VirtualTrees.StyleHooks is missing the un-registering of StyleHooks"
VirtualTrees.StyleHooks is missing the un-registering of StyleHooks, which means that when used within a DLL that gets loaded and unloaded, unusable StyleHooks still registered that could crash the application.

Currently, VirtualTrees.StyleHooks.pas looks like this.

[code]

It should be like this:

[code]

[2015-11-24 20:35] joachimmarder commented on #591
The calls to UnregisterStyleHooks() were once there, they however needed to be removed due to strange problems that most likely originated in the VCL. The issues were #355 and #359, but for unknown reasons these issues were not imported from Google Code to GitHub. The appropriate changes were made in commit 918abdb .

But of course the code change you propose is formally correct. I will apply it.

[2015-11-24 20:37] #591 closed, assigned to joachimmarder

[2015-11-25 06:49] NickRing commented on #591
Sounds like a plan - Thanks!

[2015-11-30 15:38] joachimmarder commented on #578
Any new on this issue?

[2015-11-30 15:47] joachimmarder opened #592 "EAccessViolation in PaintTree()"
We occasionally receive access violations tracked using MadExcept with this call stack:

[code]

I have no idea what causes or triggers the exception. It is also not possible to handle this case in the projects code in a proper way. Any ideas are welcome.

[2015-12-02 17:41] sinys5 opened #593 "VCL Themes: Basic TVirtualStringTree Colors does not apply"
Delphi Seattle, Virtual-TreeView 6.2.1
I have project with Obsidian VCL theme.
This theme has yellow color for selected node, but I want return color for selected node to basic and I wrote this code:
  TreeView.StyleElements := TreeView.StyleElements - [seFont, seClient];
  TreeView.Colors.FocusedSelectionColor := clHighlight;
  TreeView.Colors.FocusedSelectionBorderColor := clHighlight;
  TreeVie

[2015-12-02 21:54] joachimmarder commented on #593
So far this is by design, we tried to make the behavior as similar to the standard VCL components as possible. The StyleElements property does not have a dedicated flag for the selection, so styles have priority here if activated.

We could now discuss if TStyleElements.seClient should have an effect on the drawing of the selection etc.

In any case you can custom draw the selection or tweak TVTCo

[2015-12-02 22:02] joachimmarder commented on #593
I think I found a good solution for this case, which I just committed.

[2015-12-02 22:03] #593 closed, assigned to joachimmarder

[2015-12-03 13:05] SaschaSchaefer commented on #458
I found the reason for this behavior.
Some interestiong posts regarding similar problems that I found during my research are:
"http://forums.codeguru.com/showthread.php?525163-GDI-Problem-BitBlt()-Doesn-t-Seem-To-Be-Doing-Anything" and "http://stackoverflow.com/questions/1842377/double-buffer-common-controls".

The virtual tree draws the header when it receives a WM_NCPAINT message. During the act

[2015-12-03 15:44] luedech opened #594 "Overlapping of Nodes in VT"
due to some mouse-action Virtualtreeview Shows overlapped nodes
![overlappednodes](https://cloud.githubusercontent.com/assets/16137388/11565120/d7956a98-99dc-11e5-9e56-53f5b0d9bacf.jpg)
first monitored with version 5.3

[2015-12-05 10:30] joachimmarder commented on #594
Are you able to provide a simple project that allows to replicate the problem?
One of the Virtual TreeView demo projects modified to show this issue would be helpful too
.
Are you using custom drawing?

So V5.2.2 did not show this behavior?
Are you able to identify the exact revision that introduced the issue?

[2015-12-07 09:10] Memnarch opened #595 "Before using SetTimer, check for valid WindowHandle"
Whereever SetTimer is used, it must be ensured to check if the WIndowHandle is valid.

Example: (VirtualTrees.pas, Line 18233, as of 7. December 2015)

[code]

if i set ChangeDelay to early (like in contructor of a derived class), and i do some changes which trigger the OnChange normally, they'll be ignored. At such moments, WIndowHandle is not allocated, and NULL is passed as parameter to SetTime

[2015-12-07 14:12] sglienke commented on #224
The proposed solution does not work with filtering since you cannot simply take the Node.Index as indicator.

[2015-12-07 19:12] joachimmarder commented on #595
GetHandle() creates the handle if needed (and possible). Simply adding the condition HandleAllocated before every call of SetTimer() could change the behavior of the Virtual TreeView control.

In the case you are referring to this i perfectly save because there is an else-case which should do what's necessary.

Most cases in which SetTimer() is used are part of processing Windows messages, we can

[2015-12-07 19:12] #595 closed, assigned to joachimmarder

[2015-12-08 08:25] #458 closed, assigned to joachimmarder

[2015-12-08 09:29] Memnarch commented on #595
Thanks :)
EDIT: just something to keep in mind: if no window is already existing and you force to create one at your timing, it might be recreated at a later time when controls are parented. Timers get lost.

[2015-12-09 08:57] dcembala opened #596 "C++ Builder XE7 project issues"
We have been succesfully using version 5.1 in our application for some time now. We wanted to update to current version and see what changed but we encountered following issues (We are using C++ Builder XE7 Update1, same effect on 2 different PCs):

Trying to compile VirtualTreesCR.cbproj gives error:
[DCC Fatal Error] VirtualTrees.pas(3894): F1026 File not found: 'VTHeaderPopup.dcu'

After adding

[2015-12-09 09:14] joachimmarder commented on #596
Did you use V5.1 with C++ Builder XE7, or with an earlier version of C++ Builder?

Using the package VirtualTreesD.dproj will work, but is only possible if you also have the Delphi personality installed and loaded.

[2015-12-09 09:20] dcembala commented on #596
Yes in XE7, we created our own .cbproj to compile and install it in C++ but our project with updated sources give exact same effect as the one here.
We dont have Delphi personality only C++ so we cant use .dproj :(

[2015-12-09 14:40] joachimmarder commented on #596
@romankassebaum confirmed this issue to me. We think it could be a linker error in the C++ Builder linker, which is triggered by a certain source code change in Virtual TreeView in the apst.

The problem is that I don't use C++ Builder. It would be great if you could manage to find the last working version of Virtual Treeview. If we could identify the source code change that triggered the linker e

[2015-12-10 05:37] dcembala commented on #596
Last working version for us is 5.5.3 since 6.0 we get the the error like in the screen above.

[2015-12-10 06:49] dcembala commented on #596
commit 4f0cad5 - last working commit, it seems that there is a problem when R package is set to runtime only, after changing back to design time even current version works fine in c++ builder. no idea why, R should be runtime only but something makes it impossible to work that way in c++

[2015-12-12 11:07] joachimmarder commented on #596
I removed the dependency of the designtime package on the runtime package, that way the runtime package can stay a runtime package. I my tests with C++ Builder XE7 and XE8 it was now working again at designtime, compile-time and runtime.

[2015-12-12 11:07] #596 closed, assigned to nobody

[2015-12-14 13:59] landrix opened #597 "Vertical Scrollbar Position and Height not correct"
I thought, this helps, but it does not help
https://github.com/Virtual-TreeView/Virtual-TreeView/issues/556

if i add many nodes to a vst, the calculated vertical scrollbar does not fit to added nodes. if i scroll down to the end of the list, the scrollbarposition is recalculated and the slider jumps up. This I can do several times, until I reach the right end.

here a simple code example:

  Virt

[2015-12-14 20:26] joachimmarder commented on #597
This issue is related to `ivsExpanded`, it can also be replicated using the Advanced sample project: Go to the page "General abilities"  and scroll down.

The "problem" is that the `ivsExpanded` initial state is evaluated when a node is initialized. A node is initialized when it comes into the view or when it is sorted. The first case applies in the above repro steps.

Changing this could lead to

[2015-12-14 22:31] landrix commented on #597
How can i force node initialization?

[2015-12-15 16:16] joachimmarder commented on #596
Another C++ Builder user just confirmed that these changes fixed the problem for him. The version was XE7.

[2015-12-15 19:37] joachimmarder commented on #597
By calling the method InitNode() with the node to be initialized.

[2015-12-15 21:10] landrix commented on #597
Is it conceivable to introduce a procedure like this?

procedure TBaseVirtualTree.InitNode(Node: PVirtualNode; RecursiveToSubNodeLevel: Cardinal)

RecursiveToSubNodeLevel means the initialisation depth starting from Node.

if not, you can close this issue, thanks

[2015-12-16 12:09] joachimmarder commented on #597
I just added InitRecursive() to GitHub repo, let me know what you think.

[2015-12-16 13:29] landrix commented on #597
yes, it works, great

here an optimized version
- i think, already initialized nodes should not reinitialized
- if node = nil, then set rootnode and start with the same level again

strangely, in my example above, it's enough to call InitRecursive(nil,2) for an correct scrollbar. I thought it would be 3. RootNode = 3, NodeLevel 0 = 2, NodeLevel 1 = 1, NodeLevel 2 = 0

procedure TBaseVirtualTree.In

[2015-12-16 15:41] joachimmarder commented on #597
Agreed / changed. I was under the wrong impression that InitNode() already checks that.

Why do you think this is an optimization?

[2015-12-17 06:46] landrix commented on #597
new version, Now Level and visibility are evaluated, if Node = nil

procedure TBaseVirtualTree.InitRecursive(Node: PVirtualNode; Levels: Cardinal; pVisibleOnly: Boolean);
// Initializes a node and optionally its children up to a certain level.
var
  Run: PVirtualNode;
begin
  if not Assigned(Node) then
    Node := FRoot;

if (Node <> FRoot) then
if not (vsInitialized in Node.States) then
InitNode(

[2015-12-17 06:53] landrix commented on #597
the current version skips 1 Level, if Node is initialy nil

so
InitRecursive(nil)
InitRecursive(vst.RootNode)
have different results, if levels = 0 or RootNode is not expanded and pVisibleOnly = true

[2015-12-21 05:31] dcembala commented on #596
Yes i can confirm it's working here too.

[2015-12-21 11:19] luedech commented on #594
I have done some tests with two Delphi versions. It seems to be a problem with used Delphi version. Application compiled with Delphi 2010 and VT 5.3 - no problems occurs until now. The same source code of VT Version 5.3 compiled with Delphi XE7 the problem as described occurs after a short time.

Maybe it ‘s an issue of upgrading source code?

[2015-12-21 11:47] joachimmarder commented on #594
Are you able to provide a simple project that allows to replicate the problem?
One of the Virtual TreeView demo projects modified to show this issue would be helpful too.

Are you using custom drawing?

[2015-12-21 14:52] luedech commented on #594
Thank you for your response.
I am not using custom drawing but I am using VT on TFrames. And perhaps that could be  a (the) problem. When I upgraded from Delphi 2010 to Delphi XE7 some events of VT don't work properly anymore. (for example onpopup) The solution was that I have to move the onevent-functions from VT on Tframe to the VTs on mainform (childframe).
Could it be in that case mouse events

[2015-12-21 18:46] joachimmarder commented on #594
Frames in Delphi are known to be buggy, so this could be one reason for this problem to occur.

Typically issues with frames got better and not worse with new versions of Delpgi, but maybe something goes wrong when the project / DFM is upgraded to the new version.

The "Advanced" sample project uses re-parented forms as children, and no frames. You may consider this as well if it fits your project

[2015-12-23 02:20] asviridenkov opened #599 "Infinite loop in GetPreviousVisibleNoInit"
Code

[code]

Should be changed to

[code]

or in come cases (PrevSibling is assigned but not visible) tree will go in infinite loop.

[2015-12-23 06:33] dcembala commented on #596
Although this project and plain virtual tree works i think there is still something wrong with this package configuration. The problem shows when i try to make my own tree component whitch inherits from virtual stringtree in separate package. Whent i try to install new package there is an error:

![vt_err](https://cloud.githubusercontent.com/assets/13776914/11972042/c9cb7e10-a946-11e5-8f8e-c0f9678

[2015-12-23 20:13] joachimmarder commented on #596
This is a result of the workaround I used. It should work you make you designtime package depend on VirtualTreeCD, _not_ VirtualTreesCR.

[2015-12-24 08:21] joachimmarder commented on #599
Thanks, change is merged to master.

[2015-12-24 08:21] #599 closed, assigned to nobody

[2015-12-27 17:03] landrix commented on #597
https://github.com/Virtual-TreeView/Virtual-TreeView/pull/600

[2015-12-27 21:03] landrix commented on #597
i should be done

[2015-12-27 21:03] #597 closed, assigned to joachimmarder

[2015-12-28 05:31] dcembala commented on #596
I tryied that but i get the same error just insetead 'VirtualTreesCR' there is my package name. The funny thing is i dont even include Virtualtrees.classes in my project i only use #include "VIrtualTrees.hpp" and add VirtualTreeCD as reference in requires section of project

[2015-12-29 09:01] joachimmarder commented on #596
I'm sorry, but I myself don't use C++ Builder and the original problem is a bug in C++ Builder. Please try to get support from Embarcadero. Everything is working if you use Delphi packages, but this is only possible if you have a license of RAD Studio.

[2016-01-01 11:34] Mikanoshi opened #601 "Virtual nodes and variable height"
If I'm understanding correctly... It is not possible at all to init root nodes only when they are needed and not possible to do the same with child nodes that have variable height? They all are initialized immediately. Any way to use TVirtualDrawTree to draw a list that has only 1 level (at least visually)?

[2016-01-02 13:59] joachimmarder commented on #601
Please do not use GitHib Issues for support question. Please try to get support from the community e.g. at Stack Overflow , Delphi Pages, Delphi Praxis or Embarcadero forums.

In order to display correct scrollbars, the height for all root nodes needs to be known if their height is variable. You may still initialize parts of your structures deferred if you don't need them to provide the node heigh

[2016-01-02 13:59] #601 closed, assigned to joachimmarder

[2016-01-05 10:20] Memnarch opened #602 "Dangling WM_Timer and doubled OnChange calls"
Warning: Hope i observed it right!

Everywhere, where DoChange is called (outside from Change), it checks for tsChangePending. This check however is NOT applied within the WM_TIMER method before calling it.

When can this be problematic(depending on the application compexity)?:
- ChangeDelay is set (so changetimers are active)
- I start to Drag an unselected node (selection changes, ChangeTimer is

[2016-01-06 17:42] joachimmarder commented on #602
I agree: If the WM_TIMER message is already in the message queue, StopTimer() won't remove it and it will be processed. Checking for tsChangePending before doing so should improve the situation.

Regarding drag&drop: It could make sense to call BeginSynch() / EndSynch() internally in this case as it does the necessary stuff: stop the ChnageTimer and handle an active tsChangePending flag.

[2016-01-06 17:44] joachimmarder commented on #594
Were you able to identify the reason for these problems or find steps for reproducing the issue?

[2016-01-07 08:01] luedech commented on #594
In the last few days I worked hard in my application to change frames to re-parented forms as children. (under Delphi XE7 - similar to the Advanced Demo Project VT) After some tests unfortunately the problem still occured. For now I can only say that compiled with Delphi 2010 - everything is good, compiled with Delphi XE7 the problem comes again. Trigger is always a mouse click (after an undefined

[2016-01-08 13:01] obones opened #603 "Using isFiltered in InitNode leads to integer overflows or bogus rendering when reiniting"
Hello,

Issue #557 dealt with a totally similar situation where using `isFiltered` in `InitNode` lead to bogus rendering. While this has been solved, the issue still exists when reiniting a tree and some nodes are no longer filtered.
The following sample shows the issue:

http://obones.free.fr/vtv/multiple_isFiltered.zip

Initially all nodes are filtered out.
Pressing the first button makes them a

[2016-01-08 16:56] joachimmarder commented on #603
Thanks for the pull request!

[2016-01-08 16:56] #603 closed, assigned to nobody

[2016-01-19 01:17] RicardoBer commented on #248
At this moment this problem continues, do anyone know something more about this?

[2016-01-19 09:21] joachimmarder commented on #248
Do you have simple repro steps for this issue with one of the sample projects?

[2016-01-20 09:54] RicardoBer commented on #248
Yes, it fails always when move any hader tab. For example in advanced demo, four button.
![sin titulo](https://cloud.githubusercontent.com/assets/14173576/12445144/e96d7340-bf62-11e5-92a2-09072824e663.jpg)

Try dragging over header.

I remove that blue piece adding and update on HandleHeaderMouseMove method, but this ugly behavior continues in latest version, any way the drag operation shows laggi

[2016-01-20 21:43] joachimmarder commented on #578
No working repro for V6, no response, so closing this issue.

[2016-01-20 21:43] #578 closed, assigned to nobody

[2016-01-20 21:48] joachimmarder commented on #510
Is anyone volunteering to implement this issue? Otherwise I would like to close it.

[2016-01-20 21:48] #510 closed, assigned to nobody

[2016-01-22 21:54] RicardoBer commented on #248
There are another problem with circled arrow icons that paint on the sides of header buttons, they are cropped, some times it's now drawed other ones remain drawed, buf.

[2016-01-25 18:54] joachimmarder commented on #572
Attached sample project.

[TruncatedText.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/103693/TruncatedText.zip)

[2016-02-15 10:48] joachimmarder opened #605 "If a new node is selected by left click, OnChnage event should not fire with `nil` inbetween"
Currently, if the user left clicks a different node using the left mouse button, the OnChange event is fired twice. The first time with `Node=nil` as a result of the call to `ClearSelection()`, then with the new node. This can cause unnecessary updates in the UI, as consumers of the event cannot know if the selection was truly cleared, or if another OnChange will follow.

[2016-02-15 10:50] joachimmarder commented on #605
Proposed solution: Create overloaded protected `ClearSelection()` with additonal paramter that allows to control whether or not the OnChange even is fired (with `nil`).

[2016-02-15 11:18] romankassebaum commented on #605
You could also set the OnChange event to nil before you call ClearSelection. Something like

{code: Delphi}
lOnChange := FOnChange;
FOnChange := nil;
try
  ClearSelection;
finally
  FOnChange := lOnChnage;
end;
{code}

But maybe your solution is more beautiful.

[2016-02-16 11:56] PetrDaricek opened #606 "High DPI Inheritance of Form"
Hello,
  I created FormAncestor and place on it VirtualTree component. Second I Created FormChild, it is inherited from FormAncestor. I Modified some properties of VirtualTree (I don't know if this step is required). All I develop on Windows 7 with standard 96DPI.
  When I run this program on Windows 8.1. with 192 DPI (200%) header and rows are to big. I searched why and I recognize this algorithm

[2016-02-16 19:25] joachimmarder commented on #606
I agree, this sounds like a bug.

[2016-02-16 21:31] #605 closed, assigned to joachimmarder

[2016-02-22 19:18] joachimmarder opened #607 "Disabled checkbox images should be available"
There are certain situation in which some of the tree nodes should not be checkable while for others it should be possible to check-mark or uncheck them. In other cases nodes should be checked mandatory.

Currently the only option that Virtual TreeView has available is to not show a checkboxes or to disable tree nodes. While disabling a tree node goes far beyond the need of disabled checkboxes and

[2016-02-27 18:29] delphinotes opened #608 "Horizontal lines paint bug on scroll"
At the time of the horizontal scroll - horizontal lines are drawn incorrectly:

![h_dot_line_on_h_scroll](https://cloud.githubusercontent.com/assets/3316307/13374532/8ba48e84-dd98-11e5-9be3-204233693a00.png)

To fix this, just change line
SetBrushOrigin(Canvas, BrushOrigin.X, BrushOrigin.Y);
to
SetBrushOrgEx(Canvas.Handle, BrushOrigin.X, BrushOrigin.Y, nil);

(as it was in 4.8.6 version)

[2016-02-27 19:47] joachimmarder commented on #608
This was changed in 2010 in commit [e0faa14](https://github.com/Virtual-TreeView/Virtual-TreeView/commit/e0faa1476478385cac8c276bf4f961a1e89e961e).

I don't think it is wise to simply revert this change after a long time. Can this issue be reproduced with any of the included sample projects?

[2016-02-27 22:15] delphinotes commented on #608
You can take demo project [MVCDemo](https://github.com/Virtual-TreeView/Virtual-TreeView/tree/master/Demos/Objects)
Stpes:
- reduce the width of the window (that there was a horizontal scroll bar) and click several times on the button:
  ![1](https://cloud.githubusercontent.com/assets/3316307/13375705/f4eb6222-ddb7-11e5-9e58-d59b720de0f5.png)
- if you zoom it, you will see the rendering artifacts:

[2016-02-27 22:22] delphinotes commented on #608
This commit contains two functions: SetCanvasOrigin and SetBrushOrigin, they were moved from the common code and they added LPtoDP function.
It seems that for SetBrushOrigin this was done by inertia and in fact it is not necessary.

[2016-02-28 20:15] joachimmarder commented on #608
That did not show the artefacts, but using the slider did.

This is quite possible, this change is indeed missing in the commit message.

[2016-02-28 20:17] #608 closed, assigned to nobody

[2016-02-28 21:06] #606 closed, assigned to joachimmarder

[2016-02-28 21:11] joachimmarder commented on #594
Sorry, but if there are no similar reports and no repro, I will close this issue in a few weeks to keep the list clean.

[2016-02-29 22:43] #602 closed, assigned to joachimmarder

[2016-03-01 08:11] joachimmarder commented on #592
Idea: Extract code that resizes `NodeBitmap` and that is included more than once in `PaintTree()` to new helper function `ReinitBitmap()`. In a second step, do not resize but re-create the bitmap if different dimensions are required. Advantages:
- The constructor of `TBitmap`has a small overhead, compared to what might happen if you resize a bitmap (e.g. `CopyBitmap()`)
- Starting with a fresh bit

[2016-03-01 10:58] the-Arioch commented on #512
Somewhere around v 4.x i made a patch to highlight focused column and/or row so that user could easily see what exactly he is going to edit/copy/etc

[2016-03-01 11:01] the-Arioch opened #611 "file headers still reference Google Code GIT"
example: VirtualTrees.pas lines 44-45

// Source repository:
//   https://code.google.com/p/virtual-treeview/source/

and so on

[2016-03-01 11:09] the-Arioch opened #612 "hotkey handing and toReverseFullExpandHotKey"
quote:

[code]

Definition sounds like it should revert, swap mappings between hotkeys and actions
But actually it PROHIBITS full expand and full collapse hotkeys completely instead of moving them to simpler combinations!
I think the coder just forgot boolean operations precedence and was too gredy w.r.t. parenthesis :-)

method procedure TBaseVirtualTree.WMKeyDown(var Message: TWMKeyDown);
lines

[2016-03-01 19:37] #611 closed, assigned to nobody

[2016-03-01 20:15] #612 closed, assigned to joachimmarder

[2016-03-02 06:45] MarcusCalidus opened #613 "Commit 0aded66 breaks ScrollBar drawing."
Hi,

Commit 0aded66 (issue #611) breaks ScrollBar drawing under certain circumstances.

Line 30591 was changed from
`NodeBitmap.Width := TargetRect.Right - TargetRect.Left;`
to
`Width := TargetRect.Right - TargetRect.Left;`
this leaves us with access violations and flickering none drawing scrollbars. please reverse that. thx.

cheers
Marco

[2016-03-02 15:02] joachimmarder commented on #613
I'm very sorry, this was no an intended change.

[2016-03-02 15:02] #613 closed, assigned to joachimmarder

[2016-03-07 22:06] #607 closed, assigned to joachimmarder

[2016-03-13 21:13] adem0x opened #614 "v6.x and XE2 etc."
I really do not see why you simply issue a horrible error message wrapped around with a compiler directive that VT 6.x does not support anything less than XE3 when in fact (using a few IFDEFs) it does --I have done it and it works.

Secondly, could you please also make sure that the projects under the Demos folder compile and run. They are always useful as a starting points for learning/rememberin

[2016-03-13 22:27] vincentparrett commented on #614
I'm going to assume you do not understand how open source works. The project is run by volunteers, if you don't like it don't use it. You don't get to demand anything.

If you think you can make it work with XE2, then submit a pull request for consideration. If the demos don't compile, fix them and submit a separate pull request. Your tone is not going to make the maintainers rush to help you.

[2016-03-13 22:30] romankassebaum commented on #614
@Vincent: +1!!!!!

[2016-03-13 22:34] landrix commented on #614
Incredible.

[2016-03-13 22:37] romankassebaum commented on #614
What is incredible?

[2016-03-13 22:49] landrix commented on #614
the behavior of the first writer is incredible.

[2016-03-13 22:52] romankassebaum commented on #614
I know Joachim privately and he spends a lot of his spare time for this library. I really hold him in regard.

[2016-03-14 03:25] adem0x commented on #614
Guys, before you join in the snap-back party, let me remind you that there's an overriding principle: "If it aint broke don't fix it!"

IOW, just because something is open source, you don't get have free reign to break years-long compatibility expecting someone else to fix it back. It is a simple question of discipline.

Same with the Demos: It isn't exactly rocket science to create a program grou

[2016-03-14 03:48] vincentparrett commented on #614
_sigh_ @adem0x you just don't get it do you. Go away and learn how to be polite and respectful of other people's efforts - http://spf13.com/post/how-to-be-a-good-open-source-community-member/

[2016-03-14 03:48] #614 closed, assigned to nobody

[2016-03-14 08:00] joachimmarder commented on #614
This has been thoroughly discussed in issue #503, there is no point in opening a new issue.

@adem0x :There is a difference in "support" and "somehow getting it to compile". I try to do the first one. I simply can't support a Delphi version that I don't use or have installed.

An XE2 branch has been opened and anyone is welcome to maintain it. So far non of the people who complained about the miss

[2016-03-16 16:06] adem0x commented on #614
The first thing I do not understand was why you chose to remove things from VT's original codeset when you could have wrapped the new additions with compiler defines.

Another thing I do not understand is why you seem to prefer eye-candies that only exist in the newest versions of Delphi.

I mean, what is so great about "StaticText.IsEmpty" that "StaticText = ''" couldn't do?

It cannot be the sav

[2016-03-16 18:44] joachimmarder commented on #614
Because I can't test if this code compiles and works.

I like using record helpers becuase they make code mor readable in my opiniton. I use them all the time after I switched to XE3 and I don't want to change my coding style here just becuase I work on Virtual TreeView.

Getting paranoid? Is it really so hard to believe that a developer likes the concept of record helpers to make code more readab

[2016-03-16 21:49] adem0x commented on #614
How shall I put this: It is a bit of an etiquette thing.. I mean, if the original code was yours, by all means, have your day and let the code reflect your personality and taste. But, it isn't and people who have been maintaining the VT code for all these years have done so in a specific way for a reason.

One more thing I am surprised is this: From between the lines of your reply, it is obvious t

[2016-03-17 08:11] joachimmarder commented on #395
I'm sorry, but it seems that the test project got lost when we moved from Google to GitHub. Is there any chance that you re-submit the test project?

I couldn't find any place where the toUnbuffered flag is ever set in the Virtual TreeView code. That might be the reason why this code is not maintained very well. One important question is: If the toUnbuffered flag is effectivly not used, is it bett

[2016-03-17 09:14] joachimmarder commented on #614
When using generics, anonymous procedures and record helpers I know exactly which Delphi version I break, but I still want to use them when I write code in year 2016. When it comes to more subtle changes in the VCL, e.g regarding VCL styles as seen from XE2 to XE3, I agree: I simply don't have the entire VCL of the past 10 Delphi versions in my mind, and so I unintentionally wrote code that broke

[2016-03-20 12:21] joachimmarder opened #615 "Wrong alignment of radio buttons when VCL styles are used"
Steps for reproduction: Apply VCL style Amakritis to project "Advanced, build and run the project, switch to page "General abilites".

[2016-03-20 12:22] joachimmarder commented on #615
Screenshot:
![2016-03-20 13_18_48-virtual treeview features demo](https://cloud.githubusercontent.com/assets/10615289/13904377/b73ff576-ee9e-11e5-8bd1-b91d5593c76f.png)

[2016-03-20 20:04] joachimmarder commented on #615
Thanks @Kidi1961 for reporting this issue.

[2016-03-20 20:04] #615 closed, assigned to joachimmarder

[2016-03-22 20:24] the-Arioch commented on #452
no attachments, no original reporter e-mail...

at least in Advanced Demo on "WinXP painting" page run on Win10 compiled by XE2 the hot tracking ( all-row one ) is correctly removed when mouse is hovering to the header...

[2016-03-22 22:33] joachimmarder commented on #614
There is meanwhile an XE and XE2 compatible branch maintained by @sglienke at:
https://github.com/sglienke/Virtual-TreeView

[2016-03-22 22:33] joachimmarder commented on #503
There is meanwhile an XE and XE2 compatible branch maintained by @sglienke at:
https://github.com/sglienke/Virtual-TreeView

[2016-03-22 22:41] joachimmarder commented on #452
Yes, unfortunately. Google Code import didn't work well regarding these aspects. I guess I will have to close many of these old issue.

[2016-03-23 01:38] adem0x commented on #614
Thank you :)

[2016-03-23 02:53] adem0x commented on #614
Bear with me one lats time --I am just too much of a n00b as far as Git/Github is concerned:

I have modified sglienke's codes so that they build/compile (and produce no warnings) (and Demos compile and run) under XE2, but there does not seem to be an 'Issues' tag under sglienke's repo to report these changes.

What would be the best way to go around this?

Ask him/her by email to open/enable 'Iss

[2016-03-23 06:55] sglienke commented on #614
I am using the VTV under XE (not XE2) at work thus I made sure I have the latest version working there and thought I share it because it might be useful to someone. I don't care for the demos nor giving any support for it. Therefor I am not going to open the issue tracker on the fork.

Personally I am not very happy about the decision to entirely drop support for versions earlier than XE3  (becaus

[2016-03-23 07:15] adem0x commented on #614
Thank you for chiming in.

OK, that's good enough of an answer for me.

I'll fork yours and see --in time-- if I can manage to upload my changes.

[2016-03-23 08:48] joachimmarder commented on #614
This may be right for a non-UI component but is this is definitely wrong for Virtual Treeview. Getting the code right so that it works well with a VCL with and without styles made so many $ifdefs necessary that this code was really hard to maintain and this ate up too much of my time. XE2 had some V1.0 VCL style bugs, working around them made the code even more difficult to maintain. Sometimes cod

[2016-03-23 09:54] sglienke commented on #614
No, I don't have XE2 installed.

Since the introduction of VCL styles it was just a matter of coding some helpers for non style versions to make them behave the same as without styles on the versions that support them ime.

[2016-03-23 10:02] the-Arioch commented on #452
dunno... maybe special tag and low priority would be better

some of them may be still real issues that maybe one day will give insights....

[2016-03-23 16:25] the-Arioch opened #616 "Advanced demo - XP page fixes"
See screenshots and video at https://github.com/the-Arioch/Virtual-TreeView-XE2/issues/1

[0001-issue-1-part-1.patch.txt](https://github.com/Virtual-TreeView/Virtual-TreeView/files/186399/0001-issue-1-part-1.patch.txt)
[0002-Advanced-demo-1-URL-to-forum-on-Yahoo-Groups-obsolet.patch.txt](https://github.com/Virtual-TreeView/Virtual-TreeView/files/186400/0002-Advanced-demo-1-URL-to-forum-on-Yahoo-Gr

[2016-03-24 07:47] SaschaSchaefer opened #617 "SortTree() is called during EndUpdate() even if SortColumn = -1"
TBaseVirtaulTree.EndUpdate() calls SortTree if the option toAutoSort is set. If the sort column is set to -1, however, this should not be necessary. No actual sorting is performed, but we still iterate all nodes, which may cause some performance overhead.

[2016-03-24 08:01] joachimmarder commented on #617
If there are no columns, we still need to sort in this case.

If there are columns, we should indeed consider not to auto-sort if SortColumn is -1 as most likely no actual change will be performed. manual sorting would still be possible in this case.

[2016-03-24 08:06] joachimmarder commented on #616
Thanks!

[2016-03-24 08:06] #616 closed, assigned to nobody

[2016-03-24 11:40] adem0x commented on #614
After I forked sglienke's repo, I noticed that in the README.md it says that JAM Software (the repo here) is the new project owner. Is this something official --i.e. did Mike Lischke have any say in this.

Another thing about the Demos:

[2016-03-24 11:41] adem0x commented on #614
You might want to tell that to the Jedi team --apparently they have been doing all sorts of /wrong/s over all these years.

IOW, instead of spending some time figuring out what each compiler define meant, you chose to strip them all off..

How commendable.

This is precisely what compiler directives are for. You put all the relevant ones in an .inc file and use them in the source. For inspiration,

[2016-03-25 20:28] joachimmarder commented on #614
Yes, of course this was official, as a quick view on his homepage would have told you:
http://www.soft-gems.net/index.php/controls/virtual-treeview

[2016-03-25 20:44] joachimmarder commented on #614
Please read my post before you answer: I did not write that it is wrong to support old versions, I just wrote that it is not as easy for UI controls as it is for RTL code, especially for custom drawn controls if style and non-style Delphi versions should be supported in one code.

I appreciate if someone does it. If you think there should be an XE2 version of Virtual TreeView, then simply do it in

[2016-03-25 20:46] joachimmarder commented on #614
Interesting. But you think I should have? Or should I support XE2 without having it installed?

[2016-03-26 10:02] sglienke commented on #614
You are barking up the wrong tree - I never asked you to support anything. I only commented on some error prone record helper usage. You were the one that brought up my fork in this thread and assumed it supports XE2 (which I never said) and I commented on questions.

[2016-03-26 14:04] joachimmarder commented on #614
Hmm, this sounded at least very closely:

That was what I was referring to, not your comment about record helper, to which I agree in some part.

[2016-04-04 04:28] mksjgj opened #618 "bug in ShortenString (VirtualTrees.Utils.pas)(V6.2.3)"
procedure TForm5.Button1Click(Sender: TObject);
var
  rst:string;
begin
  rst:= ShortenString(self.Canvas.Handle,'A',99999);
  Assert(rst='A...');  -->this will failure, because rst actually is '...'-- a obvious error
end;

the bug lies in:  Result := Copy(S, 1,            L                         ) + '...';
it should be       Result := Copy(S, 1,            L  +   1                ) + '...';

[2016-04-04 21:17] joachimmarder commented on #618
I finally started writing unit tests and added tests for ShortenString().

@mksjgj: I tried (and committed) your solution, but it does not pass all tests. Need to look into this later.

[2016-04-04 21:46] #618 closed, assigned to joachimmarder

[2016-04-05 21:08] joachimmarder commented on #617
After reconsidering this I decided not to change anything. Even if there a columns and SortColumn is -1, a sort order might apply due to other application settings and a feature like toAutoSort should trigger sorting. If this is unwanted, toAutoSort can be removed until a SortColumn is defined.

[2016-04-05 21:08] #617 closed, assigned to joachimmarder

[2016-04-05 21:08] #594 closed, assigned to nobody

[2016-04-06 22:37] DRAMA22 opened #619 "It is not possible to paint a background that covers the entire control"
when i try to remove the node background color using onbeforecellpaint like this

[code]

white background of node did not removed

[2016-04-07 13:36] joachimmarder commented on #619
Well, with a brush set to bsClear then what's already there won't change. This like a +0 operation. Can you please comment more detailed why you think this is a bug? Can you attach a small sample project that illustrates the problem?

[2016-04-07 16:38] DRAMA22 commented on #619
to be more specif column header color  comes over the gradient back ground and so on

[2016-04-07 19:38] joachimmarder commented on #619
Problem is: The rect passed to the OnPaintBackground event covers only the area that is not filled by treenodes. This gets more visible if you use a vertical gradient and make this area smaller by adding more nodes or reducing the form's height. I am not sure if this behavior is intended by the original developers. But I agree that this looks more like a bug than a feature.

I will rephrase the is

[2016-04-07 19:43] DRAMA22 commented on #619
also if you notice transparent gif images does not shows fully transparent it got some ugly white on the  gif background even that gif set to transparent .

[2016-04-07 19:51] joachimmarder commented on #619
After inspecting the code I have to say: This is intentional. I don't see a quick fix to achieve what you want. This requires a larger refactoring.

[2016-04-07 19:53] DRAMA22 commented on #619
hmmm i was thinking can i set the columns color to transparent ?

[2016-04-07 20:09] joachimmarder commented on #619
For testing I put the painting of the gradient into TBaseVirtualTree.WMEraseBkgnd(). However, so far I did not manage to keep it visible and let the VST paint transparent over it.

[2016-04-07 20:48] DRAMA22 commented on #619
so i found a way by set the cell to gradient too . but any solve for gif image ?

[2016-04-08 11:26] joachimmarder commented on #619
Can you attach a screenshot please? Since it is not VTV drawing the image, I'm not sure what we could do to improve the situation.

[2016-04-09 07:43] joachimmarder commented on #619
Sorry, I have no idea what could be the reason. And so far I don't see a reason why a a transparency  issue when painting a GIF on a TCanvas is related to Virtual TreeView. Have you tried transparent PNGs? Which version of Delphi are you using?

Please attach the updated project including the GIFs.

[2016-04-12 21:35] joachimmarder commented on #619
These GIFs of your are animated GIFs. Animated GIFs are not supported in Virtual TreeView. I tried with some other transparent GIFs and they work as expected:

![2016-04-12 23_29_14-mm](https://cloud.githubusercontent.com/assets/10615289/14476194/963794ae-0106-11e6-8cc2-8c4d0b72e197.png)

Your GIFs are working too if they are not animated:
![2016-04-12 23_33_48-open image](https://cloud.githubuser

[2016-04-12 21:35] #619 closed, assigned to joachimmarder

[2016-04-20 10:11] the-Arioch opened #620 "check states - typos and helper"
1) csMixedDiabled     // disabled 3-state checkbox

==> csMixedDiSSSSSSSSSSabled     // disabled 3-state checkbox

2)   csCheckedDisbaled,  // disabled checkbox, not uncheckable

==>   csCheckedDisABABABABled,  // disabled checkbox, not uncheckable

3) IsDisabled is handy - but it is not the only "what class of state is" check that is being used in real application codes. I suggest
3.1) to mark Is

[2016-04-20 10:42] the-Arioch commented on #620
Inlining of aforementioned function would take moving XLAT array consts into interface section.
Afterall that would be a good move - since those arrays are critically dependent upon the order of enumeration(s) they better be kept together, as close to one another s possible. Namespace then to be maintained by putting those constant arrays into `strict private` section of the record helper.

[2016-04-20 10:54] the-Arioch commented on #620
looking at the CASE stmt in `function TBaseVirtualTree.GetCheckImage`
- csUncheckedDisabled => csUncheckedNormal
- csCheckedDisabled     => csCheckedNormal
- csMixedDiabled           => csMixedPressed

What? Why suddenly Normal changed to Pressed in the last line ?

---

Before the CASE there is that usual typo in comments

[code]

---

The IF-condition with new helper can be more concise and no m

[2016-04-20 11:04] the-Arioch commented on #620
All in all i see it something like that (with XE2 conversion of record helper to advanced record ):

[code]

[2016-04-20 11:07] the-Arioch commented on #620
I am somewhat surprised that `GetToggled()` converts xxxPressed into yyyNormal
I think if that is by-design it is to be documented in comments there, why it should happen that way, so the function would not be used for wrong goals.

[2016-04-20 13:00] the-Arioch commented on #620
Tester for the new unbound states
Perhaps to be included into Advanced Demo ?

[Unit12.dfm.txt](https://github.com/Virtual-TreeView/Virtual-TreeView/files/227944/Unit12.dfm.txt)
[Unit12.pas.txt](https://github.com/Virtual-TreeView/Virtual-TreeView/files/227943/Unit12.pas.txt)

[2016-04-20 13:13] the-Arioch commented on #592
011a5d7b Project.exe VirtualTrees       30631 +584 TBaseVirtualTree.PaintTree
00e098b6 Project.exe System               263   +0 @HandleFinally

Weird... What should it mean? some finally-block is immediately and directly calling PaintTree?

[2016-04-20 13:33] the-Arioch commented on #592
Can you ask those users about
- what is the value of `poUnbuffered in PaintOptions` ?
- what is the value of `PaintTree(TargetCanvas` ?

To me it seems like they try to render it onto some invisible canvas that does not have neither handle nor font for itself.

I stumbled upon similar issues, if i remember it was in JvUltimDBGrid around ReCreateWND when it wrapped around custom sorting and tried t

[2016-04-20 13:51] the-Arioch commented on #592
"code that resizes  NodeBitmap" actually clears TBitmapCanvas.FHandle,  via TBitmap.SetSize -> CopyImage -> FreeContext, so the guard described above may be not enough...

[2016-04-20 13:52] the-Arioch commented on #592
`TCanvas.GetHandle` is a rather complex function, I'd better cache `Canvas.Handle` inside SetCanvasOrigin into a local var

[2016-04-20 13:58] the-Arioch commented on #592
There is a number of calls to `SetCanvasOrigin(PaintInfo.Canvas, 0, 0);` in `PaintTree`; I guess the `SetCanvasOrigin` better saw resetting as a special case and saved two GDI calls

[code]

[2016-04-20 15:19] joachimmarder commented on #592
I guess we need to look at the call stack of the inner exception.

[2016-04-20 15:24] joachimmarder commented on #592
poUnbuffered was not used.

Yap, could be V5.5 or V6.0.

[2016-04-20 15:32] joachimmarder commented on #592
Your code presumes that (0,0) in device pixels is always (0,0) in logical pixels. But cannot viewport or world transformations change that?

[2016-04-20 16:06] joachimmarder commented on #620
Thanks you sharing your ideas, I adapted most of them.

[2016-04-20 16:17] the-Arioch commented on #620
what about "CASE stmt in  function TBaseVirtualTree.GetCheckImage " ? Why is it so ?

I still think making MarkKind and UIState separate non-related enums as they logically are is needed to be done.

[2016-04-20 16:25] the-Arioch commented on #592
at least handle caching is not related to coordinates :-)

[2016-04-20 16:28] the-Arioch commented on #592
"SetWindowOrgEx specifies which logical point maps to the device point (0,0). It has the effect of shifting the axes so that the logical point (0,0) no longer refers to the upper-left corner."

So after the first unconditional SWOE call I really do presume "(0,0) in device pixels is always (0,0) in logical pixels" and I think so does MSDN :-)

[2016-04-20 19:35] joachimmarder commented on #620
I have now replaced it by a function of TCheckStateHelper as well.

I agree, but it was that way with pressed since I know VTV, and changing this meant a breaking change that I wanted to avoid.

[2016-04-20 19:42] joachimmarder commented on #592
Oh, come on, the overhead in TCanvas.GetHandle() is minimal in case the handle is already there. I prefer the clean code and stick with Donald Knuth in such cases ("Premature optimization is the root of all evil").

[2016-04-20 19:44] the-Arioch commented on #620
there is no breaking changes needed - that is exactly what advanced records and record helpers are about - introducing syntactic sugar without changes to the "engine"

see how it is implemented in my code above and in the testing form - it is made like virtual properties, like those very GetPressed and friends, Like I said in the topmost message here, in point 6 -

[2016-04-20 19:55] joachimmarder commented on #620
Yes, your code looks promising. I admit that I did not think that this could be done without breaking changes. I will reopen the issue and revisit that topic next month.

[2016-04-20 19:55] the-Arioch commented on #592
How is local variable not a clean code? You get the value once and then if you ever would need to change it so some other canvas - you would only need to change one line, instead of copy-pasting all the calls to `Canvas.GetHandle` with risk to overlook some. Introducing local vars is introduicing single responsibility entities thus is cleaner code.

Just imagine if we remove PaintInfo.Canvas in Pa

[2016-04-20 20:00] the-Arioch commented on #620
For example `.GetEnabled` function in those terms would look like `.GetWithUIState(csuNormal)`.

OTOH the direct inline implementation of `.GetEnabled` with a dedicated array and a single lookup is surely faster. Yet I thought someone mentioned Knuth... :-P

[2016-04-20 20:01] joachimmarder commented on #592
This applies to SetWindowOrgEx(), but couldn't other transformations apply, like defined through SetWorldTransform() or SetViewportExtEx()?

[2016-04-20 20:06] the-Arioch commented on #592
When can they be applied ? in between calls to SWOE and LPtoDP from another thread?

Other transformations may scale and turn radius-vectors, but when the radius-vector is zero (a dot) - then you can scale and turn it however you want - it still would be a dot. SWOE maps (0,0) to (0,0). After that the (0,0) IS (0,0). Indeed, other dots then define non-zero radius-vectors that can be transformed to

[2016-04-20 20:14] the-Arioch commented on #592
If anything that very comment

proves my idea about mapping the selected points

it makes sense exactly because the prior calls ensures with any current transformation " (0,0) IS (0,0). "

I don't see any other possible meaning in that comment

[2016-04-20 20:14] joachimmarder commented on #592
That's not what I meant. Does SWOE(0,0) reset all transformation including world transformations? I am not sure, and this is why I don't want to change the code which is working fine as it is now.

I came to the VTV project because all its bugs drove me mad. It is relatively stable meanwhile, at least those features that I use in my daily work, and I want to keep it that way. Which brings me back

[2016-04-20 20:19] the-Arioch commented on #592
yes it can, if called IN BETWEEN SWOE and LPtoDP - but it is not being called there, is it?

No, it does not. It introduces extra transformation (shift) that enforces  (0,0) == (0,0). All other points mapping would be changed accordingly. Unless some new post-SWOE transformation would shift it yet again - that mapping between those two specific points would remain.

Think about is as two planes ma

[2016-04-20 20:23] joachimmarder commented on #592
Well, someone (not me) wrote this code that way, someone else (again not me) moved it to the new "VirtualTrees.Utils" unit and also decided not to change it. This is always a matter of personal preference, but I prefer not to have variables of platform specific types and I prefer not to change code that is running fine and has not proven to be a performance bottleneck. But I giess we could discuss

[2016-04-20 20:34] the-Arioch commented on #592
we are talking about VCL here, more so we are talking about VTV that is intimately bound to WinGDI platform. There were many promises to make VTV for DotNet - but it was never done.

VTV is platform specific - from the ear-tip to the tail-end

That change would make it more maintainable for the future.

But of course that is YOUR repository not mine.

[2016-04-20 20:43] joachimmarder commented on #592
I don't change the way I code just because I am doing VCL or .Net or FMX at the moment.

I see why it is slightly faster, but I don't see why it should be more maintainable. I case the property type changes, I need to change the local var type as well. And we had several such API type changes changes in the past of Delphi, especially when they started the Delphi.Net stuff and when they made the 64

[2016-04-21 09:23] the-Arioch commented on #592
because like i said above you introduce single responsibility principle

like i said above there would be **one** var to denote the HDC you work with, the var that can **only** be changed by the procedure itself, and the **single** line that queries the value. So modifying behaviour later would not become search-and-replace with re-analysing flow control.

PS. Also, because external thread would n

[2016-04-22 10:06] the-Arioch commented on #614
Well, at least you do advertise Stefan's fork as "XE2-compatible" on VTV page  and it also comes close to promise of XE2 support on his part.

[2016-04-22 20:30] joachimmarder commented on #614
Sure, why should I have a problem with problem with an XE2 fork? I just don't want to do XE2 and below support myself.

[2016-04-22 22:19] the-Arioch commented on #620
This whole talk though made me finally reflex about another consequent change.

I could not completely switch form enumeration to enumeration-containing record for - AFAIR - two reasons. TCheckState was used as published property - and its constants were used for default parameters in some functions.

_And I wonder why on Earth `TVirtualTreeColumn` has checkstate as Published property - where and

[2016-04-22 22:27] the-Arioch commented on #614
AFAIR you did when I uploaded my XE2 fork and told you about both my and Stefan's repositories. So perhaps I am kind of jealous. But that would be nothing... What bugs me here is

See...  You do not want to be the one considered responsible for XE2 which you do not use nor do want to use. But so does Stefan.

You offloaded repeating XE2 noise to him because you do not want to deal with it time and

[2016-04-22 22:31] the-Arioch commented on #614
Dear adem0x, did you ever wondered when and why JediVCL project stopped support for D5 and BCB5 ?

You brought a good point but if you would learn a bit how that happened for the first time and how that happened finally - then you would have to agree, that JEDI precedent you brought supports Vincent and Joachim not you.

[2016-04-23 09:48] joachimmarder commented on #620
I think it was already there when I started contributing to VTV. I use it in the first columnas a kind of master checkbox:
![mastercheckbox](https://cloud.githubusercontent.com/assets/10615289/14760616/0ff05d54-0949-11e6-86d1-e04e93162246.png) ![mastercheckbox2](https://cloud.githubusercontent.com/assets/10615289/14760620/349ce276-0949-11e6-8c6e-ecff86ee5915.png)

[2016-04-23 09:50] joachimmarder commented on #620
After reading your comment I am also not sure. The ratio of effort+boilerplate-code and and benefit does not look good for me.

[2016-04-23 10:01] joachimmarder commented on #614
Exactly

If you like to be mentioned with your fork, I don't have any problem with that and will be happy to do so. I can link Stefan' s fork for XE and yours for XE2 if you like.

[2016-04-25 11:05] the-Arioch commented on #620
yes, I remembered the published properties was the main reason why I used enumeration, and then implementing enhanced property editor seems anyway needed and easy solution. After reviewing VTV source I found it was a false memory, mostly that approach of mine was because of default arguments to methods.

I guess your screenshot shows runtime work, but the issue of Published properties is them bein

[2016-04-25 11:12] the-Arioch commented on #614
Let's see if Stefan maybe says anything.

To the moment I developed mixing feelings.

On one hand in near future I would hardly abandon XE2 and at least would keep VTV running for my own needs, like I did with JVCL for D5 back then.

OTOH since you marked Stefan's fork as faithful backport, I started taking some liberty in deviating from upstream, and we do not always agree over their merits. So m

[2016-04-25 20:41] joachimmarder commented on #620
The columns are the only objects in VTV which can be defined as designtime and that can have a checkbox. If an object can be altered at designtime, I think it is not uncommon to allow designing the visibility and state of a checkbox as well. OK, the state is not so important and most likely nobody would miss it if it wouldn't be published, but it is that way for ages.

[2016-04-26 12:44] the-Arioch commented on #620
Exactly the `state` here is kind of missing the aim, because you set the state of specific tree items in `.OnInitNode` event and then it is the accumulated set of all nodes is what defines the aggregated state of the column, it is bottom-up propagation, not top-down enforcement.

Reading the state from the DFM before any node even exist would make sense if the state of particular nodes to be creat

[2016-04-26 13:24] joachimmarder commented on #620
This is true for my use case. But those column checkboxes are being used for different use cases by other developers. E.g. they are used to define which columns are exported. Then the check state set at designtime would define a default setting which columns are exported, the columns to export can be altered at runtime by the user.

[2016-04-27 12:00] guckinsland opened #621 "Access Violation in Event OnGetText() while clearing the Header Columns"
Hi together,

if Nodelist is not empty and the Method Header.Columns.Clear() ist called, then OnGetText() Event ist firered serveral times. In OnGetText() the Column Parameter is -1 and node is not nil, also GetNodeData() retrieves a not nil Pointer. Unsing the NodeData raises sometimes an Access Violation Error.
If Nodelist is cleard before the Columns are cleard solves the issue.

Seames, that O

[2016-04-27 17:45] joachimmarder commented on #621
Which version of VTV are you using?

I am almost sure that this is not the case. Typically the problem is that that the data assigned to the node data has been freed before the node was removed from the control.

I had similar issues in my projects, especially when I start using parallel processing using threads. Handling the lifetime is sometimes difficult in multithreaded scenarios, this is why

[2016-04-27 18:45] guckinsland commented on #621
Hi, I'll post the Version tomorrow when I'm on Work.
I'ts right: NodeData is probably freed when I call Columns.Clear().
But why gets the OnGetText() notification fired in this procedure, it's called to clear the nodes, not to Update the Treenodes?

Regards, Klaus

[2016-04-27 19:02] joachimmarder commented on #621
Please post the call stack of the exception.

[2016-04-27 19:05] joachimmarder commented on #621
OK: Columns.Clear() is supposed to clear the columns, not the nodes. A treeview without columns is still supposed to display a tree and will call OnGetText.

[2016-04-27 19:05] #621 closed, assigned to joachimmarder

[2016-05-02 17:08] IgitBuh commented on #585
I've updated from an older VTV version to the latest 6.2.3 mainly for fixing DPI scaling issues. I'd like to bring to your attention that the checkboxes still aren't resized correctly in my projects. I'm using ckSystemDefault and ckDarkTick, but none of them is scaled better than the old version I've used before.

Do I need to make further adjustments to make your fix work? I assume it should work

[2016-05-03 20:44] joachimmarder commented on #585
I was able to replicate the original issue, it applied to the system checkbox images from the active Windows theme, which are used if the toThemeAware flag is set. This issue is fixed.

This applies to all checkbox images that do not come from the active style (which can be the Windows style or a VCL style). `ckLightCheck .. ckXP` are loaded from 16x16 pixel resource bitmaps, so they are static (n

[2016-05-03 20:51] joachimmarder opened #622 "Remove property `CheckImageKind`"
This idea was inspired by a comment on issue #585. On high dpi systems the checkbox images `TCheckImageKind.ckLightCheck .. TCheckImageKind.ckXP` don't look good because they come from static 16x16 pixel bitmap resources.

The images for  `TCheckImageKind.ckSystemFlat` and `TCheckImageKind.ckSystemDefault` are generated using the API call `DrawFrameControl()`, I think these are the checkbox images

[2016-05-03 21:32] IgitBuh commented on #585
I'm sorry, I don't get it. toThemeAware is enabled by default and so is it in my projects. With it being enabled the checkboxes are not scaled. After reading your comment I've disabled toThemeAware just for a quick test. I noticed that the checkboxes now look Win2000ish but now they're scaled properly (sharp)! So what's going on here? According to your comment it should be the other way around. I'

[2016-05-03 21:55] joachimmarder commented on #585
Maybe posting a screenshot would be good. And please post which RAD Studio version you are using. My comments apply to XE8.

Support for a custom image list should stay of course, but for that you only need the property `CustomCheckImages`.

In case they were not using toThemeAware or custom checkbox images anyway, they would fallback to the default checkbox images of the active style. Doesn't sou

[2016-05-03 22:02] IgitBuh commented on #585
It looks exactly the same like in the screenshot Ajoschi posted. If it really helps I can prepare some additional screenshots, of course.
I'm using Delphi XE (sglienke fork). Is this really relevant in this case?

[2016-05-03 22:24] IgitBuh commented on #585
![vtv-623-dpi-checkboxes-2](https://cloud.githubusercontent.com/assets/703571/15000356/8d93e2aa-118f-11e6-8977-f388a45847d6.png)

[2016-05-04 01:06] IgitBuh opened #623 "GetHint calculates wrong width for HintText"
Using the OnGetHint event with a custom HintText (in the following example: 'abcdefghijklmnopqrstuvwxyz') causes the hint/tooltip to be calculated wrongly.
If HintMode is set to hmTooltip the width is calculated based on the actual CellText.
If HintMode is set to hmHint the width is calculated almost correct, but with some strange space on the right.
I didn't notice those problems with an older 5.

[2016-05-04 07:34] joachimmarder commented on #585
I'm sorry, but I don't use or support Delphi XE and so cannot tell you if it is relevant.
I addressed this issue using the Advanced sample project, module "General abilities Demo", Delphi XE8 and Windows 10 64Bit. I saw what Ajoschi reported and it looked much better after the fix.

[2016-05-04 07:57] Ajoschi commented on #585
Hi IgitBuh.

I'm using Delphi XE7. toThemeAware is activated and CheckImageKind is ckSystemDefault.
All looks fine in my application.

[2016-05-04 09:33] IgitBuh commented on #585
I've just finished reading through all of the XE related topics here. I don't want to start a new discussion about this, but I'd like to mention my sincere sorrow about the fact that VTV is willingly leaving a huge user base behind by burning bridges to older versions. After all: XE3 is merely 3,5 years old and upgrades are too expensive for most developers who don't really need the new features.

[2016-05-04 09:47] joachimmarder commented on #585
The same applies for me regarding the high dpi capabilities of Delphi XE.

I know that this is in general working OK in XE5 - XE8, and was further improved in 10 and 10.1. I just upgraded to 10.1 and see that the changes in VCL may require some additional work and may $ifdefs in Virtual TreeView for proper scaling.

[2016-05-04 12:21] IgitBuh commented on #585
I compared the XE-forked version to the official version.
Seems like the checkbox calculation has been altered there.
Original:

[code]

sglienke fork:

[code]

XE applies to the else-case, so the checkbox size is hardcoded there.
I was under the impression that `GetSystemMetrics(SM_CXMENUCHECK)` will easily get the checkbox size, but apparently that's not the case. At least not for themed checkbo

[2016-05-04 13:07] IgitBuh commented on #585
Whoever's interested, here's my solution for Delphi XE:

[code]

I'm not fully satisfied with marginY, because actually I'd need the node height but I don't seem to be able to retrieve it at that point. The workaround is fine for a normal hode height, though. Actually this also concerns the official VTV version, because there's no calculation of the Y position included in the official code.

Other

[2016-05-04 18:49] joachimmarder commented on #585
This is exactly the crap why I don't want to support XE any more. Maintaining an XE-only fork would be much easier for someone who is using this daily. But doing XE - 10.1 in a single source is annoying and extremely time consuming for a UI component.

In another post Stefan made clear that he won't open an issue tracker. You could of course try a pull request.

[2016-05-04 18:56] joachimmarder opened #624 "Wrong y-postion of checkboxes in high-dpi display mode"
Checkboxes are not properly vertically centered at 175% display scaling.
![2016-05-04 20_53_27-virtual treeview features demo](https://cloud.githubusercontent.com/assets/10615289/15025645/8c6f421a-123a-11e6-8c3a-aa8fc17c4097.png)

Screenshot taken from Advanced demo project, page "General Abilities", compiled with XE8 on Windows 10x64.

[2016-05-04 18:58] joachimmarder commented on #585
I just opened issue #624 for this. Does the screenshot show what you mean?

[2016-05-04 18:59] IgitBuh commented on #585
I understand your reasons and while I was writing my previous two comments I already felt you'd point that out. All I'm saying is that by doing so you're leaving a big user base behind. It's like when some drivers aren't compatible with a new Windows version. You might say it's for a good reason, but in reality people are still using XP mainly because they don't want to or even can't throw away th

[2016-05-04 19:04] IgitBuh commented on #585
Probably yes. In short: The checkbox drawing method currently isn't aware of the node height. So the checkbox (and probably radio buttons like in your screenshot) only look correctly vertically aligned if the node height equals the checkbox height.

[2016-05-05 09:51] joachimmarder opened #625 "High dpi Scaling does not work correctly on RAD Studio 10.1 Berlin"
Screenshot of the demo project "Advanced, page "General Abilities":
![2016-05-05 11_47_26-virtual treeview features demo](https://cloud.githubusercontent.com/assets/10615289/15040783/833a2cbe-12b7-11e6-888d-6cbd787790b1.png)

RAD Studio XE8 is not affected. Yet unknown if the issue also applies to RAD Studio 10 Berlin.

[2016-05-05 09:58] joachimmarder commented on #620
After rethinking I came to the conclusion that the ratio of effort + boilerplate-code + minimal breking changes and and benefit does not look too good for me. There are more important issue I think. Maybe one day you will update your RAD Studio and will be able to send a pull request for this.  ;-)

[2016-05-05 09:58] #620 closed, assigned to joachimmarder

[2016-05-05 10:16] joachimmarder commented on #625
Reason is a new parameter `isDpiChange` of the method `TControl.ChangeScale()`. The old one with only two parameters `M,D`still exists as overload, but it may not get called.

[2016-05-05 10:18] #625 closed, assigned to joachimmarder

[2016-05-05 10:19] joachimmarder commented on #585
Another just fixed high dpi issue with 10.1 Berlin: issue #625

[2016-05-12 11:54] jampeter opened #626 "Wrong hot node selection during mouse movement over different nodes."
If you move the mouse quickly from one node to another one, the selected hot node is incorrect in some cases.
Steps to reproduce:
Use the 'Minimal'  virtual treeview demo project.
Replace the Main.dfm:
[Main.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/636047/Main.zip)

or
open the project and
1. Create a TVTHeader column.
2. Change the following options:
   a. HintAnimation: an

[2016-05-23 20:03] joachimmarder commented on #623
Issue with `hmTooltip` can be reproduced in newer Delphi versions as well.

Possible repro: Use Advanced sample project, open unit "PropertiesDemo", change property `HintMode` to `hmTooltip`, run project, open page "Properties tree", make columns small, hover over shortened value.

[2016-05-28 22:12] blikblum commented on #622
I think is a good move.

In order to minimize the work for those that need the current image based checkimage kind a VTCheckImages unit could be provided with them.

[2016-06-10 13:33] joachimmarder opened #627 "It should be possible to use OnGetImageIndexEx without having imagelists assigned"
In case one supplies images dynamicallly only, using the `OnGetImageIndexEx` event that allows to supply an imagelist besides the imageindex, this is not working very well. There is many code that assumes no image will be used if the `Images` or `StateImages` property is not assigned.

Further problems can bee seen in case the imagelist supplied through `OnGetImageIndexEx` has a different size tha

[2016-06-12 19:07] #627 closed, assigned to joachimmarder

[2016-06-15 08:09] etwoss opened #628 "SortTree / RootNode.TotalCount not working"
Hi

Just installed and tested V6.3: (17 May 2016)

Sorting does not work well now.

VirtualTrees,pas code checks:

`
  if RootNode.TotalCount <= 2 then
    Exit;
`

I have 4 nodes in my tree so TotalCount should be 4
Now no sorting is done!

if i comment these 2 lines, sorting works fine!

Eric

[2016-06-15 14:01] etwoss commented on #628
It seemed to be out own problem. Sorry, can be closed

[2016-06-15 15:00] #628 closed, assigned to joachimmarder

[2016-06-17 07:06] bamsey2k1 opened #629 "Access Violation in function TBaseVirtualTree.GetImageSize"
Revision: 925
Line: 21773
sometimes lImageList = nil

Acces Violation can occur in these lines:

ilImageList := DoGetImageIndex(Node, Kind, Column, Ghosted, Index);
  if Index >= 0 then begin       //here
    if IncludePadding then
      Result.cx := lImageList.Width + ScaledPixels(2)           //lImageList = nil
    else
      Result.cx := lImageList.Width;            //lImageList = nil
    Resul

[2016-06-17 11:42] joachimmarder commented on #629
Well, why should someone make the effort to assign an imageindex while having no imagelist assigned? That doesn't make sense to me in a control working according to the virtual paradigm.

I see that this may happen in daily work and that an EAccessVilolation is not the best outcome for this inconsistency. We should consider raising an EInvalidOpException with a meaningful exception message instead

[2016-06-17 12:59] bamsey2k1 commented on #629
imagelist is assigned, the problem began to occur since one of latest revisions

[2016-06-17 15:19] joachimmarder commented on #629
But you wrote:

What value does `Kind` have in this case?

That this is AV now occurs is most liklely a result of the fixes implemented for issue #627:

[2016-06-20 16:25] nocxsville opened #630 "node.GetData and treeview.GetNodeData(node) returning wrong pointer"
Hi,

It seems that the "node.GetData" and "treeview.GetNodeData(node)" methods returning the wrong pointer. Here my example code:

[code]

"tL_Object2" is pointing to a different address than "tL_MyObj1". However, I might doing something wrong.

tL_Object1.Value = 'Hello World'
tL_Object2.Value = ''

Thanks in advance :)

[2016-06-21 21:45] joachimmarder commented on #630
`pL_Node.GetData()` gives you the pointer to the node data, you need to dereference it to get the pointer to your object. You need to chnage your code to:

[code]

Or even better use the generic version:

[code]

I've just added a unit test for this code:
https://github.com/Virtual-TreeView/Virtual-TreeView/blob/master/Tests/VirtualStringTreeTests.pas

[2016-06-21 21:45] #630 closed, assigned to joachimmarder

[2016-06-21 21:54] joachimmarder commented on #592
I have not seen this exception with the latest versions of Virtual TreeView, so I am closing this issue as it was related to an older version.

[2016-06-21 21:54] #592 closed, assigned to nobody

[2016-07-06 08:16] landrix commented on #629
i have the same issue, Kind has value ikState

function TBaseVirtualTree.GetImageSize(Node: PVirtualNode; Kind: TVTImageKind = TVTImageKind.ikNormal; Column: TColumnIndex = 0; IncludePadding: Boolean = True): TSize;
...
  lImageList := DoGetImageIndex(Node, Kind, Column, Ghosted, Index);

DoGetImageIndex returns nil (Self.StateImages)

StateImages is never been set

[2016-07-06 09:48] joachimmarder commented on #629
But why do you supply an imageindex for ikState if you don't have StateImages assigned?

[2016-07-06 09:51] landrix commented on #629
i should take a look, i have only updated to current vst, my application isn't changed for years

is this a breaking change?

[2016-07-06 09:55] joachimmarder commented on #629
I guess yes. It was introduced to fix issue #627. I could add an assertion or raise an EInvalidOperation exception with an informative error message instead of running into the AV. In the end it makes no sense to determine an imageindex whithout having an ImageList assigned.

[2016-07-06 09:57] landrix commented on #629
ok, this works for older code with only ImageList

procedure TForm.vstKWGetImageIndex(Sender: TBaseVirtualTree;
  Node: PVirtualNode; Kind: TVTImageKind; Column: TColumnIndex;
  var Ghosted: Boolean; var ImageIndex: System.UITypes.TImageIndex);
begin
  if Kind in [ikNormal,ikSelected] then
    ImageIndex := .....
end;

[2016-07-06 10:38] joachimmarder commented on #629
I have added an assertion now.

[2016-07-06 10:38] #629 closed, assigned to joachimmarder

[2016-07-11 04:09] sanjayssk commented on #248
I can't seem to reproduce this problem on my Win 10 and Win 7. The screenshot above where the "Column3" is smudged--was it a VM being used?

[2016-07-11 07:18] joachimmarder opened #631 "Revise demo projects to use new generic methods to retreive a node's data"
Consider partly using interfaces and interfaced objects to demonstrate the convenience if memory management is handled by the RTL.

[2016-07-12 09:20] Deeem2031 opened #632 "Paint into device context via PrintTo or WM_PRINT"
Hello, i'm trying to use the virtual-treeview and paint a copy of it (and other controls) into a panel.
To accomplish this i used the TWinControl.PaintTo-routine which works well with other controls but the virtual-treeview is missing the header when using PaintTo.
I did some research but couldn't figure out why it is missing. Besides that I tried using WM_PRINT, which seems to work better as it d

[2016-07-12 20:09] joachimmarder commented on #632
Strange, it worked for me. Demo project:
[#632.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/360186/632.zip)

[2016-07-12 20:28] joachimmarder commented on #632
May I ask why you want to do that?

This must be related to the fact that `TBaseVirtualTree.WMPaint()` paints the header using `GetDCEx()`, and `TBaseVirtualTree.Paint()` uses `Canvas`. There is already an if-condition in `WMPaint()` that checks for `csPaintCopy`, which is set in case `CopyTo()`was used. I have no ideas why this was made that way in the past.

[2016-07-14 15:59] Deeem2031 commented on #632
The goal is to fade out the content of a form so the user is aware that he can't use the form right now. To achieve this the content of the form is drawn into a bitmap (with PaintTo) and this image (once mixed with a bit gray) is painted over the form.

Yes, if i change the `GetDCEx()` to something like

[code]

the Header is being drawn **but** over the first node/child. Easily reproducible by ad

[2016-07-14 19:46] joachimmarder commented on #632
I also noticed that, I guess the viewport is shifted here, or the client area is defined differently.

[2016-07-16 08:33] sanjayssk commented on #623
This is now done and tested.

[2016-07-16 11:01] sanjayssk commented on #148
Short issue description for changes.txt:
Backround image property can now load files other than bmp. Tested png, gif and jpg.

[2016-07-16 11:03] sanjayssk commented on #623
Short issue description for changes.txt:
Hint rectangle width fixed for custom hint text in the Tooltip hint mode.

[2016-07-16 11:05] #623 closed, assigned to sanjayssk

[2016-07-16 11:05] #148 closed, assigned to sanjayssk

[2016-07-18 06:10] sanjayssk commented on #546
I think, it's incorrect to call RepaintNode. One should call InvalidateNode instead. Then it works without any problem.

[2016-07-18 21:02] ottigeda opened #633 "NodeHeight does not scale in high-dpi mode, if RootNodeCount is set before scaling happens"
See attached example project
If pressing Button1
- on a screen with font size = 100% the VirtualStringTree can show approx 9 nodes at once (correct)
- on a screen with font size = 125% the VirtualStringTree can show approx 11 nodes at once (too many)
- on a screen with font size = 200% the Node Text does start to overlap
  If pressing Button2 however it works as expected: regardless whats the font

[2016-07-19 07:02] #546 closed, assigned to sanjayssk

[2016-07-19 10:40] joachimmarder commented on #633
The problem behind "Button2" was that scaling was performed twice: First within `CreateWnd()` and `CMFontChaged()`, which call `AutoScale()` that detected that the current `DefaultNodeHeight` is too small for the current font. Then setting the parent control triggered a call to `ChangeScale()` which scaled the DefaultNodeHeight (again). This has now been fixed.

[2016-07-19 10:46] joachimmarder commented on #633
The problem behind "Button1" is that `SetDefaultNodeHeight()` does not change the node height of existing nodes. This behavior is currently by design. The issue seen here can be circumvented easily by not creating nodes that early, but when the control is part of a form.

For changing the behavior of `SetDefaultNodeHeight()` a separate issue should be created, if truly a need for change is seen he

[2016-07-19 10:46] #633 closed, assigned to joachimmarder

[2016-07-19 11:19] ottigeda commented on #633
I tried to do an component which derives from VirtualStringTree, which shows some static text, which the user can configure at design time. Due to nodes already get set while loading the component, I have a problem on how to circumvent this. It is because I cannot see a point where I could create the nodes later. If you have some hint for me on what I am doing wrong or how this could be circumvent

[2016-07-19 11:32] joachimmarder commented on #633
You should add nodes by overriding `CreateWnd()` (after calling inherited) and not do that earlier. This applies more or less to all VCL controls.
Please note that this is not a support forum, Asking such questions e.g. at stackoverflow.com is more suitable and might generate quicker responses.

[2016-07-19 11:39] ottigeda commented on #633
I understand, will do. Thanks a lot for your help again!

[2016-07-20 06:08] sanjayssk commented on #544
Rather than the code suggested, the solution involves offsetting MaxX correctly based on BidiMode. Done and tested.

[2016-07-20 06:08] #544 closed, assigned to sanjayssk

[2016-07-20 06:10] sanjayssk commented on #427
The problem can be recreated by changing BidiMode of the Advanced Demo--Grid. The fix for issue #544 also fixed this problem.

[2016-07-20 06:10] #427 closed, assigned to nobody

[2016-07-21 14:46] LordNullPointer opened #634 "[Feature Request] VisibleNode Index Property"
VirtualTreeView should get a readonly property to receive the VisibleIndex of a specific node. The visible index of the node should be counted from top to bottom. So it needs to be counted when the program needs this information. It should also consider the nodes in deeper levels, but only if they're visible.

This feature is required if you want to paint an alternating color for the rows and mayb

[2016-07-21 14:51] LordNullPointer opened #635 "[Feature Request] New OnAddingToSelection Event"
VirtualTreeView should have a "OnAddingToSelection Event" to have the chance to interrupt the selection process. Many events do have these kinds of event e.g. OnFocusChanging, OnHeaderDragging, OnExpanding.

It would be great to get this event to disallow the selection of specific nodes. Useful for example if there're some nodes which should only act as a seperator for a category.

[2016-07-21 17:32] sanjayssk commented on #381
The whole slice including the background image is animated. Not possible to fix in the current design. Added a usage comment not to use toAnimatedToggle with a background image.

[2016-07-21 17:32] #381 closed, assigned to sanjayssk

[2016-07-21 18:00] joachimmarder commented on #634
Should it be counted from the very first node, or from the first node in the currently visible scroll area? The latter could be faster, but a node would change its VisibleIndex

The suggested code is a little slow if a lot of nodes are visible in the tree, because it always starts iterating from the beginning. For painting rows in alternating colors the complexity is `O(n*m)` where `n` is the numb

[2016-07-21 18:11] joachimmarder commented on #635
Nodes that cannot be selected should be made disabled using the property `IsDisbaled[]`.

[2016-07-21 20:36] LordNullPointer commented on #634
I think it would be ok to take the first partially visible node to be the first index, starting with 0. Another possibility would be, to make two properties. First one would be AbsoluteVisibleIndex (Counting from the very first node) and the second one is VisibleIndex oder EffectivelyVisibleIndex (Counting from the first partially visible node).

I thought that this code wouldn't be the best way t

[2016-07-21 20:43] LordNullPointer commented on #635
Hmm that's an interesting point. But I think it's not a good way to disable a complete node only because I don't want to select it. Maybe in the next step I want to edit this node. First step would then be to enable this node again and then start editing. I think that's not the best way.

Is there a reason to not implement this event? I think it would be a really good helper event for a lot of cas

[2016-07-22 01:58] sanjayssk commented on #634
I think it needs some reverse thinking. Why didn't the original designer think of such a property? Maintaining such index properties on a node is a expensive on processing because each insertion, move or deletion will have to iterate the tree to fix visible indexes of other nodes which defeats the purpose of the tree structure in the first place. It is similar to the concept of a linked list data

[2016-07-22 04:14] sanjayssk commented on #635
Once you disallow selection on a node, there is no user interface paradigm possible in the tree to specify that node as the target of any further action like editing. It has to be some other application interface and logic for the user to be able to specify that node as a target  for further actions. That same logic can reenable the node if necessary, for example, before calling EditNode on it.

O

[2016-07-22 06:34] joachimmarder commented on #635
But this requires that the user first selects this specific node, and you won't know that the user want to edit the node when he tries to select it. of course this problem applies to both approaches but isn't easier to solve in one of them.

Possible reasons:
- It does not really add a new feature, it should be able to achieve the same using `IsDiabled[]`and `OnAddToSelection`
- Maintainability. W

[2016-07-22 07:18] joachimmarder commented on #634
It would be extremely costly to maintain those properties.

[2016-07-26 14:27] BjHe opened #636 "Item height too small in high-dpi-aware application"
If the high-dpi-aware flag in the manifest file is set, the default item height is too small when running in an high-dpi environment.

This can be reproduced with the Minimal-Demo by setting the high-dpi flag for the manifest file in the project options.

Following screenshots have been made with 200% dpi under Windows 10, projects were compiled with Delphi 10.1 Berlin:

**Not high-dpi-aware:**
![

[2016-07-26 18:26] joachimmarder commented on #636
Which version of Virtual TreeView are you using?

[2016-07-27 06:56] BjHe commented on #636
I tried with v6.2.2, v6.3.0 and current trunk.

[2016-07-29 02:00] RicardoBer commented on #248
The problem was reproduced on windows 7 ultimate clean installation, not in VM (yes I test on a VM windows 8 and one VM windows XP (I know, XP...). And fail in all of them, persistent error. I compile it with delphi XE7 and XE3.

Only pick column and move it from left to right and viceversa some times and problem arise. If you need that I make more test, please tellme.

Upper capture was with unmo

[2016-07-29 10:04] obones opened #637 "Tree inside frame inside tabsheet with constraints is squished"
Let's consider the following conditions:

A tree is inside a frame that is created at runtime whose parent is not visible immediately
The tree has minheight/width constraints that conflict with other controls constraint

Upon displaying the tree, its constraints will be set to very small values instead of resizing the frame, thus leading to a "squished" appearance.

This comes from the fact that

[2016-07-29 10:07] obones commented on #637
Here is the pull request: https://github.com/Virtual-TreeView/Virtual-TreeView/pull/638

[2016-07-31 19:37] joachimmarder commented on #637
Attached the sample project:
[Constraints.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/392594/Constraints.zip)

[2016-08-01 17:35] joachimmarder opened #639 "Scrolbars are not correctly themed under certain cirumstances"
Repro steps
- Open project "Advanced.dproj"
- In project options set a VCL style, e.g. "Amakrits",  under "Appearance"
-  Run the project
- Go to the 4th tab "Hide and show nodes"
- In the control on the top left expand a node
- The now appearing scrollbar is not styled (see attached screenshot)

![2016-08-01 19_32_53-virtual treeview features demo](https://cloud.githubusercontent.com/assets/10615

[2016-08-01 19:03] joachimmarder commented on #639
Proposed patch:
[VirtualTrees.pas.patch.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/394567/VirtualTrees.pas.patch.zip)

[2016-08-01 19:19] joachimmarder commented on #636
In trunk I was able to replicate the behavior in high-dpi builds only in case `toAutoChangeScale` was not set in `TreeOptions.AutoOptions`. But this is expected behavior then.

Do you have set `toAutoChangeScale` in your case?

[2016-08-01 20:19] joachimmarder opened #640 "Edit control for in-place editing wrongly scaled in high-dpi scenarios"
Repro steps:
- Open "Advanced" demo project, open unit `SpeedDemo`
- Make sure `toAutoChnageScale` is set in `TreeOptions.AutoOptions`
- Set `toEditable` in `TreeOptions.MiscOptions`
- Build the project sand run in>150% scaling
- Create nodes and hit `F2`

Font is Edit box is too large:
![2016-08-01 22_18_17-virtual treeview features demo](https://cloud.githubusercontent.com/assets/10615289/173075

[2016-08-01 20:39] joachimmarder commented on #640
Proposed solution:
- First assign `Parent` of edit field, then adjust font size, to prevent scaling of `Font`property when added to parent control
- Use `AutoSize` property temporary to  ensure proper initial bounds of edit box

[2016-08-01 20:45] #640 closed, assigned to joachimmarder

[2016-08-02 07:08] BjHe commented on #636
Sometimes the solution can be so simple... TreeOptions.AutoOptions set to toAutoChangeScale works great.
Thanks.

[2016-08-02 10:27] #636 closed, assigned to joachimmarder

[2016-08-03 10:52] maciej-izak opened #641 "Single code base for Lazarus (Free Pascal) and Delphi"
I think is good idea to merge https://github.com/blikblum/VirtualTreeView-Lazarus into original Virtual-TreeView repository to keep single and clear code base for Delphi and Lazarus.

[2016-08-03 13:09] sanjayssk commented on #248
Please test with the latest commit and confirm that the problem is solved.

[2016-08-04 01:02] RicardoBer commented on #248
Worst,

![image](https://cloud.githubusercontent.com/assets/14173576/17386941/64b44020-59ef-11e6-9b5b-b8e2c96d06dd.png)

I download latest version from github (thursday 4/08/2016) and the icons seems to be more affected, this time some icons or pices of them appear in others colums headers (look at left of "Localidad").

[2016-08-04 02:05] sanjayssk commented on #248
The issue is originally about smudged header caption in the first screenshot. Please check if that problem is solved. The problem of icons might be related to different part of the code and may need another solution so it needs to be pushed to another issue.

[2016-08-04 02:23] RicardoBer commented on #248
Yes, it's exactly the same, capture of demo with last versión of VT

![image](https://cloud.githubusercontent.com/assets/14173576/17388236/1eefbcd4-59fb-11e6-8130-e6d65ba1470c.png)

 drag operation shows lagging and blinking now too.

[2016-08-04 03:18] sanjayssk commented on #248
Please look again carefully. In the earlier screenshot, the caption of the source "column3" is distorted.
![image](https://cloud.githubusercontent.com/assets/20315846/17389238/e961caec-5a1f-11e6-826f-262e2b3c27cf.png)

In the new screenshot, it's properly aligned.
![image](https://cloud.githubusercontent.com/assets/20315846/17389252/21502fca-5a20-11e6-8fbf-0c9f46164217.png)

That's the problem tha

[2016-08-04 04:15] RicardoBer commented on #248
ok, it is aligned, but continue smudge, blue parts drawing anywhere, draw very laggy, blinking and "eat" the position icons. vincentparrett don't talk anytime about align.

Sorry, but I think there are a serious problem when drag the header, I don't think the align is the worst one.

[2016-08-04 04:52] vincentparrett commented on #248
FWIW, I am not the original reporter of this issue, my name was added by github because I imported the repo from googlecode.

[2016-08-04 04:52] sanjayssk commented on #248
It takes several attempts to produce that kind of caption distortion. The fact that it's included in the original screenshot means it was shown as the main problem to be tackled. It stands out in that screenshot.

Let's see what Joachim decides.

It might be better if the issue is broken into multiple parts because there seem to be multiple problems with dragging and the relevant code might be dif

[2016-08-04 05:31] RicardoBer commented on #248
Ok, thanks for your work and for the response, I understand.

[2016-08-04 07:38] sanjayssk commented on #248
Thank you for your help in testing and for reporting problems.

[2016-08-04 13:53] joachimmarder commented on #248
I case the cause and the resolutions are different for the various parts, I vote for separating them. If cause and resolution are similar, we should keep it in a single issue.

[2016-08-05 06:48] sanjayssk commented on #248
I also found a usage issue for header drop marks. When the dragged column is not going to change position, no drop mark should appear. Currently it does. To recreate, drag a column a little to the left column (below the header). A drop mark still appears on the right of left column header even though the current column will not be dragged. Similar problem with the right drag. Is this correct usage

[2016-08-05 07:22] joachimmarder commented on #248
I agree. You may open a separate issue at GitHub for this.

[2016-08-05 09:01] Eecee opened #642 "Build issue (C++ Builder 10 Seattle)"
Hello!
We're experiencing build issue with the latest available build (V6.3, 17 May 2016).

First scenario (Debug configuration, Win32):
1. CBuilder 10 project was built and installed successfully with C++ Builder 10 Seattle (without Delphi personality);
2. All paths were added to the environment;
3. New VCL project with VirtualDrawTree was created (Simple drag and drop of the component);
4. Build

[2016-08-05 18:27] joachimmarder commented on #642
Could you please post the full call stack of this exception?

There is also a package folder named "CBuilder 10". this should be used with RAD Studio 10 Seattle.

[2016-08-05 21:04] joachimmarder commented on #637
In your sample frame you have aligned both controls as `alClient`. This is something you should not do. If I set the `Align` property of the VSTree to `alTop` the problem no longer exists.

[2016-08-05 21:08] joachimmarder commented on #637
If I replace the `TVirtualStringTree` in your project with a `TListView` the exact same issue occurs. This shows that this is not an issue of `TVirtualStringTree` alone and so should not be fixed in Virtual TreeView code.

[2016-08-05 21:08] #637 closed, assigned to joachimmarder

[2016-08-05 21:14] joachimmarder commented on #641
Isn't that what forks are for? The connection to the original source is still there and people who actually use Lazarus maintain the source for it.

I am happy to accept issues with pull request, but I don't think that this issue makes any sense.

[2016-08-05 21:17] joachimmarder commented on #452
Closing this issue in favor of #626, which seems to be the same issue.

[2016-08-05 21:18] #452 closed, assigned to nobody

[2016-08-05 21:22] joachimmarder commented on #634
For this specific feature issue #224 already exists. I don't think we need this issue in addition. The proposed solutions have too strong impacts if not used.

[2016-08-05 21:22] #634 closed, assigned to nobody

[2016-08-05 21:25] joachimmarder commented on #635
No convincing new arguments have been proposed, I will close the issue for now.

[2016-08-05 21:25] #635 closed, assigned to joachimmarder

[2016-08-06 06:07] sanjayssk opened #643 "VT Header dropmark appears even if dragged column won't change position"
This can be verified in Advanced Demo "Hide and show nodes." In the lower tree, move column 2 to the next column, column 3. The drop mark appears to the left of column 3 indicating that column 2 will be dropped on the left. But it's already on the left so this drop mark is unnecessary. Ditto for moving to previous column, column 1 where the drop mark on the right appears unnecessarily.

Needs a fi

[2016-08-06 06:22] sanjayssk commented on #248
The dropmark icon drawing problems in this issue are related to a missing function in the TVTHeader class that should have been there similar to UpdateWindowAndDragImage in TBaseVirtualTree. Basically, during a drag, only the drop marks appear or go. At that instant, the above type of function should be used to redraw the changed header into the drag image's backup image to solve the problem.

Cur

[2016-08-07 13:58] DRAMA22 opened #644 "its not really issue but i try to draw nodes side by side can i do that ?"
i asked question about it here

http://stackoverflow.com/questions/38809201/how-to-draw-nodes-inline-in-tvirualtree/38812358

but i did not got really suitable answer i saw a a project using Tvirtuaildrawtree to draw nodes side by side

how can i do that in coding ?

[2016-08-07 21:02] joachimmarder commented on #644
I'm sorry, but this is not a support forum, this is a bug tracker. StackOverflow.com is the best place to get support. For your task TvirtualDrawTree does not seem to be the best match. VCL's TFlowPanel could maybe do this job.

[2016-08-07 21:02] #644 closed, assigned to nobody

[2016-08-08 07:15] Eecee commented on #642
Access violation call stack:

:50034e65 BORLNDMM.@Borlndmm@SysGetMem$qqri + 0x2d
:0036675d ; ___CRTL_MEM_Revector
:003666b1 _malloc + 0xD
:0036a3f0 __unlockLocale + 0x14
:0036f981 ; __startupd
:002e1d4a ; Vtheaderpopup
:77915c71 ; ntdll.dll
:779161a5 ; ntdll.dll
:779160a7 ntdll.LdrQueryImageFileKeyOption + 0xd5
:77913659 ntdll.LdrInitializeThunk + 0x10

I can attach full proccess dump if you'd lik

[2016-08-09 07:35] maciej-izak commented on #641
I think not github fork :) - sooner or later any fork should be merged into main project by pull request (of course "pull request" for more personal fork has no sense, but this fork is very important for the community). The code base is not small and keeping up-to-date fork is not simple task. For better compatibility is worth to merge mentioned fork.

For example I have few bug fix and patches bu

[2016-08-09 12:57] joachimmarder commented on #641
First we need to make the code bases more similar. I don't think it is a good idea to do this with a single monster pull request. Instead we should do that with subsequent pull requests, each of them should have a clear focus and appropriate commit messages. Once we have a similar code base, we can try to continue with a single code base.

Why? If you are forking from blikblum/VirtualTreeView-Laza

[2016-08-09 13:34] joachimmarder commented on #642
The call stack is not very readable. Is there a chance that you generate a readable using MadExcept or EurekaLog?

[2016-08-10 10:26] Eecee commented on #642
Tried both with no luck.
Seems like installed handlers does not get any chance to catch this exception, because it happens before them.

But, i have discovered two interesting things:
1) Another AV :) Don't worry, this is not so obscure, as the previous one. So, i have my environment (C++ Builder 10 Seattle) with installed VirtualTrees component, and simple VCL app with VirtualDrawTree on it.
This

[2016-08-10 11:46] joachimmarder commented on #642
I analyzed some similar cases with @romankassebaum in the past in which C++ Builder did not execute the initialization part of units, which seems to be a bug in C++ Builder. We tried to report them to Embarcadero without success. We never observed something similar with the Delphi Personality.

I tried to work around this problem by not having any code in the initialization part of the units, but

[2016-08-10 17:46] eggieggi opened #645 "Can't link 64 bit VCL app with VirtualTreeView in C++ Builder 10.1 Berlin"
I am considering upgrading an app written in C++ Builder XE 2 to C++ Builder 10.1 Berlin.  As a first step, I installed VirtualTreeView as per the instructions and created a dummy VCL app with a single VirtualTree in the main form.  Ran it and everything worked fine.  Then I added a 64 bit target and I get a linker error because VirtualTreesR.lib can't be found.  There is a VirtualTreesR.lib in C:

[2016-08-10 18:22] joachimmarder commented on #645
If you target Win64 you need to build VirtualTreesR*.bpl also for the platform "Win64". Did you do that?
Which version of Virtual TreeView are you using?
Are you using the RAD Studio Packages (.dproj) or the pure C++ Builder packages (.cbproj) of Virtual TreeView?

[2016-08-11 08:03] maciej-izak commented on #641
Soon I will try to split blikblum work on small parts in my own branch (+ my patches). I am glad to hear that Virtual-TreeView is open for Lazarus modifications :)

[2016-08-13 20:38] eggieggi commented on #645
Thank you for the reply.  Yes I built the 32 bit and 64 bit versions of the VirtualTreesR.bpl files.  I have tried both version 6.3 and the trunk version off github.
I did not see the CBuilder package, and I assumed that since I was running RAD Studio, I only had to use the RAD studio package.  So I tried again.  Since the 30 day demo of RAD Studio had expired, I got a new serial and did a clean r

[2016-08-16 20:19] joachimmarder commented on #645
I don't use C++ Builder and I currently do not have a C++ Builder installation that I could use for testing. I guess that just the installation steps for C++ Builder are incomplete. I would appreciate if an experienced C++ Builder developer could check them.

Is this file present on your disk? If yes, then most likely this path is missing in your library path.
Does this happen for both Win32 and W

[2016-08-16 21:06] eggieggi commented on #645
There is a VirtualTreesR.lib in C:\Users\Public\Documents\Embarcadero\Studio\18.0\Dcp but none in the Win64 subdirectory.  VirtualTreeView works fine in 32 bit mode, so I'm guessing that if I had a VirtualTreesR.lib in ...\18.0\Dcp\Win64, it would work for 64 bit too.

[2016-08-17 16:33] sanjayssk commented on #248
I just committed a fix for this header smudge problem. Please test it and let me know whether it works better.

Thanks.

[2016-08-20 08:08] joachimmarder commented on #645
Is there a file `VirtualTreesR.a` in the `Win64` subfolder? If not, what files are there?

[2016-08-20 09:24] eggieggi commented on #645
Yes, there is.  VirtualTreesR.a, VirtualTreesR.bpi and VirtualTreesR.dcp

[2016-08-20 17:33] RicardoBer commented on #248
I download latest version today, and sorry, but worst.

![image](https://cloud.githubusercontent.com/assets/14173576/17832756/b9a44eea-670a-11e6-920e-31c645d7d862.png)

Blinking is higher and many times background is drawed over drag object. In the image the dragged object is under col 1 header. This behavior doesn't occur in previous version.

I only can say thanks by this control and I hope you

[2016-08-22 14:05] sanjayssk commented on #248
I can't see any difference in blinking from previous to this one. The blinking occurs only when the drag goes over a new column. That is same as before. Are you using a VM? I'm not using a VM.

Whatever I do, I can't recreate that problem. Can you give me steps to recreate the problem shown in the screenshot? Also tell whether you are using a VM.

Thanks.

[2016-08-22 21:54] RicardoBer commented on #248
Hello, no I'm using an q9550 with ati 6870, Windows 7 64bits, no vm. I tested today in other two pc with windows 7 and one more with windows 8, same problem in all of them. I only catch a column header and displace to the left over other columns. In deed i can only see that works well on windows XP but I read the code and in xp use other mechanism.

Tomorrow I'm goint to prepare a windows 10 machi

[2016-08-23 07:49] joachimmarder commented on #645
For some reason C++ Builder seems to use the extension `.a` for Win64 builds instead of the traditional `.lib`. So we need to tell the linker for what files to look for.

Another user wrote me that replacing

[code]

with

[code]

solved the problem for him. Could you please test that?

[2016-08-23 10:09] PascalRiekenberg opened #646 "Free Pascal compatibility"
Is there a chance of making Virtual-TreeView Free Pascal compatible?

[2016-08-23 11:20] eggieggi commented on #645
YES, YES, YES (and no).  It did not quite work, I got the same "missing virtualtreesr.lib" linker error, but if I changed it to
`
{$HPPEMIT '#pragma comment(lib, "VirtualTreesR.a")'}
`
I got a linker error that Shell32.lib was missing.  I then commented out the
`
{$HPPEMIT '#pragma link "Shell32.lib"'}
`
line below it, reinstalled the library and now my dummy project links and runs in 64 bit mode.

[2016-08-23 16:50] salvadorbs commented on #646
Try https://github.com/blikblum/VirtualTreeView-Lazarus

[2016-08-23 20:24] joachimmarder commented on #646
Duplicate, see #641

[2016-08-23 20:24] #646 closed, assigned to joachimmarder

[2016-08-23 20:40] joachimmarder commented on #645
This is really strange, Embarcadero's suggest that it should work:
http://docwiki.embarcadero.com/RADStudio/Seattle/en/Upgrading_Existing_C%2B%2B_Projects_to_64-bit_Windows#.23pragma_link

The point according to this web page is that one should not use a file extensions. Well, I guess I will change this according to the docs.

[2016-08-24 07:24] PascalRiekenberg commented on #646
Sorry. I didn't search for lazarus!

[2016-08-24 12:23] sanjayssk commented on #248
OK. I got it now why I'm not seeing the same problems as you. All this time, I have been testing under Windows 10, assuming that it's same underneath as Windows 7, at least for win32 apps. In Windows 10, the fix works quite well and I can't duplicate that problem at all. But after your message, I just tested on an old Windows 7 laptop, and I can duplicate the problem of drag image going under imme

[2016-08-25 12:22] RicardoBer commented on #248
Yes, it behavior it's different depending on windows version. In windows 10 less lagging (many anyway), don't paint behind header, but cut position indicators.

![image](https://cloud.githubusercontent.com/assets/14173576/17968848/420a4a9c-6acf-11e6-8336-4160414abab3.png)

[2016-08-25 22:20] #645 closed, assigned to joachimmarder

[2016-08-25 22:23] joachimmarder commented on #642
The code in the initialization section of unit `VirtualTrees.Clpbrd` has been removed now.

I tested this with the latest code from GitHub master on C++ Builder 10.1 Berlin with a hello-world-project and it is working fine for me now.

[2016-08-25 22:23] #642 closed, assigned to joachimmarder

[2016-08-31 11:08] landrix opened #648 "MemoryLeak in VirtualTrees.ClipBoard"
after the last changes, you should add

finalization

  if _List <> nil then
    TClipboardFormatList.Clear;
  FreeAndNil(_List);

to prevent memleaks.

Why do you moved _List from Class Var to a local Var?

[2016-08-31 18:08] joachimmarder commented on #648
Calling `Clear()` should not be necessary because `TList.Destroy()` calls Clear(), and `FreeandNil()` calls the destructor.

Because I can do initialization outside the scope of the initialization section, this is what #642 was about. A global variable is initialized with `nil` autmatically: http://stackoverflow.com/questions/132725/are-delphi-variables-initialized-with-a-value-by-default

Delphi

[2016-08-31 18:29] landrix commented on #648
Without clear, the Strings in the record leaves in memory. I think, clear from list is not enough.i've checked this with fastmm4. I had never looked at this, if there is no leak.

[2016-08-31 19:52] joachimmarder commented on #648
Sorry, you are right. I missed the fact that the list stores Pointers to records, and not records or objects. I think would change that and do that using a generic list.

[2016-08-31 20:12] #648 closed, assigned to nobody

[2016-09-01 06:57] ghost opened #649 "toAutoSpanColumns + navigation"
We are in the process of upgrading from 1.31 => 4.8.7 (last version with BCB6 support - done but patched) => 6.3.
In 1.31 navigation like VK_LEFT honors toAutoSpanColumns ie if you are positioned right of a spanned cell and fires VK_LEFT => you will move to the first-spanned-cell. In 6.3 you end up in the last-spanned-cell and the cell-focus-rectangle disappears.

Dunno why this was dropped somewh

[2016-09-01 07:08] ghost opened #650 "VK_BACK + edit"
VK_BACK in an editable cell with no parent => edit/clear
VK_BACK in an editable cell with parent => navigate to parent

[2016-09-01 07:37] ghost commented on #310
Version 6.3
We are using the same setup and experiences the same problem + others; the problems seems to go away when adding the patch-snippet below in TBaseVirtualTree.HandleMouseDown. Note - all components in our applications uses toAutoSpanColumns/toGridExtensions/toExtendedFocus ie maybe the code-snippet should only run if certain conditions are meet:

[code]

[2016-09-01 08:57] ghost opened #651 "ContextMenu in MainColumn"
Version: 6.3 (using toGridExtensions and toExtendedFocus)

Right-click in !MainColumn cell => hello Mr. ContextMenu
Right-click in MainColumn cell (Image but no text) => the row is selected; you have to keep on clicking until it eventually appears... I have a patch for this for version 4.8.3 but it's really messy...

[2016-09-01 11:04] joachimmarder commented on #649
Sorry, no. I took over the project with V5. And I personally never used spanned cells.

If you think this is a bug, could you please attach a sample project that allows to replicate the issue? Also a modified demo project would be fine.

[2016-09-01 11:10] joachimmarder commented on #650
Which version of Virtual TreeView are you using?

The bug report is very brief. Please respect our rules for submitting bugs written on the [homepage](https://github.com/Virtual-TreeView/Virtual-TreeView):

First of all, please make sure you are using the latest official version. When reporting a bug please include a sample project that allows us to quickly reproduce the bug. This can also be one

[2016-09-01 12:13] ghost commented on #650
Sorry about that...
Version: 6.3
I don't have the Delphi.Personality (using C++) ie I can't use the demo projects out of the box. Anyway, the problem is due to the following in TBaseVirtualTree.WMKeyDown; if I remove the else-part it works.
That is, if the user hits VK_BACK to edit a cell it will work sometimes depending where in the tree the cell is located. Anyway close if you like, I can live w

[2016-09-01 12:25] ghost commented on #649
Hmmm, I patch:ed 4.8.7 internally using code from 1.31 - I'll try to do the same for 6.3 and post a patch here (I guess you are allowed to use 1.31 code yes?)...

[2016-09-01 15:19] joachimmarder commented on #651
In GitHub master I just extended the `GridDemo` of the demo project "Advanced" with a popup menu trying to replicate this issue, but without success.

[2016-09-01 15:23] joachimmarder commented on #650
Removing the else part is not an option, because this is typical treeview behavior, as you can see in Windows Explorer.

OK.

[2016-09-01 15:23] #650 closed, assigned to nobody

[2016-09-01 15:24] joachimmarder commented on #649
I think so, I guess it was published under the same license as the current version.

[2016-09-01 17:17] joachimmarder commented on #512
I am closing this issue for cleanup purposes. We should open more specific issues. Discussion is still possible within this issue.

[2016-09-01 17:17] #512 closed, assigned to vincentparrett

[2016-09-01 17:21] joachimmarder commented on #8
Issue is more than 7 years old and imported, closing for cleanup purposes.

[2016-09-01 17:21] #8 closed, assigned to nobody

[2016-09-01 18:57] ghost commented on #651
Sorry should have been more detailed; we are using a component derived from TCustomVirtualStringTree with a GetPopupMenu override and toRightClickSelect activated (and toGridExtensions and toExtendedFocus)
If toRightClickSelect is on => GetPopupMenu is not called
If toRightClickSelect is off => GetPopupMenu is called but the FocusedNode is wrong

Right click should work like Windows Explorer ie se

[2016-09-02 05:44] ghost commented on #651
OK, I'm able to workaround this; if I drop toRightClickSelect and do a WMContextMenu override
it's seems to work nicely aka close this issue if you like...

[code]

[2016-09-05 10:30] pableras opened #652 "Error compiling VirtualTrees.Clipboard"
Dear sir

When using VirtualTrees in a project with the option _"Emit runtime type information"_ activate there's compilation errors:

[code]

This errors is due to these four fields are defined as published because there's no explicit visibility definition.

Since the class TClipboardFormatListEntry is never used in design time, please change the visibility of these fields to **public**:

[code]

[2016-09-05 18:11] joachimmarder commented on #652
Thanks for reporting, fixed in GitHub master

[2016-09-05 18:11] #652 closed, assigned to joachimmarder

[2016-09-05 22:35] ghost commented on #649
VK_{UP|DOWN|LEFT|RIGHT} should use the following 1.31 functions:

[code]

and

[code]

VK_LEFT and VK_RIGHT is simple; use the functions above to set FocusedColumn.

VK_UP and VK_DOWN is tricky; 1.31 mimics the navigation of excel (wider indicates span):

[code]

Start position is 1 - VK_UP four time moves us to position 2-5. That is we need to keep track of the actual column. This was handled by

[2016-09-06 14:04] sanjayssk commented on #248
Well, I have made some major changes to fix this issue. I tested this time on Windows 7 too. I no longer see the blue rectangles, delay and partial drop marks being painted. Please use the latest commit to test the fix and let me know if you still see any problems.

Thanks.

[2016-09-06 20:18] joachimmarder commented on #651
I'm sorry, but I was not able to replicate this behavior here.

OK.

[2016-09-06 20:18] #651 closed, assigned to nobody

[2016-09-06 22:54] ghost commented on #310
This can be reproduced by making a few changes to GridDemo:

GridDemo.dfm - add the following

[code]

(toAlwaysHideSelection is not strictly needed but shows the problem in a better way)

GridDemo.pas - change this procedure

[code]

First click Customer ID 2:
![autospan_1](https://cloud.githubusercontent.com/assets/21412465/18293700/dd6f3348-7494-11e6-98bd-ce3a8f266650.jpg)

Now click on LastNam

[2016-09-07 15:51] ahausladen opened #653 "GetFirstVisibleChild/NoInit check for wrong node if IncludeFiltered=True"
The GetFirstVisibleChild and GetFirstVisibleChildNoInit methods check the wrong node for IsEffectivelyFiltered (`Node` instead of `Result`) if the IncludeFiltered flag is set to True.

[2016-09-08 06:54] #653 closed, assigned to joachimmarder

[2016-09-10 11:55] sanjayssk commented on #310
I just committed a fix. Please verify.

[2016-09-10 11:56] #643 closed, assigned to sanjayssk

[2016-09-11 06:05] ghost commented on #310
That solves the autospan issue...

Unfortunately there is another redraw bug when toGridExtensions + toExtendedFocus is used -
my internal-InvalidateNode-hack-patch solved that but I had completely forgotten about it - sorry.

If I click-select the MainColumn-cell (which has an icon):
![rowselect_1](https://cloud.githubusercontent.com/assets/21412465/18415524/5710e9e0-77f5-11e6-8cf8-d802251b945a.j

[2016-09-11 08:07] sanjayssk commented on #310
The first picture looks more like a fullrowselect so it's not clear what options you are using. Also, what do you mean by clear--clear the content or clear the selection? If you can give me the changes and the steps to recreate the problem in the grid demo similar to what you gave for the earlier problem, it will save my time in verifying the problem and your fix.  Thanks.

[2016-09-11 08:24] sanjayssk commented on #624
I can't reproduce this problem on Windows 10 and Windows 8.1. Has this been fixed?

[2016-09-12 19:19] joachimmarder commented on #624
No, it has not been Fixed. New Screenshot of GitHub master, Advanced demo project, page "General Abilities", compiled with 10.1 Berlin on Windows 10x64 @175%:

![2016-09-12 21_14_13-virtual treeview features demo](https://cloud.githubusercontent.com/assets/10615289/18449213/9ef568aa-792e-11e6-8d10-1a757eb726af.png)

[2016-09-12 21:28] joachimmarder commented on #622
Property `CheckImageKind` is still there to prevent errors in the IDE when opening existing forms, but it is no longer stored in DFM files. This will simplify its removal in a later version. The only remaining valid values in the enum are `ckSystemDefault` and `ckCustom`.

[2016-09-12 21:29] #622 closed, assigned to joachimmarder

[2016-09-13 05:38] ghost commented on #310
The other issue is due to unrelated issues in our derived VT-class => this issue is fixed  - thx!

[2016-09-13 06:50] #310 closed, assigned to sanjayssk

[2016-09-13 06:51] sanjayssk commented on #248
I'm closing this issue. If you happen to still find any related problem, please open it again. Thanks.

[2016-09-13 06:51] #248 closed, assigned to sanjayssk

[2016-09-13 12:11] sanjayssk commented on #624
Here is what I see on the same, compiled with XE4 and on Win 10x64 @175% on
1920 X 1080. What can be different? Can you send me your EXE file to test?
Thanks.

[image: Inline image 1]

On Tue, Sep 13, 2016 at 12:49 AM, Joachim Marder notifications@github.com
wrote:

[2016-09-13 23:37] RicardoBer opened #655 "Error GetCheckImageListFor on install in XE7"
I just download commit f45adc0 for test issue 248, and raise an error on build VirtualtreesD21.bpl.

Line 347 on VirtualTreesReg,

ImageList := TVirtualTreeCast.GetCheckImageListFor(CheckKind);

Undeclared identifier GetCheckImageListFor.

[2016-09-13 23:39] RicardoBer commented on #248
I can’t test it, latest build is not installable on Delphi XE7. I open Issue #655

[2016-09-13 23:43] RicardoBer commented on #655
I found that class function
"class function TBaseVirtualTree.GetCheckImageListFor(Kind: TCheckImageKind): TCustomImageList;" disappear from VirtualTrees.pas

[2016-09-14 09:11] joachimmarder commented on #655
I'm very sorry, this was die to issue #622. I missed to recompile the designtime package and the config of our continuous build system had a typo in my email address. Should not happen again.

[2016-09-14 09:11] #655 closed, assigned to joachimmarder

[2016-09-14 09:21] joachimmarder commented on #248
Sorry, #655 is fixed now.

[2016-09-14 23:13] RicardoBer commented on #248
Sorry but

---

El software de antivirus Avast ha analizado este correo electrónico en busca de virus.
https://www.avast.com/antivirus

[2016-09-14 23:17] RicardoBer commented on #248
Sorry but the problem continues although only occurs when move the header for some time, it is near to work indeed.

![image](https://cloud.githubusercontent.com/assets/14173576/18533243/d18c7ee8-7ae1-11e6-9567-5eeaf217e2bb.png)

This capture is from just now, with the latest build.

It is much more difficult to reproduce the error, but it is possible now in windows 7.

The position icon is cutoff

[2016-09-14 23:24] RicardoBer opened #656 "Memory leak error and uses unit in Advanced demo, can point to component code error?"
Hello,

Testing with Advanced demo, first I recive and error in "System.ImageList" unit in GeneralAbilitiesDemo.pas, it is not a problem it is enought if I remove the unit, all works, but when I close the application it fires memory bugs, some times a lot of them.

Before I use this example and I did not recive this, the it is possible that the memory leak are in components?.

This images are from

[2016-09-15 02:05] sanjayssk commented on #656
I also got this yesterday but with fewer errors. I didn't have time to investigate and it hinted at starting with a fresh pull. I will look again today.

Update: This is strange. I went back to an  old commit (Sep 6, full repository) and the problem still appears. This problem was not there when I had used the demo while making that commit. This is quite puzzling and doesn't make sense. Any ideas?

[2016-09-15 02:10] sanjayssk commented on #248
Thank you for testing. Can you explain what you mean by position icon is cutoff? If you mean the DropMark on the left, it was a bug. Dropmark should not appear if the column is not going to change position. See issue #643. Other than that, please give more details on what problem you see. Thanks.

[2016-09-15 02:20] RicardoBer commented on #248
No, thanks to you, awesome work,

Ok, In that capture I move the Column 3 between "column" and "Column1" if you look on top of "C" letter of Column 1 you can see a piece of the Dropmark.

[2016-09-15 02:40] sanjayssk commented on #248
I see now. I saw the problem in painting C but didn't realize it was a drop
mark that was causing it. Thanks for catching that.

On Thu, Sep 15, 2016 at 7:50 AM, RicardoBer notifications@github.com
wrote:

[2016-09-15 06:46] sanjayssk opened #657 "Demo compile broken for Delphi XE 4 (and possibly others before XE 8)"
XE8 or later automatically added System.ImageList to GeneralAbilitiesDemo.Pas Uses list that is causing a problem "not found" in XE4. Found an answer in Stack Overflow to wrap it in

`{$IF CompilerVersion >= 29},System.ImageList{$IFEND}`

In addition, I'm seeing garbled right panel on that demo. Will investigate further.

[2016-09-15 08:34] sanjayssk commented on #656
Seems to be spurious and false error according to certain threads on google. I will ignore it for now unless someone gives more information in this thread on how to switch it off or diagnose further.

[2016-09-15 08:58] sanjayssk opened #658 "Drag and drop header, more problems"
I found some new bugs related to drag and drop of header.
1) Drag a header entirely across the header area and don't move the mouse after a drop. The repaint does not occur and you might see old column name till you move the mouse.

2) Drag a header from column 3 to column 1 beginning (entirely over the header). The left drop mark appears on column 1 but when you drop, the actual drop does not occ

[2016-09-15 09:47] joachimmarder commented on #657
Unit `System.ImageList` is not needed, but IDE adds it anyway, even if the `$if` is present. Removed it now in GitHub master.

Can you attach a screenshot please?

[2016-09-15 09:55] joachimmarder commented on #656
This is the MadExcept report:

[code]

The second leak:

[code]

[2016-09-15 10:23] joachimmarder commented on #656
Reason is that the node-data is not explicitly allocated and deallocated (using `Dispose()`), see e.g. http://forum.madshi.net/viewtopic.php?f=4&t=28177

Possible resolution could be to use objects instead of records, or to call Finalize() on the record.

[2016-09-15 11:57] sanjayssk commented on #656
That's news to me. Thanks. But what I don't understand is, why am I seeing that message now. I didn't see it earlier. Has something changed in the demos or in the project settings?

[2016-09-15 12:00] sanjayssk commented on #657
![image](https://cloud.githubusercontent.com/assets/20315846/18549076/e92b9420-7b69-11e6-98a4-e2cb05fdbf87.png)

Seems like some new label introduced that is misplaced.

[2016-09-15 16:32] joachimmarder commented on #656
Yes, I turned on mem leak reporting: https://github.com/Virtual-TreeView/Virtual-TreeView/commit/2ae1d5182ce8247734a19d96d1cc7da07f71a0cd

[2016-09-15 16:33] joachimmarder commented on #657
No new label, I removed the combobox to select the chebox-style, see issue #622.

[2016-09-15 17:27] joachimmarder commented on #657
I will fix this later this week.

[2016-09-15 19:40] #657 closed, assigned to joachimmarder

[2016-09-18 08:40] #639 closed, assigned to joachimmarder

[2016-09-20 08:25] #656 closed, assigned to sanjayssk

[2016-09-20 08:51] #631 closed, assigned to sanjayssk

[2016-09-20 08:58] sanjayssk commented on #658
Problem 1 is a timing issue where the BitBlt of the drag object is slower than the painting of the changed header that occurs after it with the result that what you see after the drop is the backup image instead of the changed columns. When you move the mouse away from the header, it's repainted again. This problem seems to occur only on a certain graphics adapter on Windows 10. Will fix this if t

[2016-09-20 14:11] #658 closed, assigned to sanjayssk

[2016-09-21 11:43] AlexGraef opened #659 "GetLastVisibleChild/NoInit checks wrong node"
GetLastVisibleChild/NoInit checks the wrong node in IsEffectivelyFiltered. (Should be Result instead of Node)
Same problem as in issue #653

[2016-09-21 19:50] joachimmarder commented on #624
Reason is that position is always calculated based on non-themed checkbox sizes retrieved through `GetSystemMetrics(SM_CXMENUCHECK)` done in `CreateSystemImageSet()`. But those are larger than the themed checkboxes (e.g. 29px vs. 20px at 175% on Windows 10). The Y-position is calculated in `AdjustImageBorder()`.

[2016-09-21 20:13] joachimmarder commented on #624
Reason is that position is always calculated based on non-themed checkbox sizes retrieved through `GetSystemMetrics(SM_CXMENUCHECK)` done in `CreateSystemImageSet()`. But those are larger than the themed checkboxes (e.g. 29px vs. 20px at 175% on Windows 10). The Y-position is calculated in `AdjustImageBorder()`.

[2016-09-21 20:13] #624 closed, assigned to joachimmarder

[2016-09-21 20:50] #548 closed, assigned to nobody

[2016-09-23 06:05] sanjayssk commented on #659
Thanks for reporting the problem along with the suggestion.

[2016-09-23 06:05] #659 closed, assigned to sanjayssk

[2016-09-26 17:58] jaclas opened #661 "Bug in minimal demo"
I try TreeView demo: Minimal. After compiled I click several times on tree and get except:

![ashampoo_snap_2016 09 26_19h24m51s_001_](https://cloud.githubusercontent.com/assets/17312717/18845753/41befd9a-8423-11e6-892b-e8eeaee9b9eb.png)

This demo works at all bad, it is not possible selection of first visible items.
Is errors relate to the TreeView or just this demo?

I tested on Delphi Berlin 1

[2016-09-27 09:06] sanjayssk commented on #661
Problem 2) Selection problem of visible node items.
Solution: This is a problem in demo form. Please change the RootNodeCount of the tree to 0 and run.

Problem 1) Error message. This still comes sometimes and I need to look into it some more. That's why I have not committed the above fix yet.

[2016-09-28 17:15] joachimmarder opened #662 "Background image should support transparency"
After fixing issue #148 now other formats than bitmaps are supported. What is still missing is support for transparency (bitmaps) and semi-transparency (PNGs).

[2016-10-04 10:36] whookie1 opened #663 "Bugfix: Exception when pressing return on an item with no additional columns"
There is an exception raised, when using VirtualStringTree as a tree only (no additional columns) and pressing return-key after editing a tree-item @ the following line (VirtualTrees.pas::32867):

`Column := Tree.Header.Columns[Tree.FocusedColumn];
`

this is, because Tree.FocusedColumn is -1 at that moment!

You can fix this by changing lines 32867 to 32877:

[code]

with the following block:

[c

[2016-10-04 20:31] joachimmarder commented on #663
Which version of Virtual TreeView are you using?
Are there repro steps for this issue with one of our demo projects?
Can you send a pull request or a patch file?

[2016-10-04 21:54] whookie1 commented on #663
I'm using the latest version (6.4) and I couldn't reproduce the error with one of the demo apps (maybe because they are to sophisticated). I've attached a mini-demo ripped out of my application.

I couldn't make a pull request because of the lack of rights but made one to my forked repo (but I'm fairly new to git stuff - so there is room for improvement).
[Test.zip](https://github.com/Virtual-Tree

[2016-10-05 16:55] joachimmarder commented on #663
Do you have any idea if this issue was introduced in V6.4 or already existed before?

It should be possible to create a pull request from your forked GitHub repo.

[2016-10-05 21:30] whookie1 commented on #663
Ok, the pull-request seems to work from the web-interface (tried do it with the desktop-client first).
Im not quit sure when the error occured - because that project wasn't change for a while. I started to update VirtualStringTree about 14 days ago and had another problem which was fixed a few days later. But as the error only occurs when pressing return (one can just click on another node and the

[2016-10-06 06:17] joachimmarder commented on #663
Sorry, but something went wrong with the pull request. It did not include actual changes compared to the current state of the main repo. I guess you included the wrong commits in the pull request.

[2016-10-06 10:31] whookie1 commented on #663
Tried it again, I think this time it reflects the changes. I definitly have to use git command line instead of the GitHub-App...

[2016-10-06 10:45] blikblum commented on #663
@joachimmarder the bug seems to be introduced in https://github.com/Virtual-TreeView/Virtual-TreeView/pull/647

[2016-10-07 15:36] #661 closed, assigned to sanjayssk

[2016-10-07 21:17] #663 closed, assigned to joachimmarder

[2016-10-09 18:41] whookie1 opened #667 "Problems with item-selection"
I was about looking into issue #626  and stumbled across very strange behavior of the tree just using original minimal-demo (without any modification):
1. Run minimal demo.
2. Left-click on '11' of the "Level 0, Index 11" item -> nothing is selected (this isn't necessary to reproduce the problem but seems to be an issue too?).
3. Click on the "Level" section of the same line.
4. The tree item "jum

[2016-10-09 21:17] #549 closed, assigned to joachimmarder

[2016-10-10 01:38] sanjayssk commented on #667
1. This is because of the option toCenterScrollIntoView. On second thought that option doesn't belong in Minimal Demo as it causes confusing behavior. Will remove.

Other problems fixed already. See issue #661.

[2016-10-10 13:04] whookie1 commented on #524
I'm thinking about eventually implementing this, but would need some feedback on my current thoughts:

First step could be an additional "htColumnSplitter" hit code. I tried to implement this in TBaseVirtualTree.GetHitTestInfoAt() and it seems to be pretty straight forward:

`
  // If the point is in the tree area then check the nodes.
  if HitInfo.HitPositions = [] then
  begin
    HitInfo.HitNod

[2016-10-10 14:03] whookie1 commented on #667
Good point, so I removed toCenterScrollIntoView but get the same sort of errors. For easier understanding I captured what I do:

[minimal2.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/519634/minimal2.zip)

You need BZip2 support to uncompress (I'm using 7z)

[2016-10-10 16:42] sanjayssk commented on #667
Did you take the latest Minimal demo that was committed recently? It's not in 6.4. Please do that and then see if the problem still exists. Your zip file can not be extracted properly.

[2016-10-10 18:30] joachimmarder commented on #524
The code above looks good tome at a first glance.

Sounds reasonable.

I would strongly suggest that, as it is a major change in behavior and strongly differs from a normal Windows ListView.

That's true, but I don't see an alternative, you cannot tie both options together. At designtime, in `TVTHeader.SetOptions()` you can set `hoColumnResize` when `hoFullColumnResize` is set, that should make it

[2016-10-11 20:27] whookie1 commented on #667
Ok, my repo wasn't uptodate now I can see that the problem was in Minimal demo Main.pas VSTStartDrag event.

[2016-10-12 02:30] sanjayssk commented on #667
There is another fix in DFM too in case you are merging manually.

[2016-10-20 09:34] ghost opened #668 "{$HPPEMIT '#include <ShlObj.hpp>'}"
C++Builder10.1#1/VirtualTree6.4

I'm in the process of moving away from legacy headers (aka ERROR_LEGACY_HEADER_USAGE) - could you please change:
VirtualTrees.pas
{$HPPEMIT '#include <ShlObj.hpp>'}
to
{$HPPEMIT '#include <WinApi.ShlObj.hpp>'}
or perhaps remove it (Winapi.ShlObj is in the uses section)...

[2016-10-20 09:40] ghost commented on #668
Grrr
{$HPPEMIT '#include &lt;ShlObj.hpp&gt;'}
to
{$HPPEMIT '#include &lt;Winapi.ShlObj.hpp&gt;'}

[2016-10-20 13:31] joachimmarder commented on #668
I have no idea if the the new style including the namespace could have any negative side effects for other users, so I am putting this to discussion.

I am aware that it should not be necessary and it would be the best solution.. But there was a C++  Builder version that did not compile properly without this $HPPEMIT. Maybe we can give it a try.

[2016-10-20 13:51] ghost commented on #668
Well if you check the generated .hpp-file it contains:

#include &lt;Winapi.ShlObj.hpp&gt;
...
#include &lt;ShlObj.hpp&gt;

ie either you have &lt;Winapi.ShlObj.hpp&gt; or the build will fail (or am I missing something)?!?

[2016-10-20 14:41] joachimmarder commented on #668
For which version of RAD Studio? The solution need to work proper in XE3 (and higher).

[2016-10-21 07:50] joachimmarder commented on #668
I know, the important question is from which version of C++ Builder on your suggested change is compatible. That means, from which version on C++ Builder generates `#include <Winapi.ShlObj.hpp>` with namespaces. We don't want to break projects that are built using older versions of C++ Builder. As I don't actively use C++ Builder, this question if difficult for me to answer.

Still it might be wor

[2016-10-21 07:52] joachimmarder opened #669 "Create sample project for C++ Builder"
It would be good to have a small sample project for C++ Builder that can be used for demonstration and testing purposes, e.g. for issues like #668.

It would br great if an active C++ Builder developer would volunteer to create and maintain such a project.

[2016-10-21 08:24] ghost commented on #668
ShlObj is in the list for XE2 for what's it worth (ShlObj = Winapi.ShlObj):
http://docwiki.embarcadero.com/RADStudio/XE2/en/Unit_Names_Alphabetical_List_with_Unit_Scopes

[2016-10-21 16:02] #667 closed, assigned to sanjayssk

[2016-10-25 12:02] Delphi-FPC-Lazarus opened #670 "Make it possible to override RangeX"
FRangeX is calculated by TBaseVirtualTree.UpdateHorizontalRange() from header FHeader.FColumns.TotalWidth.

It would be useful if it can be overwritten in some special cases when columns width get's larger than it's header, such as a subtable.
![subtable](https://cloud.githubusercontent.com/assets/23053293/19684753/52d31aba-9ab9-11e6-812d-dbe1bce497d2.png)

In this case it is inpossible to scroll

[2016-10-25 13:35] joachimmarder commented on #82
I vote for closing this issue as WONTFIX. If we change the behavior now after 7 years, this would be a breaking change again.

[2016-10-25 13:37] joachimmarder commented on #102
Unfortunately the original images are no longer available. It would be great if someone could upload them again to GitHub. Otherwise I would like to close this old Google Code issue.

[2016-10-25 13:49] joachimmarder commented on #168
Unfortunately all attachments are are lost. I will close this issue for housekeeping. If someone has implemented it or want to implement it, please send a pull request.

[2016-10-25 13:50] #168 closed, assigned to joachimmarder

[2016-10-25 13:52] joachimmarder commented on #174
No response from original reporter, all attachments are lost. I guess most likely this issue has meanwhile been corrected. Otherwise issue #369 should cover this too.

So closing this issue for housekeeping.

[2016-10-25 13:53] joachimmarder commented on #183
Closing this issue as suggested in the last comment.

[2016-10-25 13:53] #183 closed, assigned to joachimmarder

[2016-10-25 14:00] joachimmarder commented on #304
I vote against this enhancement. If there is still a problem with coFixed, we should open a bug for this. If there is a limitation of coFixed that cannot be easily overcome, we should document it.

[2016-10-25 14:00] #304 closed, assigned to nobody

[2016-11-15 08:48] Tetram76 opened #671 "Add OnChanging event"
There's an OnFocusChanging event allowing to lock focusednode but no OnChanging event to lock selectednode.

I think such event would be the most obvious way to avoid user to change the current selection in some conditions.

[2016-11-15 21:04] joachimmarder commented on #671
This is a duplicate of #635

[2016-11-15 21:04] #671 closed, assigned to joachimmarder

[2016-11-16 15:18] pableras opened #672 "Error compiling VirtualTreesR18.bpl in RAD Studio XE4"
When compiling I get this error:

`[Fatal Error] The following changes are necessary to make this package compatible with other installed packages.`
`Add vclimg`

Effectively if I add _vclimg_ to the _requires_ section, the error is gone out. Please solve it into the trunk.

Thanks for your great work!

[2016-11-16 18:55] joachimmarder commented on #672
This will be fixed soon, please use official releases only to avoid such problems.

[2016-11-16 19:32] #672 closed, assigned to joachimmarder, sanjayssk

[2016-11-22 08:36] sanjayssk commented on #289
I can't reproduce this problem. I remember working on issue #623 for hints where I discovered some cases where a node specific hint may not be produced and commented accordingly. I also made changes to properties unit then. Can that be the reason? I will try reproducing the problem in some other unit too.

[2016-11-22 09:41] joachimmarder commented on #289
The last comments are nearly 4 years old. It is not unlikely the problem has been fixed meanwhile. We can then close this issue.

[2016-11-22 12:24] sanjayssk commented on #289
I will confirm once more with another vtv from the demo and then close.

Thanks.

On Tue, Nov 22, 2016 at 3:11 PM, Joachim Marder notifications@github.com
wrote:

[2016-11-23 15:28] maciej-izak opened #673 "LGPL to LGPL with static linking exception"
Hi,

could we change LGPL to LGPL with static linking exception? For components/code like Virtual-TreeView regular LGPL works almost like GPL.

LGPL with static linking exception works much better for open source projects like mORMot, Lazarus and FPC. Pure LGPL is block for Lazarus integration. More info:

http://synopse.info/forum/viewtopic.php?id=2919
http://synopse.info/files/html/Synopse%20mOR

[2016-11-23 19:00] joachimmarder commented on #673
Well, I wouldn't mind changing the license, but I am not the original developer, I just adopted the project a few years ago.

And I don't understand why MPL or LGPL should be a problem. Can you post some links that discuss this topic please?

[2016-11-23 19:26] maciej-izak commented on #673
The problem with VTV was raised in private mailing list of core dev team of Lazarus. We are talking about including VTV as default component into Lazarus for example as basic component for online package manager (I have also few plans with VTV for Lazarus). The reason is very simple:

1. Lazarus has very strict policy about licences
2. MPL is incompatible with other Lazarus standard components and

[2016-11-24 19:19] joachimmarder commented on #673
OK, seems you are right, I found this on https://copyleft.org/guide/comprehensive-gpl-guidech11.html#x14-9700010.1:

I was not aware of that.

[2016-11-25 08:09] mike-lischke commented on #673
If Joachim agrees we can release all future versions under a more permissive license (e.g. BSD or MIT). I don't think we can change the license for existing versions. @joachimmarder feel free to change the license to whatever you feel is appropriate, provided it's still an open source license.

[2016-11-25 14:15] #662 closed, assigned to sanjayssk

[2016-11-25 16:53] sanjayssk commented on #289
Found the reason why I could not reproduce the problem. This problem appears only if the columns do not occupy the full client area. This demo seems to have been modified with hoAutoResize so that the columns take up full client area. Hence, I was not seeing the problem. When I switched off the above option, I saw the problem.

[2016-11-26 13:37] sanjayssk opened #674 "HintMode hmHintAndDefault: If the BidiMode is right to left, the Default Hint fails to appear"
In exactly the same conditions as in Issue 289, the BidiMode is made right to left, the Default Hint fails to appear. The reason for this is seems to be that the columns are right-aligned and the function GetColumnAndBounds returns column 0 on the left side where no columns are present. This is wrong. I found this when fixing the issue 289. However, since this function is used in many places, it h

[2016-11-26 16:33] #289 closed, assigned to sanjayssk

[2016-11-28 07:25] joachimmarder commented on #673
I don't really care which open source license we choose. I found the suggested "LGPL with static link exception" good because it is a "minimal invasive" change. I will leave this open for discussion for a few days and then change the license.

[2016-11-28 08:43] j214752 opened #675 "Multiline broken (since update from 5.3.0 to 6.4.1)"
Hi,

we have an App that uses Multiline support in TreeView. Since we updated from 5.3.0 to 6.4.1 our TreeView has only Single-Line Nodeheight instead of the MultiLine-Height. As if every Node had only 1 Text-Line.

We debuged a little and found out that the old TreeView 5.3.0 does not fire the OnMeasureItem while in BeginUpdate; EndUpdate; The 6.4.1 on the other hand does.

we do the following wh

[2016-11-28 13:32] #674 closed, assigned to sanjayssk

[2016-11-28 13:32] #139 closed, assigned to sanjayssk

[2016-11-29 19:51] #668 closed, assigned to joachimmarder

[2016-11-29 19:57] #670 closed, assigned to joachimmarder

[2016-11-29 19:58] joachimmarder commented on #670
There is a protected SetRangeX() now and UpdateHorizontalRange is virtual.

[2016-11-29 20:00] Delphi-FPC-Lazarus commented on #670
thankyou :)

regards
Peter

Am 29.11.2016 um 20:58 schrieb Joachim Marder:

[2016-12-01 05:38] sanjayssk commented on #675
Joachim,

I investigated this and found that it was changed in 5.5 in issue #557, mentioned as #447 in CHANGES. file. It's quite a length discussion in there with original issue for which this was done not found at that time. I you can go through that and recall why that change was made, it will help. I think it was better in earlier code not to measure height in setchildcount and postpone it till

[2016-12-01 05:52] sanjayssk commented on #675
Afterthought: One solution is to reset the vsHeightMeasured state of each node on EndUpdate. This should work for old applications relying on a measure of node height at first paint time. At the same time, any new applications will not break. However, we also need to test with a large number of nodes to see if BeginUpdate/EndUpdate is slowed down by that code introduced in #557.

[2016-12-01 07:17] joachimmarder commented on #675
Sorry, but I don't recall the details. I need to got through #557 and  pull request #559 when I find the time.

[2016-12-06 14:03] sanjayssk commented on #675
I did some experiments.
To make this test program work with the latest version, I made the following change:
Moved the code after AddChild, that initializes the node, to OnInitNode event. Once this is done, the multi line starts working.

But there is a big problem. The design change that was made in VTV makes it too slow for the same code.
To test the speed, I did this:
1) Changed the test progra

[2016-12-06 14:13] sanjayssk commented on #626
I can't download this. The link goes to a "spammy" looking site with bogus download buttons. The real download button does not work. They probably want you to click other buttons for ad revenue. Please use some other site to provide your sample.

Thanks.

[2016-12-07 08:26] jampeter commented on #626
I can't download this. The link goes to a "spammy" looking site with bogus download buttons. The real download button does not work. They probably want you to click other buttons for ad revenue. Please use some other site to provide your sample.

I have replaced the link in the Bug description by a link on github.

[2016-12-07 08:34] sanjayssk commented on #626
Got it. Thanks.

[2016-12-08 11:59] sanjayssk commented on #626
@jampeter
Question: Did you find this problem in your own application and then made the steps to reproduce in Minimal Demo or did you directly use Minimal demo to experiment and found this bug? I'm asking because Minimal Demo had a major problem in DFM which is there in your DFM too.

I'm not able to reproduce this problem. Correct node is always selected.

I suggest, you try this:

- Check out th

[2016-12-08 12:31] sanjayssk commented on #557
Reopening this issue as the fix seems to be causing problems mentioned in #675.

[2016-12-08 13:03] sanjayssk commented on #118
I see that it correctly goes back into editing the same node. I even tried doing it with the old 5.4.1 source just to confirm, suspecting a fixed bug. There also, I see the same behavior.
Why would someone call EditNode in OnEdited? For validation of the edited text. I think I will just make a small validation case and check that the tree reenters the edit for the same node till canceled. As long

[2016-12-09 07:38] joachimmarder commented on #118
Maybe if the entered test did not pass validation and one wants to force the user to correct the entered text.

[2016-12-09 08:13] sanjayssk commented on #118
Yes, I already mentioned that: For validation of the edited text. What I mean is, since I CAN NOT recreate this problem, I will just test the validation and reedit feature once and then leave it at that.

[2016-12-09 13:11] sanjayssk commented on #118
Oops, missed typing "CAN NOT" recreate the problem in previous comment. Corrected.

[2016-12-10 10:42] ly212002 opened #676 "VCL themed scrollbar does not update correctly after adding children"
VirtualTree component vertical scrollbar no refresh after Add node or remove node. Hope to Solve the problem

[2016-12-10 12:05] obones commented on #557
AddChild use is not recommended and will eventually suffer from changes that are needed to have the pure virtual mode to work properly.
Now, if you find a way to have both work ok, please help us.

[2016-12-10 19:14] joachimmarder commented on #676
Can be reproduced with the sample project "Advanced" on the 1st page.

[2016-12-10 19:29] joachimmarder commented on #676
Most likely a result of the commit for #639.

[2016-12-12 08:11] jampeter commented on #626
Hi!
I found this problem in my own application and then made the steps in the demo. I can still reproduce the problem with the latest demo by using the manual steps described above (without the attached dfm).  I also disabled toCenterScrollIntoView but the behaviour didn't change. One thing I recognized is that the issue only occurs when the tooltips pop up while moving the mouse up and down on th

[2016-12-12 10:02] ly212002 commented on #676
VirtualTree component vertical scrollbar no refresh with vcl skin, after Add node or remove node .

[2016-12-12 10:29] ly212002 commented on #676
My project can be reproduced. I upload Screenshot later.

[2016-12-12 14:27] ly212002 commented on #676
Step:
1.form with vcl skin ,Selected first node.
2.show model window,input some text,and add new node to last.
3.add new node and select and focus this new node.And then scrollbar position error.
4.problembe reproduced.

![bug](https://cloud.githubusercontent.com/assets/24491512/21102630/ea68d42a-c0b9-11e6-8649-8893cf41a181.png)

[2016-12-12 14:29] ly212002 commented on #676
Hope to solve,thanks.

[2016-12-12 15:04] ly212002 commented on #676
Advanced demo also have this problem.
My os is win7 SP1. delphi is XE10.
![bug2](https://cloud.githubusercontent.com/assets/24491512/21103852/0a615fb8-c0bf-11e6-8d5d-05bcfa8cd04e.png)

[2016-12-12 20:10] joachimmarder commented on #676
Yes, see my 1st comment above.

[2016-12-13 01:59] ly212002 commented on #676
What time can fix about, please?thank you again.

[2016-12-13 18:57] joachimmarder commented on #676
You can simply go back to an earlier version if this is urgent.

[2016-12-13 21:57] #676 closed, assigned to joachimmarder

[2016-12-13 22:05] #673 closed, assigned to joachimmarder

[2016-12-14 03:49] cjwere opened #677 "DPI awareness with different monitor DPIs"
Hi,

Love the virtual treeview!  Even more now I'm using it with "High DPI" on one monitor.

When I drag my running program across to the other monitor all my forms and fonts rescale, but the virtual treeviews do not.  my application declares multi monitor DPI awareness.  I breakpointed on tbasevirtualTree.changescale and it is getting triggered.  I have toAutoChangeScale set on (just been through

[2016-12-14 14:10] joachimmarder commented on #677
Which version of Delphi and VirtualTreeView are you using?

[2016-12-14 19:16] cjwere commented on #677
Sorry I thought last night i should have added this:  Windows 10 pro, Delphi 10.1 Berlin (no service packs applied yet), and Virtual Treeview 6.4.1

I’ve just started adding the high DPI support to my application and its a bit of a battle especially trying to support monitors with 2 different DPIs,  eg depending on which monitor is set to be my primary one, the window decorations and system dialog

[2016-12-14 19:26] joachimmarder commented on #677
So far, `TBaseVirtualTree.AutoScale()` only scaled up the property `DefaultNodeHeight` if the text would not fit into a line. I just added some code that also scales `DefaultNodeHeight` down if the form's dpi changes.

However, I cannot test this right now because I have connected only one monitor to my PC. Could you please set a breakpoint in `TBaseVirtualTree.ChangeScale()` and see if `FHeader.C

[2016-12-14 19:40] cjwere commented on #677
OK Joachim, can i test it for you?

PS just did a test the other way,   primary monitor 96 DPI, started application there, dragged to 192DPI screen on notebook and they didn’t scale up either ( I am using theming as well if this is relevant, win10 in this example).  Its seems to work (scaling up at least) when the primary monitor is the high-DPI one, and in this scenario (this morning at least!) o

[2016-12-14 19:43] cjwere commented on #677
PS, no all my dam files still have pixelsperinch set to 96.  Weird...

[2016-12-15 07:40] joachimmarder commented on #677
Sure. Use the GitHub master branch to test, as it already contains one fix compared to V6.4.1. Set a breakpoint on `TBaseVirtualTree.ChangeScale()` and see what code is executed and why.

[2016-12-15 07:57] cjwere commented on #677
Thx will have a look tomorrow.

On Thu, 15 Dec 2016, 20:40 Joachim Marder, <notifications@github.com> wrote:

[2016-12-15 17:34] sanjayssk commented on #557
I went back to the release where Integer Overflows were occurring. Then I just removed the code that I pointed out above in SetChildCount that is causing the problem. It fixed the overflows.

However, I need to confirm what the rendering problem is to see if that too is because of the above change.

The main problem is that #447 is missing for which that original change was made. It will take time

[2016-12-18 08:43] sanjayssk commented on #557
[TestIsFiltered.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/665473/TestIsFiltered.zip)

@obones
I went back to an old release, 6.2, just to see what original problems were faced. I saw the integer overflow problem and then made the change of reverting 2fa5699 on 2014/12/22 as described at the top. As per that discussion, this solves the integer overflow which it did. But what I

[2016-12-21 04:09] sanjayssk commented on #626
I have debugged this in detail. Here are some observations:

- When you stop and a wrong node is highlighted for hot track, if you just wait without moving the mouse, after some delay, the correct node is selected.
- The above delay is equal to the time that the animated hint stays on the current node.
- I have tried all sorts of things to make this delay go away but no luck. Basically, the mousem

[2016-12-21 04:13] sanjayssk commented on #557
Oops. Forgot to attach the file in previous reply. Done.

[2016-12-21 08:56] joachimmarder commented on #626
Your conclusions sound good to me. I think we shouldn't invest too much time in this issue.

[2016-12-21 09:03] joachimmarder commented on #677
Any news on how the master branch worked for you?

[2016-12-21 09:06] joachimmarder commented on #649
Would you mind attaching a sample project that makes it easy to test this behavior?

[2016-12-21 12:33] joachimmarder commented on #677
We should add a new event `OnAutoScaled`, that way one can easily adjust values that do not fit specific needs.

[2016-12-21 18:06] cjwere commented on #677
Sorry Joachim was trying to get a release out.  Will have a look today.

On Thu, 22 Dec 2016, 01:33 Joachim Marder, <notifications@github.com> wrote:

[2016-12-22 10:15] jampeter commented on #626
Yes, I think the conclusion is sufficient in most cases. Thank you for investigating this error.

[2016-12-23 14:41] #626 closed, assigned to sanjayssk

[2016-12-23 16:29] sanjayssk commented on #626
Thank you for confirming. Fixed and closed.

[2016-12-24 06:19] sanjayssk commented on #118
I created a proper validation sequence. Set the new text in an OnNewText event. Then in OnEdited, if a certain string "reedit" is found, call Sender.EditNode(Sender.GetNext(Node), Column) as described in the issue. This works fine and the editing starts again in the same cell.
Conclusion: Can not recreate this problem. Closing.

[2016-12-24 06:19] #118 closed, assigned to sanjayssk

[2017-01-02 09:45] joachimmarder commented on #677
Any news how the GitHub master works for you?

[2017-01-02 10:25] cjwere commented on #677
So sorry Joachim I have been off work for Christmas and summer (here in NZ)
holidays.  I am back at work next Monday with my two screen setup and will
try to test then, it got lost in the year end wrap up.

There are other issues unrelated to your treeview I've noticed fyi with the
different dpi screens;. When doing aware the Delphi app always shows system
prompts and dialogs scaled for the DPI of

[2017-01-03 14:13] romankassebaum opened #678 "Occasional Access Violation in GetDisplayRect"
From time to time I'm getting an access violation in TBaseVirtualTree.GetDisplayRect. The reason seems to be that Temp.Parent is nil so that a call to Temp.Parent.States is impossible.

The version of the VTV is  6.4.1.

[2017-01-04 01:33] romankassebaum commented on #678
Here is the callstack:
exception class    : EAccessViolation
exception message  : Zugriffsverletzung bei Adresse 00000000025D6EB4 in Modul 'Test.exe'. Lesen von Adresse 000000000000000A.

main thread ($13d4):
025d6eb4 +0f4 Test.exe     VirtualTrees   26979 +19 TBaseVirtualTree.GetDisplayRect
025daa25 +045 Test.exe     VirtualTrees   29807  +3 TBaseVirtualTree.InvalidateNode
025e7aad +01d Test.exe

[2017-01-04 09:46] joachimmarder opened #679 "The OnChange event when right clicking a node should always be fired before the OnPopup event"
The `OnChange` event when right clicking a node should always be fired before the `OnPopup` event. Currently a value of >0 for the `ChangeTimer` property results in delayed firing of the `OnChange` event.

`TBaseVirtualTree.DeleteNode()` already contains code to solve a very similar problem using `tsSynchMode`. We will use the same approach to fix this issue in `TBaseVirtualTree.WMRButtonDown()`.

[2017-01-04 10:07] #679 closed, assigned to joachimmarder

[2017-01-04 10:32] joachimmarder commented on #678
It makes no sense that `Temp.Parent` is `nil` without previously `Temp` having the value of `FRoot`, which is the exit condition of the loop in `GetDisplayRect()`.

I tested if deleting the node which is currently edited could cause this error, but this worked fine.

We could add another exit condition `Assigned(Temp)` but this would only cure the symptom and does not fix the root cause, which see

[2017-01-04 17:53] romankassebaum commented on #678
The application is working for many years. With moving to Delphi Berlin I updated the VTV. From this time I'm receiving the AV.

Modifying the line

      if not (vsVisible in Temp.States) or not (vsExpanded in Temp.Parent.States) then
        Exit;

to

      if (Temp = nil) or not (vsVisible in Temp.States) or (Temp.Parent = nil) or not (vsExpanded in Temp.Parent.States) then
        Exit;

solv

[2017-01-04 19:47] joachimmarder commented on #678
Without repro steps there is not much else we can do here, so I will use this fix, although it won't fix the root cause.

[2017-01-04 19:50] #678 closed, assigned to joachimmarder

[2017-01-08 12:19] joachimmarder commented on #447
To fix this issue, `SetChildCount()` now calls `DoMeasureItem()` instead of using `DefaultNodeHeight`, in case the flag `toVaribaleNodeHieght`is set. This was changed in V5.5 in Sep 2014.

[2017-01-08 19:11] joachimmarder commented on #675
I think the line

     Data.S := GenerateString;

Should be part of the `OnInitNode` event handler. Whenever you change the node's string after the node has been initialzed, you need to clear the flag `vsHeightMeasured` from `TVirtualNode.States`.

[2017-01-08 23:13] cjwere commented on #677
Not quite…

Main screen 96 dpi external monitor.
Secondary screen is 192dpi macbook pro screen (running windows within parallels desktop with retina display set to “best for external displays”)

--- Monitors info ---
Primary Monitor 0 ppi: 96 left: 0 top: 0 width: 3440 height: 1440 (External)
Monitor 1 ppi: 192 left: -2880 top: 0 width: 2880 height: 1800 (macbook)

App starts on main screen, all l

[2017-01-08 23:25] cjwere commented on #677
Update below with basic test application, project files attached.  (this email chrisw@touchcut.com<mailto:chrisw@touchcut.com> is a better contact for me)

Primary monitor 96 dpi:
[cid:image001.png@01D26A73.6BA20810]

Drag to secondary 192 dpi:
(node font scales correctly, node height and header font and height do not.  I’ve scaled this by 50% so it looks “the same size” as what I see before my ey

[2017-01-09 03:01] cjwere commented on #677
I’ve been stepping through the code and have something of a handle on what’s going on:

As the form moves between different dpi screens  autoScale gets called twice:

·         First time, isDPIChanged is true, but the font has not yet been scaled/changed, so no change to the dpi.

·         Second time through it is bigger and gets set, but only on the “defaultNodeHeight”, no change to the existi

[2017-01-09 03:54] cjwere commented on #677
Why headers weren’t resizing:

procedure TBaseVirtualTree.ChangeScale(M, D: Integer{$if CompilerVersion >= 31}; isDpiChange: Boolean{$ifend});

begin
  if (toAutoChangeScale in FOptions.FAutoOptions) then
  begin
    fCurrentDPI := M;
    if (M <> D) then
    begin

      //CJW always do this
      FHeader.ChangeScale(M, D);
      Indent := MulDiv(Indent, M, D);
(*  ??? CJW:  sfHeight didn't seem

[2017-01-09 08:01] joachimmarder commented on #677
Sorry, did not see any attached files in GitHub.

The best is to send a pull request via GitHub.

Sorry, but GitHub issue comments do not support colors.

Hmm, seems to be a bug in the VCL, I think it should be included. I think i must fetch another monitor and debug this myself.

[2017-01-09 09:12] cjwere commented on #677
Yes I'd just attached files to the email, I have some github learning to
do!  Changes not ready or properly tested yet either, hopefully tomorrow.

On Mon, 9 Jan 2017, 21:01 Joachim Marder, <notifications@github.com> wrote:

[2017-01-09 22:28] joachimmarder commented on #677
I just committed some changes that I tested successfully with the "Minimal" demo project. Please let me know how these changes work for you. Please attach screenshots if issues still occur.

[2017-01-09 22:49] cjwere commented on #677
Thx Joachim, I had just downloaded github desktop and was getting ready to
pull request my own changes, and now i see yours as well.  Mine are similar
but I totally ignore scalingflags, and it seems to work OK both with
application startup in different DPI's and with moving controls from screen
to screen. I am not sure about designing at different DPI's, my delphi
forms are designed with pixelsper

[2017-01-09 23:47] cjwere commented on #677
Seems to be working! :)

Have launched the app on my high DPI screen, and on normal DPI, both look good.
Moving between screens behaves as expected as well.
(Same behaviour as I had achieved by ignoring scalingFlags altogether)

One issue arises though, if the user saves the column layouts in one dpi, then open the app in another dpi, the columns widths are messed up.  In my version I had cached M

[2017-01-10 14:30] joachimmarder commented on #677
I did it like in `TControl` which should lead to a consistent behavior with other VCL controls. So if it does not make a difference for you I will stick with this implementation.

[2017-01-10 14:34] joachimmarder commented on #677
I think this is a separate issue and we should open a separate issue for it. While this one was a bug in Virtual TreeView code, the column stuff is more an enhancement and affects all controls that have columns or grids. So I will close this issue as resolved.

[2017-01-10 14:34] #677 closed, assigned to joachimmarder

[2017-01-10 15:12] joachimmarder opened #680 "SelectAll() can be slow due to virtual paradigm"
`SelectAll()` can be slow due to virtual paradigm. `SelectAll()` iterates the tree, which initializes the nodes and so can lead to many calls to the `OnInitChildren` event handler. Surrounding the call to `SelectAll()`with `BeginUpdate()`/ `EndUpdate()` improves the situation.

Proposed solution: `SelectAll()` should call `BeginUpdate()`/ `EndUpdate()` automatically if an `OnInitChildren` event ha

[2017-01-10 15:46] milesyou opened #681 "Can you add footer，Similar Ehlib?"

[2017-01-10 16:18] joachimmarder commented on #681
Quite brief this issue! Can you post a screenshot or mock that illustrates what you mean?

[2017-01-10 18:21] cjwere commented on #677
OK, Thanks Joachim.

On Wed, Jan 11, 2017 at 3:34 AM Joachim Marder <notifications@github.com>
wrote:

[2017-01-11 10:42] jovanvasic commented on #670
Hi there, I have found a side effect with this change request.  Taking Peter's example to adjust the RangeX value to accommodate the subtable breaks the function TVTHeader.DetermineSplitterIndex. RangeX value is used to initialize the Variable SplitPoint for the determination of the column splitter.  If I haven't missed anything else following change should fix the problem.
`- SplitPoint := -Treev

[2017-01-11 12:00] jovanvasic commented on #670
And to pick up on my previous post and complete my request... I have missed the block TreeView.UseRightToLeftAlignment in the function TVTHeader.DetermineSplitterIndex.
`- if Integer(Treeview.FRangeX) < Treeview.ClientWidth then`
`+ if Integer(FColumns.TotalWidth) < Treeview.ClientWidth then`

`-    Inc(SplitPoint, Treeview.ClientWidth - Integer(Treeview.FRangeX));`
`+    Inc(SplitPoint, Treeview.

[2017-01-11 20:10] joachimmarder commented on #670
@jovanvasic: It's difficult to judge your proposed changes without having a sample project that makes use of overriding `SetRangeX()` and `UpdateHorizontalRange()`, the use of this seems rather specific.

@mp3freak: Can you comment on them?

[2017-01-12 17:08] jovanvasic commented on #670
Hi Joachim, I attached a sample project to show what I'm trying to do. On a click in the first column of a node the node expands and displays a sub table. The sub table is a TVirtualStringTree and it is wider then the main table. The Scrollbar in the sub table is deactivated. Using your announced changes for UpdateHorizontalRange() and SetRangeX() I manipulate the RangeX value of the main table wi

[2017-01-13 08:12] Delphi-FPC-Lazarus commented on #670
I fully agree with jovan. I didn't see that splitpoint side effect of my change.
That change is ok for me.

[2017-01-13 15:38] jfuentesbme opened #682 "Drag & Drop range exception"
VirtualTrees.Pas, procedure TBaseVirtualTree.DragAndDrop, using windows 7. Parameter DragEffect has values that raises a range exception when the drag&drop operation implies scrolling in grid. The returned value of DragAndDrop should be casted to avoid range exception

procedure TBaseVirtualTree.DragAndDrop(AllowedEffects: Dword; const DataObject: IDataObject; var DragEffect: Integer);
var
  lDrag

[2017-01-14 09:24] #682 closed, assigned to joachimmarder

[2017-01-14 13:06] milesyou commented on #681
![1](https://cloud.githubusercontent.com/assets/25035738/21955049/5b1c4312-da9d-11e6-973e-72d87bac2026.png)

[2017-01-15 18:40] joachimmarder commented on #681
Well, of course I meant the entire control.
What should be displayed in the footer?
Why not simply use the last row?

[2017-01-15 20:30] joachimmarder commented on #670
@jovanvasic: Thanks, your changes have been included.

[2017-01-15 20:36] #680 closed, assigned to joachimmarder

[2017-01-16 01:43] ThomasJaeger opened #683 "Can not install package - Undeclared identifier: 'DefaultScalingFlags'"
I'm trying to install the latest package under **Delphi XE4** and get the following compile error:

[dcc32 Error] VirtualTrees.pas(18481): E2003 Undeclared identifier: 'DefaultScalingFlags'

Any help is appreciated.

[2017-01-16 09:02] dcembala commented on #681
I would also like to see that feature implemented in standard. What miles have in mind is a fixed row at the bottom of the tree where you can write/draw. Something like second header on the bottom of the tree. Sample very old code can be found on old tree dev. page:

[FooterTreeview.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/707679/FooterTreeview.zip)

[2017-01-16 21:08] joachimmarder commented on #683
Thanks for reporting this. `TControl.DefaultScalingFlags` was indeed introduced in XE6:
http://docwiki.embarcadero.com/Libraries/XE6/en/Vcl.Controls.TControl.DefaultScalingFlags

[2017-01-16 21:10] #683 closed, assigned to joachimmarder

[2017-01-18 04:45] milesyou commented on #681
thank you!

[2017-01-20 06:48] pableras opened #684 "Undeclared identifier 'CM_UPDATE_VCLSTYLE_SCROLLBARS'"
Dear sir

After last code update I get this error compilation:

`[dcc32 Error] VirtualTrees.pas(32657): E2003 Undeclared identifier: 'CM_UPDATE_VCLSTYLE_SCROLLBARS'`

I'm using RAD Studio XE4.

Thanks for your work!

Sincerely yours,
Pablo

[2017-01-20 09:05] joachimmarder commented on #684
`CM_UPDATE_VCLSTYLE_SCROLLBARS` is defined in unit `VirtualTrees.StyleHooks.pas`. Most likely you have a mix of old a new VirtualTree units in your Delphi search path.

[2017-01-20 09:05] #684 closed, assigned to nobody

[2017-01-20 09:08] joachimmarder opened #685 "Occasional EAccessViolation in TBaseVirtualTree.InternalClearSelection()"
I occasionally receive these exception reports:

[code]

I have no idea what could cause them. It seems that `FSelection[]`is messed up.

Does anyone else see such exceptions or has an idea what could cause them?

[2017-01-23 14:49] pableras commented on #684
You're right, for some strange reason my working copy has left to synchronize with trunk and I had to delete it and download it again.

Thanks for your help.

Sincerely yours,
Pablo

[2017-01-26 08:38] GerbenAbbink opened #686 "Small resource leak in PrepareBitmaps"
Theme := OpenThemeData(Handle, 'TREEVIEW');

on line 14074

is not closed with a call to CloseThemeData()

which results in a resource leak.

[2017-01-27 11:35] joachimmarder commented on #686
The is a call to `CloseTheme()` in line 14209.

May I ask if you found the leak using a leak checking tool or through code review? At least MadExcept did not report a leak here.

[2017-01-27 16:48] GerbenAbbink commented on #686
Actually, i found it using MadExcept. But now, i cannot reproduce the leak.
Please ignore my original message. If i see it again i will write a new
message.

On Fri, Jan 27, 2017 at 12:35 PM, Joachim Marder <notifications@github.com>
wrote:

[2017-01-27 19:16] #686 closed, assigned to joachimmarder

[2017-02-01 20:35] spiril opened #687 "DeleteNode performance issue related to re-indexing"
Executing the following code takes a long time, using the latest release of VTV :

[code]

The reason for the slowness, is that DeleteNode re-indexes the tree-nodes after each function call.

If I change the VTV DeleteNode function, so it doesn't re-index, the above code executes almost instantly.

Would it be possible to change the DeleteNode function, is it doesn't automatically re-index nodes w

[2017-02-01 21:28] joachimmarder commented on #687
Which version have you been using before?

I don't think that this has been changed recently.

But don't you have wrong indices in your TVirtualNode then?

Difficult. That would require to do reindexing in `EndUpdate()`. Since we don't know here which nodes have changed we would need to reindex all nodes, even if just a few of millions have been deleted.

Deleting entire branches in the tree using

[2017-02-02 10:20] spiril commented on #687
Hi Joachim.

5.5.0

In 5.5.0 it was possible to call `DeleteNode()` with an optional parameter to skip reindexing.

No, for the specific VTV where I use `DeleteNode()` extensively, it's not a problem.

I don't think that will work, as the nodes that have to be deleted are all direct children to the root node (?)

Maybe a solution would be to make reindexing optional when calling `DeleteNode()` aga

[2017-02-06 19:08] joachimmarder commented on #687
I like that idea, the necessary code can be extracted from `DeleteSelectedNodes()`.

[2017-02-06 19:15] #687 closed, assigned to joachimmarder

[2017-02-07 19:50] Saeid2016 opened #688 "change default arrow key behavior"
Hi,
I want to disable default arrow key behavior and customize it. is it possible?

[2017-02-08 07:25] joachimmarder commented on #688
This is a bug tracker, not a support forum. Please respect our rules for submitting bugs on the project's homepage.

[2017-02-08 07:25] #688 closed, assigned to nobody

[2017-02-08 12:03] joachimmarder opened #689 "Possible Integer overflow in PaintColumnHeader() when dragging a column to first position"
[code]

[2017-02-08 16:22] Daniel-Tr opened #690 "Tree shouldn't keep selected elements, if toAlwaysSelectNode is set and other elements are selected without ctrl-modifier"
Repro:
- With the Minimal demo project, set toAlwaysSelectNode to true.
- Start the application
- Make sure some free space is visible within the tree (beneath the content column)
- Select an element
- Click and hold left mouse button in the free space and move the mouse over some elements (creating a selection area)
- The elements that have been selected before, stay selected. This should only ha

[2017-02-08 21:32] #689 closed, assigned to joachimmarder

[2017-02-13 12:10] joachimmarder opened #691 "When the user uses Cursort-Left/Right, the Virtual TreeView should perform horizontal scrolling if there is no other operation"
When the user uses Cursor-Left/Right, the Virtual TreeView should perform horizontal scrolling if there is no other operation.

Cursor right expands nodes, but once we reached a leaf node, nothing happens when pressing Cursor-Right. If we would perform horizontal scrolling to the right, like it can also be achieved by pressing CTRL+Cursor-Right, a Virtual TreeView control used like a listview woul

[2017-02-14 15:14] hermannoffen opened #692 "HitInfo for OnNodeClick event may differ much from HandleMouseDown"
In methods `TBaseVirtualTree.WMLButtonDown` and `TBaseVirtualTree.WMLButtonUp` (and some other method pairs) a local `HitInfo` is determined by calling `GetHitTestInfoAt`. As display may change in `HandleMouseDown` (e.g. through `ToggleNode`) it can easily occur that `XPos` and `YPos` do not describe the clicked position anymore, when `WM_LBUTTONDOWN` is handled and therefore `GetHitTestInfoAt` is

[2017-02-14 15:50] joachimmarder commented on #692
Can this be reproduced with one of the sample project? If so, could you provide the steps to do so?

The mouse have been moved between down and up of the button, and `HitInfo` then would be wrong.

[2017-02-14 16:33] hermannoffen commented on #692
1. Add this method to the _Minimal_ demo project and use it as the treeview's `OnNodeClick` event handler.
[code]

2. Compile and start the program.

3. Select node _Level 0, Index 9_ by clicking on it.

4. See the message box. The view has been scrolled but the **correct** node is referenced in the message.

5. Add 5 nodes as children to node _Level 0, Index 9_. The node will be expanded.

6. Col

[2017-02-14 20:43] joachimmarder commented on #692
OK, I see what you mean. This is the result of some auto-scrolling. But this is performed in `HandleMouseDown()`, and the `OnNodeClick` is fired by `HandleMouseUp()`.

The easiest solution would be to fire the `OnNodeClick` event in `HandleMouseDown()`, before doing auto-scrolling, but it is unusual to fire OnClick events and to show dialogs on mouse-down. So maybe caching the original `HitInfo` f

[2017-02-15 07:40] hermannoffen commented on #692
One could refresh the memorized `HitInfo` on `MouseMove`. Thus it would be correct, when the user moved the cursor himself.

[2017-02-15 08:07] joachimmarder commented on #692
My first comment applied to `OnMouseUp` that you initially referenced. The sample code you sent later was for `OnNodeClick` and I think caching `HitInfo` makes sense here, see my previous comment.

[2017-02-15 08:19] joachimmarder opened #693 "TVirtualTreeAccessibility.accSelect() should handle the flag SELFLAG_EXTENDSELECTION"
`TVirtualTreeAccessibility.accSelect()` should handle the flag `SELFLAG_EXTENDSELECTION`. This is useful for screenreaders and automatic testing tools.

To achieve this, `TVirtualTreeAccessibility` should have access to `HandleClickSelection()`.

[2017-02-15 18:52] #693 closed, assigned to joachimmarder

[2017-02-21 08:26] joachimmarder opened #694 "if DragMode is dmAutomatic then the OnChange event is fired twice when clicking a selected node"
if `DragMode` is `dmAutomatic` then the `OnChange` event is fired twice when clicking an already selected node, once with `nil` and then again with the clicked node. It makes no sense to clear the selection if the clicked node is already selected.

Repro steps:
- Open the `Advanced.dproj`
- Open the `SpeedDemo` unit
- in the Virtual TreeView set `DragMode` to `dmAutomatic`
- Set a brekapoint in `T

[2017-02-22 13:09] somnomedics opened #695 "C++ Builder 10.1.2 Virtual-TreeView 6.5 Win64 Access Violation (Bug)"
Linking VirtualTreesCR.bpl dynamically in a 64-bit (win64) application yields an access violation at runtime when trying to create TVirtualStringTree.

* static linking works
* linking in a 32-bit application works in any case
* the access violation seems to happen when trying to call the constructor

[2017-02-22 16:56] joachimmarder commented on #695
Can you please provide a call stack of the exception?

[2017-02-22 17:00] joachimmarder commented on #695
Maybe this is related to issue #642

[2017-02-23 07:51] #690 closed, assigned to sanjayssk

[2017-02-23 08:55] somnomedics commented on #695
I'm using the most recent release VirtualTreeView. Issue #642 is already fixed in that version.

TForm1 contains only the VirtualStringTree component with default property values.

Call stack:
- [ ] :00000000006a5cd7
- [ ] :00000000006A5DB0 ; D:\Embarcadero\Studio\18.0\bin64\rtl240.bpl
- [ ] :00000000006970FA ; D:\Embarcadero\Studio\18.0\bin64\rtl240.bpl
- [ ] :0000000000697219 ; D:\Embarcadero\St

[2017-02-23 14:47] joachimmarder commented on #695
The call stack needs to include the function names, otherwise it is useless.  At least it does not include the Virtual TreeView package.

I know, but still may be related or the bug may have re-appeared.

[2017-02-23 14:58] #694 closed, assigned to joachimmarder

[2017-02-25 08:39] #692 closed, assigned to joachimmarder

[2017-02-25 08:44] joachimmarder commented on #82
As proposed closing this as WONTFIX. Please open a new bug if you still feel this should be changed, because some stuff was lost when importing from Google Code.

[2017-02-25 08:44] #82 closed, assigned to nobody

[2017-02-25 08:46] joachimmarder commented on #102
Closing this bug as previously proposed. Please open an new issue at GitHub if you still feel this should be changed.

[2017-02-25 08:46] #102 closed, assigned to nobody

[2017-02-27 13:51] sanjayssk commented on #161
I tested this today on the Grid demo of Advanced project. Even the normal Home and End do not work in toFullRowSelect. Nothing happens. However, if I press Ctrl with Home, End or even Shift-End, it works fine as expected. Any comments?

[2017-02-28 08:34] sanjayssk commented on #161
Even the Home and End keys didn't work normally in fullRowSelect. Same fix worked.

[2017-02-28 08:34] #161 closed, assigned to sanjayssk

[2017-02-28 09:22] joachimmarder commented on #675
The old version however did not calculate the scrollbars correctly, because it calculated the actual node height on a `toVariableNodeHeight` scenario only for the visible nodes. This was what #557 targeted.

[2017-03-01 07:49] sanjayssk commented on #675
I understand. But I think any height calculation should be postponed to
after EndUpdate in the traditional way if possible. I'm coming in after a
long gap on this. I will reinspect the code to see if that is possible.

On Tue, Feb 28, 2017 at 2:52 PM, Joachim Marder <notifications@github.com>
wrote:

[2017-03-01 07:53] sanjayssk commented on #675
But it should continue to support the old code that does it in the standard
TreeView way where the nodes are added and data is assigned immediately.
The analogy should still work and should be as fast as possible. Huge
capacity is the main feature of VTV but it should not be at the cost of
reduced speed that the modifications have caused. Earlier version is
extremely fast with the same loop.

On M

[2017-03-02 07:36] joachimmarder commented on #675
As long as the height is calculated for all nodes correctly, and so the scrollbars, I don't see any problem with that.

Doing the height calculation in `EndUpdate()` would indeed improve this, as one is no longer forced to clear the `vsHeightMeasured` flag in this scenario.

But at the price of wrong scrollbar behavior. I don't think we should trade wrong behavior for speed. The current version is

[2017-03-02 12:54] joachimmarder commented on #594
This problem only occurs when using VCL styles. It is still present in 10.1 Berlin. It occurs on slow machines only. There are still no repro steps.

[2017-03-03 15:23] IvanLlanas opened #697 "OnChange not fired when unselecting nodes"
Clicking over the empty area to unselect all selected nodes does not fire the OnChange event.
First tried to workaround it calling the OnChange event from OnClick. It worked with the left button, but not with the right one.
I'm finally fixing it with calling the OnChangeEvent from OnMouseUp.

[2017-03-03 16:03] joachimmarder commented on #697
Which version of Virtual TreeView are you using?

[2017-03-03 16:33] IvanLlanas commented on #697
Just updated to the last one, 6.5, a couple of hours ago when I found the issue in version 6.3. Version 6.5 had it too.

[2017-03-05 14:54] joachimmarder commented on #697
Can be easily reproduced in Minimal demo. In `TBaseVirtualTree.HandleMouseDown()` the method `ClearSelection()` is called with `pFireChnageEvent == False`. Changing this to `True` should fix the problem.

[2017-03-05 14:57] #697 closed, assigned to joachimmarder

[2017-03-05 15:16] #312 closed, assigned to nobody

[2017-03-05 15:28] joachimmarder commented on #215
`OnInitChildren` has a parameter for the parent node, which makes no sense for an `OnInitRootNodes` event. I vote against adding a useless parameter to an event signature just for compatibility to some other event.

I don't know what code should be placed in an `OnInitRootNodes` event except the assignment of the `RootNodeCount` property. Everything else can and should be done in the `OnInitNode`

[2017-03-05 15:29] #215 closed, assigned to nobody

[2017-03-05 15:37] #350 closed, assigned to joachimmarder

[2017-03-07 10:14] Fr0sT-Brutal commented on #614
@adem0x, your point is like was mine in #503 :) but authors are the gods, and they have the right to drop support of older versions. F.i., check out the maintained versions of old TurboPack projects - they support only one recent compiler!
@joachimmarder, could you add a link to my repo to Readme? It surely supports XE2 and implements this support in the form of several commits that could be easil

[2017-03-07 10:21] joachimmarder opened #698 "Horizontal scrollbar may not update when turning on or off columns"
Unfortunately  cannot provide an easy sample project for this. But in a situation with a Virtual TreeView aligned alLeft and another control aligned alClient, both separated with a TSplitter, the horizontal scrollbar did not reliably update when I toggled on or off the columns. When I hovered with the mouse over the scrollbar it updated correctly. The non-client (NC) area was not repainted correct

[2017-03-07 10:23] joachimmarder commented on #698
Updating the NC area using code inspired from here https://github.com/Virtual-TreeView/Virtual-TreeView/issues/698 solves the problem.

[2017-03-07 10:28] #698 closed, assigned to joachimmarder

[2017-03-07 12:23] sanjayssk commented on #418
Cam not reproduce the problem: Changed Grid of Advanced Demo to set the exact options described while putting the grid mode off. Can not reproduce the problem. The Home and End keys work well even with main column off and other columns not allowing focus.

The problem of Home/End key not working was there in Grid Mode. That was fixed with issue 161.

[2017-03-07 12:23] #418 closed, assigned to sanjayssk

[2017-03-07 13:33] sglienke commented on #614
<del>FWIW I am using my forks version for TestInsight and it also compiles and works (granted I don't use any fancy things or VCL styles) on XE2.<del>

Edit: forget that I was stupid - I use the v5_stable there

Personally I am always in favor of sticking to the original repo but I respect when people don't want into the nightmare of supporting too many different versions that they don't even have

[2017-03-07 20:22] joachimmarder commented on #614
Done.

I still think having a fork for a single old Delphi version maintained by people that actively use this Delphi version will result in better quality compared to a situation in which a single developer needs to maintain a single source UI control for 10 (soon more) Delphi versions.

[2017-03-09 06:54] Fr0sT-Brutal commented on #614
I tend to agree though this could be sad for people stuck on older versions. Using new cool features is certainly much more fun than supporting ancient stuff.

[2017-03-09 11:03] joachimmarder commented on #614
But here the root problem seems to be that they are stuck with an old Delphi version, not that new features are not added to old versions (which still could be done by volunteers using that old Delphi version).

[2017-03-09 11:20] Fr0sT-Brutal commented on #614
Joachim, you're right, backporting is a widely used thing. Bad times for Delphi and later Emba's policy forced some people to stay on older versions (I haven't heard anyone is stuck on ancient FPC version) but they usually can support older compilers themselves (except if the code is changed significantly).

[2017-03-09 17:38] Dave-Novo commented on #161
Thank you for fixing this. It is great to see that you guys are going through old issues!

[2017-03-13 10:47] Fr0sT-Brutal opened #700 "With toCenterScrollIntoView, selection by a user invokes the action too"
With toCenterScrollIntoView option enabled, the item selection launched by a user invokes centering of the item as well. I guess this hardly could be desirable behavior. I suggest only center the focused item if it was focused programmatically (including incremental search).

[2017-03-13 11:00] Fr0sT-Brutal commented on #418
Confirm, the bug has gone

[2017-03-13 12:58] joachimmarder commented on #700
I tend to agree, but need to check this in detail.

[2017-03-13 13:22] sanjayssk commented on #557
I'm going to close this issue and add another one to describe the problem that I still see in the latest version with the given demo. This code mentioned in this issue is supposed to have solved the earlier rendering problem (not described) so it must be different from the one that I'm seeing.

[2017-03-13 13:28] sanjayssk opened #701 "Even if a parent node IsFiltered out, the child nodes are drawn hanging instead of hiding them"
If you take the test program from issue #557 and compile it with the latest version (or even older versions), you will see that it paints hanging child nodes when the parent node has been filtered out. The correct behavior should be that the child nodes of a filtered out parent should not be visible at all.

[2017-03-13 19:05] joachimmarder commented on #700
I looked into this and the behavior you described does not occur in case the flag `toDisableAutoscrollOnFocus` is set. `toCenterScrollIntoView` does not turn on or off auto-scrolling, it just decides if the selected nodes is scrolled into the center of the view, or if the viewport is scrolled only as much as necessary so that the focused node appears on the edge of the control.

Please provide mor

[2017-03-13 19:19] #691 closed, assigned to joachimmarder

[2017-03-13 19:20] #557 closed, assigned to sanjayssk

[2017-03-13 19:24] joachimmarder commented on #649
Is there any news on this issue? If no sample project is supplied, I will close this issue sooner or later.

[2017-03-13 19:41] joachimmarder commented on #325
I don' think renaming these properties is worth a breaking change. I added comments to those properties to make this clear.

[2017-03-13 19:43] #325 closed, assigned to nobody

[2017-03-14 08:35] Fr0sT-Brutal commented on #700
Yes you're right (though a use case when toDisableAutoscrollOnFocus could be turned on seems strange to me). But I cannot imagine why centering could be desired when a node is focused by a user. F.i., a list with items 1-10 in view, 20 items total. User clicks on 9th item. The view scrolls, the focused item jumps up, while the cursor stays on old position - and now it is over 15th item. For me, th

[2017-03-14 10:36] joachimmarder commented on #700
I agree and would never turn on this option in my applications. But I cannot speak for everyone. For example, issue #692 was discovered due to this option, so somebody must have used it.
Windows Explorer by the way does also not center the found node when using incremental search. I will leave this issue open for a while and see if other comments are made.

[2017-03-14 12:04] Fr0sT-Brutal commented on #700
Well, Explorer scrolls the view so that the found node becomes first visible. VTV makes it last visible. Behavior already differs ;). Centering the focused node looks pretty but only for big jumps.

[2017-03-16 07:56] MikaelBox opened #702 "Access Violation at designtime when RootNodeCount is >0"
[VT_fail.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/847012/VT_fail.zip)
Only one form with virtualtree. In design mode, IDE crashes on open this form or close this form. Access violation in module "borlndmm.dll".
RAD Studio 10.1 and VirtualTree 6.5.0 (older version crashes too (6.3.2))

[2017-03-16 09:34] joachimmarder opened #703 "Possibly wrong selection if nodes are selected during DeleteChildren()"
Happens e.g. when using the `toAlwaysSelectNode` flag and a node is deleted of which a sub-node is selected. `EnsureSelectedNode()` alters the selection during this process and selects the parent node of the selected. But this is deleted just after that but remains in `fSelection`.

Proposed solution: In `DeleteNode()` call `DeleteChildren()` before removing the deleted node from the selection.

[2017-03-17 23:02] the-Arioch commented on #702
RAD Studio 10.1 had problems with FastMM i recall....
Maybe BorlandMM.dll just exposes the same Delphi bug.

https://github.com/pleriche/FastMM4/issues/18

----

Anyway, BorlandMM.dll seems rather outdated aproach, why ever use it anyway ?

[2017-03-18 03:56] MikaelBox commented on #702
FastMM is not installed.

[2017-03-18 08:46] the-Arioch commented on #702
Does not matter, the bug is in Delphi RTL, and it might expose itself with any non-default, additional MM.
So, try to get rid of BorlndMM.dll

PS. BTW, buillt-in MM is also an older fork of FastMM,

[2017-03-18 14:40] joachimmarder commented on #702
In my case the IDE crashes only when I close the form. This is the call stack:

[code]

It however does not contain any Virtual TreeView code. Is your call stack similar?

[2017-03-18 14:42] joachimmarder commented on #702
@the-Arioch: I don't think `BorlandMM.dll` is actively used by the sample or Virtual TreeView, but only by RAD Studio.

[2017-03-18 16:06] joachimmarder commented on #702
I added a minmized version of the project:
[Minimal.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/852552/Minimal.zip)

It seems that this is sufficient to provoke the AV:
[code]
Setting `NodeDataSize` to its default value 0 prevents the AV.

[2017-03-18 16:31] #703 closed, assigned to joachimmarder

[2017-03-18 16:44] #702 closed, assigned to nobody

[2017-03-18 19:54] joachimmarder commented on #695
Did you use the RAD Studio/Delphi package, or the special C++ Builder package?

I tried compiling the 10.1 C++ Builder package but I ended up with errors. I ended up with other errors when using the 10.0 package under 10.1. The XE8 package worked, so have rebuilt the 10.2 packages based on the XE8 package.

I normally don't use C++ Builder at all.

[2017-03-20 20:39] obones commented on #701
Well, from what I understand of the initial intent behind Filtered and Visible is precisely that difference:
Visible=False applies to a node and its children while Filtered=True applies to a node only.
So, to me, what you are describing is expected behavior as transpires from various areas in the code itself, dating from ages ago.
But I may also have understood all this incorrectly.

[2017-03-21 04:31] sanjayssk commented on #701
Thank you for your thoughts. What you say is true for a "flat" grid. In case of a Tree View, it must show a valid tree structure. Hanging children have no meaning in a tree view.

**Screenshot 1**
If you compile the test in #557 with the latest version, you get this view which is clearly invalid. Note that scrollbar is at the top.
![image](https://cloud.githubusercontent.com/assets/20315846/241325