[2018-11-02 15:31] GoranDespalatovic commented on #837
Current implementation is this (in TBaseVirtualTree.HandleIncrementalSearch) :

[code]

we might try to change it to :

[code]

but this would require to add parameter to DoIncrementalSearch method and OnIncrementalSearch event

[2018-11-04 15:02] joachimmarder commented on #838
Those two lines in `UpdateEditBounds()` indeed look strange and I currently cannot explain why they are there. I commented them and the effect is gone. Can you please check on your side?

[2018-11-04 15:03] joachimmarder commented on #837
Changing events in Delphi is always a breaking change, that's the downside. Besides that I like this approach.

[2018-11-05 07:53] GoranDespalatovic commented on #837
How about adding dedicated event like :
[code]

with
[code]

and
[code]

[2018-11-05 09:21] obones commented on #838
Yes, removing them fixes the issue, but like you, I can't see why they were needed. Maybe the original author of revision f9a13957aba665ab7f0fca255bc2713a678915ce can shed some light on this?

[2018-11-05 10:31] obones opened #840 "Image list returned by DoGetImageIndex is not used anymore"
`TBaseVirtualTree` defines the virtual `DoGetImageIndex` method and uses it to retrieve information about the image that should be painted for a given node and column.
In one of our derived classes, we override this method and have it return a custom image list under some conditions.
However, that image list is not used and no image is painted because, looking at the source, `ShowImages` is set to

[2018-11-05 10:35] obones commented on #821
I'm not doing this, but maybe someone, somewhere is recreating the underlying nodes when a change occurs, meaning that the `PVirtualNode` instance disappears before the code that triggered the change has finished.
If this is done inside a keyboard event from the virtual tree itself, it may very well try to access a destroyed node, with the consequences that everyone can imagine.
The usual way to c

[2018-11-05 10:37] joachimmarder commented on #837
Well, the same applies here like for the TreeOptions: You can't add an event for any edge case. I still like the additional parameter in the existing event more.

[2018-11-05 10:54] joachimmarder commented on #840
I guess the code

`ShowImages := Assigned(FImages) or Assigned(OnGetImageIndexEx);`

is from the time when Virtual TreeView did not support multiple images lists. We may need to merge `CalculateVerticalAlignments()` and `TVTPaintInfo.AdjustImageCoordinates()`. As a first step, we should move the local var VAlign to the record `TVTPaintInfo`.

This refactoring will get a little tricky and for now y

[2018-11-05 10:59] obones commented on #840
Yes, I agree, this is tricky to refactor and the workaround is fine by me.
I created the issue mostly as a "reminder" should someone else trip on it.

[2018-11-06 09:57] livius2 commented on #832
If realy considered i will change it not to be **private** only as **protected**.
You can not imagine what users can do with VT, limiting this to private will be not beneficial.

[2018-11-06 19:48] joachimmarder commented on #832
`TVirtualNode` is a record, so `protected` won't make any difference.

I can! I get the emails if that stuff doesn't work as expected. Or if they simply did not recognize that `TVirtualNode.Parent` is an internal piece of data that should better not be touched without using the appropriate setter.

[2018-11-06 21:34] joachimmarder opened #841 "Refactorings to simplify FireMonkey port"
See pull request #839 for a detailed discussion. Proposed changes:
- Since FMX uses the type single for coordinates and dimensions, while VCL uses Integer, we should create an lais to avoid having too many `$ifdef` in the code.
- Some function use the type `HDC`, we should try to switch to `TCanvas` instead.
- We should discuss to throw old and rarely used features overboard, like tiled background

[2018-11-07 07:10] livius2 commented on #841
All looks ok but

but this one should stay. I use it myself.
I can migrate this to FMX but definitely later. The priority for drawing migration is drawing the header for me.

[2018-11-07 08:19] livius2 commented on #841
I can change all to alias TDimension but two questions
1. change also events?
2. change also published properties? If not this is harder task - because some properties are in BaseTree as public but in descendant as published.

I see more problems here.
Overrided procedures can not have TDimension replacement...

[2018-11-07 08:31] joachimmarder commented on #838
I asked him in his commit. I consider this issue solved now.

[2018-11-07 08:31] #838 closed, assigned to joachimmarder

[2018-11-07 08:32] joachimmarder commented on #841
Changing published properties should not be breaking, so yes. For the events we should consider waiting to the next major version of Virtual TreeView. It will work, but the IDE will show an (unnecessary) warning.

I wonder: Is Firemonkey making actual use of the decimal places that the `Single` type offers, or do you typically have whole number here too?

A V8.0 might be a good point to finally me

[2018-11-07 11:11] livius2 commented on #841
changes commited

It depend of usage case. Normally we have fraction=0 but you can have some scalling and any calculation can be made by fraction.

[2018-11-07 13:41] joachimmarder commented on #841
Not sure how to get these changes and leave out all your other changes. I will apply them manually in master branch at a later time.

[2018-11-07 16:16] livius2 commented on #841
I suppose you can cherry-pick this particular commit

[2018-11-08 13:29] tim-lebedkov opened #842 "EArgumentOutOfRangeException in PrepareDrag"
There seems to be a bug in 5.5. I don't know how to reproduce it, but here is the stack trace

Argument out of range (EArgumentOutOfRangeException)
[004E0EF7] System.Classes.{System.Generics.Collections}TList<System.Classes.TCollectionItem>.GetItem
[009698E0] VirtualTrees.TVTHeader.PrepareDrag (Line 13068, "VirtualTrees.pas")
[00968394] VirtualTrees.TVTHeader.HandleHeaderMouseMove (Line 12566, "Vi

[2018-11-08 14:26] joachimmarder commented on #842
Sorry, but I am no longer maintaining V5.5, because we are already on V7. Any chance that you upgrade?

[2018-11-08 14:37] tim-lebedkov commented on #842
I would upgrade, although the corresponding code seems to be the same in 7. Can it be that ColumnFromPosition returns -1 and FColumns[...] fails or is this more complicated than this?

[2018-11-09 07:16] joachimmarder commented on #842
I can't tell if you don't supply a sample project that allows me to reproduce the problem. I don't remember any similar problems in the path months.

[2018-11-09 07:21] joachimmarder commented on #793
Any news here? Otherwise I am going to close the issue.

[2018-11-09 07:26] joachimmarder commented on #695
@somnomedics : Which sample project exactly did you use?

[2018-11-09 09:49] somnomedics commented on #695
The sample project can be found here:
https://github.com/somnomedics/VirtualTreeView_Issue_695.git

[Sample.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/2591629/Sample.zip)

[2018-11-09 22:25] livius2 commented on #841
Added support of header drawing - its columns and button styles
Still few pixel issues but near to compleated

[2018-11-12 17:38] livius2 commented on #841
Added some click events, expand, collapse, header column resize, focus rect..
It looks now really promissing :)

[2018-11-14 08:57] joachimmarder opened #844 "TWorkerThread.CancelValidation() can cause nested message processing"
`TWorkerThread.CancelValidation()` calls `PeekMessageW()` in a loop. According to MSDN:

This can cause call stacks like this:

[code]

This nesting can cause a lot of trouble. In the end, it seems that calling `PeekMessageW()` is similar to calling `Application.ProcessMessages()`, which is generally agreed to be a no-go here.

[2018-11-15 11:19] joachimmarder commented on #844
We now use `TThread.Synchronize()` instead of sending a custom `WM_ChangeState` message.

[2018-11-15 13:11] pyscripter commented on #844
ChangeTreeStatesAsync then is no longer Async
Why not use TThread.Queue instead of Synchronize?

[2018-11-15 20:25] joachimmarder commented on #844
The old call `SendMessage()` was blocking too, like `TThread.Synchronize()`. I did not want to change this aspect of the code as I was unsure if it is important.

Why? I just changed the way the message is sent, I did not change anything regarding in which thread the code is executed.

[2018-11-17 20:02] joachimmarder commented on #695
C++ Builder 10.2.3: An AV still occurs for Win64 builds, but I can't even debug under C++ Builder Win64. All works fine (including debugging) on C++ Win32. I guess this issue needs a C++ Builder expert.

[2018-11-22 15:15] Saeid2016 opened #846 "Placing vertical scrollbar on right or left side"
Hello,
Now the vertical scroll bar position in Virtual TreeView and all Windows controls is determined based on the type of language. In other words, if the language is a left to right language, the scroll bar is placed on the right of the control, yet if the language is written from right to left, the scroll bar is placed on the left. However, I think it would be better to determine the scroll ba

[2018-11-23 11:07] joachimmarder commented on #846
Sorry, but I don't think so. Especially it would not make sense to change this for just one type of control, while all other controls and applications do it differently.

You may implement this in your own derived class, let me know if you need any method declared virtual for this.

[2018-11-23 11:07] #846 closed, assigned to joachimmarder

[2018-11-24 09:16] Saeid2016 commented on #846
Hello, Thanks for answer. Now I use the following code to place VirtualTreeView vertical scrollbar on the right side in the RightToLeft bidimode (for right-handed person) and place it on the left side in the LeftToRight mode. (left-handed person)
[code]

It works correctly but there is a problem when tree is in grid mode and has header columns. Please see the screenshot.
![vst](https://user-images

[2018-11-24 10:17] joachimmarder commented on #846
Having the scrollbar on the left on a LTR system is not a supported feature.

[2018-11-24 13:51] Saeid2016 commented on #846
Thank you for your reply. What about having the scroll bar on the right in an RTL system? Is it possible to do so?

Thank you in advance.

[2018-11-24 16:37] joachimmarder commented on #846
It should work. I never tested it after taking over Virtual TreeView, because I don't have a RTL system for testing.

[2018-11-27 08:23] Logistes opened #847 "Error in building for 64-bit delphi"
Hi

This is an ongoing problem. I am using Delphi 10.1 Berlin with Update 1. I just reinstalled Virtual Trees, downloaded from github. I followed the instructions and it all seemed to install correctly. I can compile and build our app in windows 32, but when I try to build it for 64-bit windows, a problem I have been having for a while continues: after processing about 82,000 lines I get
[dcc64 Fa

[2018-11-27 10:29] Saeid2016 commented on #846
How I should place the vertical scrollbar on the right in RightToLeft bidimode? with my above code or another way? the above code works correctly but there is a problem when tree in grid mode and has header columns.

[2018-11-28 10:43] landrix opened #848 "Current VST breaks checksupport"
current vst introduce in

`procedure AddSystemImage(IL: TImageList; Index: Integer);
`
this code

[code]

this breakes checksupport, if checkboxes are placed in another column then 0. checkbox isn't clickable anymore. the code bevor works fine

`    DrawFrameControl(BM.Canvas.Handle, Rect(0, 0, BM.Width, BM.Height), DFC_BUTTON, ButtonType or ButtonState);
`

[2018-11-28 22:51] joachimmarder commented on #846
This is a bug tracker and not a support forum. Please respect the guidelines on our homepage.

[2018-11-28 22:53] joachimmarder commented on #847
This is a bug tracker and not a support forum. Please respect the guidelines for submitting bugs on the project homepage.

This seems to be an issue with your Delphi installation, not with Virtual Treeview.

[2018-11-28 22:53] #847 closed, assigned to joachimmarder

[2018-11-28 22:57] joachimmarder commented on #848
Please respect the guidelines for submitting bugs on the project homepage and include detailed repro steps or a sample project. It is not obvious why using a different paint method breaks the click support.

From which version exactly was this code.

[2018-11-29 07:15] #844 closed, assigned to joachimmarder

[2018-11-29 07:17] #833 closed, assigned to joachimmarder

[2018-11-29 07:40] landrix commented on #848
please see this sample

....sample.zip

I do not remember the previous version. I gradually took over the new code. That was the last piece after it stopped working.

[2018-11-29 12:05] landrix opened #849 "Setting DefaultText to an empty string doesn't work"
Why was the saving of DefaultText removed?

[code]
i delete DefaultText in my forms, but now it is no longer considered. The value Node is set every time and i need to empty celltext every time.

the old setting:

`Filer.DefineProperty('WideDefaultText', ReadText, WriteText, FDefaultText <> 'Node');`

[2018-11-29 14:20] joachimmarder commented on #849
Only the saving of the redundant `WideDefaultText` property was removed, please see and discuss in issue #828.

[2018-11-29 14:31] landrix commented on #849
OK, in other words, setting DefaultText to an empty string doesn't work.

Simply add a VST on a form, set RootNodeCount > 0 and DefaultText to '' and start the application. 'Node' as Celltext is shown.

[2018-11-29 15:54] joachimmarder commented on #849
Does your VTV code already include commit 0838277?

[2018-11-29 15:55] joachimmarder commented on #848
[sample.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/2629844/sample.zip)

[2018-11-29 16:03] joachimmarder commented on #848
This was introduced with pull request #830 .
@lorenzo-montesi : Can you comment please? And send a revised PR?

[2018-11-29 16:21] landrix commented on #849
yes, now, but it don't helps

[2018-12-01 10:01] lorenzo-montesi commented on #848
The problem is due to the option toThemeAware disabled. I'm trying the solution to set the correct part.
The main column different from 0 is not the reason.

[2018-12-01 10:41] #848 closed, assigned to joachimmarder

[2018-12-01 10:41] joachimmarder commented on #848
@landrix : Can you please confirm the fix?

[2018-12-01 10:54] joachimmarder commented on #849
Did you recompile the VTV designtime package and re-save the DFM?

[2018-12-03 08:47] landrix commented on #849
Yes
you can also switch from dfm designer view to text view and back, DefaultText is reset to 'Node'
if you set DefaultText = '' manually in dfm text view and switch to design view and back to text view, the entry is going away.

[2018-12-03 08:49] landrix commented on #848
thanks, now it works

[2018-12-04 17:20] Saeid2016 opened #851 "TVirtualStringTree node image doesn't scale in high dpi display"
Hello,
In 4K monitor node image doesn't scale. See the demo screenshot.
![vtree](https://user-images.githubusercontent.com/25425826/49460210-0dcf9400-f806-11e8-851e-164c6bec8836.png)

[2018-12-05 11:44] Daniel-Tr opened #852 "Scrollbars are painted incorrectly using styles and PerMonitorV2"
Repro from: https://quality.embarcadero.com/browse/RSP-

(Environment) Recent Windows 10 (like version 1709)
(Environment) two monitors with different scalings (like one at 100%, one at 200%)
Create a form with a TScrollBox and a TScrollBar and a VirtualTree
Activate PerMonitorV2 awarenes in custom manifest
Set a custom style in Application -> Appearance
Run application and move to the other monit

[2018-12-05 12:13] joachimmarder commented on #851
If you want larger images, you need to use a larger ImageList. In Delphi 10.3 Rio this can be achieved conveniently using the new TVirtualImageList / TImageCollection.
TTreeView, TListView and TComboBoxEx for example behave the same way, so this is not a bug or limitation of Virtual TreeView.

[2018-12-05 12:13] #851 closed, assigned to joachimmarder

[2018-12-05 14:10] pyscripter commented on #852
Vcl.Styles cannot be used in Delphi DPI Aware applications.  This has not been fixed in Delphi 10.3.  See for example https://quality.embarcadero.com/browse/RSP-22230.  In the comments you will see a workaround to create system DPI aware applications (not per Monitor).  I am using this workaround and I have no issues with VirtualTreeView scrollbars.

[2018-12-06 08:59] landrix commented on #849
The solution:

you should reintroduce TCustomVirtualStringTree.WriteText

and change this

[code]
The property name WideDefaultText is bad luck.
But required for backward compatibility.

[2018-12-06 17:11] joachimmarder commented on #849
Why exactly?

[2018-12-06 17:22] landrix commented on #849
If you rename the property to DefaultText, all old ones are ignored

Not?

I must replace all WideDefaultText values in my dfm files. Right?

[2018-12-07 11:01] obones opened #853 "Hint window is too high and too narrow"
As I'm in the process of updating our copy of VTV, I'm trying to get the same behavior as I was having before. Most times, it's my code that needs changing, but I'm running in a issue where hints went from this:

![image](https://user-images.githubusercontent.com/1314739/49643350-bd2e8580-fa15-11e8-87e2-b87567bc93a0.png)

to this:

![image](https://user-images.githubusercontent.com/1314739/4964336

[2018-12-07 15:01] joachimmarder commented on #853
This sounds like a good workaround and I would be happy to receive a tested PR. You may need to use ScaledPixels(4) instead of a hard coded 4 pixels so that this works in high-dpi scenarios.

[2018-12-07 15:03] joachimmarder commented on #849
No, if the reader finds the `WideDefaultText` property, it still calls `ReadText()`.

[2018-12-07 15:05] joachimmarder commented on #849
Closing this issue, because as far as I can see it everything works as intended.

[2018-12-07 15:05] #849 closed, assigned to joachimmarder

[2018-12-07 16:40] obones commented on #853
Here you go:
https://github.com/Virtual-TreeView/Virtual-TreeView/pull/854

[2018-12-09 21:46] joachimmarder commented on #853
Thanks for the PR.

[2018-12-09 21:46] #853 closed, assigned to nobody

[2018-12-09 21:47] joachimmarder commented on #842
Any news here regarding the update to V7 or the sample project?

[2018-12-09 21:48] joachimmarder commented on #819
Can you supply any further details here?

[2018-12-09 23:59] ElminsterAU commented on #819
If you look at the code, you can easily see that the code uses 2 different methods to pick out only the entries from NewItems that are actually "selectable".

One method is using AddedNodesIndexes to remember indices into the unmodified NewItems, and then later iterate over that array with indices and using them to access NewItems.

The other method is to increment the pointers for the invalid ent

[2018-12-10 08:39] joachimmarder commented on #819
OK, I see, thanks. Not sure why the index was stored in `AddedNodesIndexes[]` instead of the `PVirtualNodes`, doing so should solve the problem.

[2018-12-10 11:07] ElminsterAU commented on #819
The index that's stored inside `AddedNodesIndexes` is an offset into the `NewItems` array. It has only ephemeral meaning during that single call to `InternalAddToSelection`. And it's only purpose is to be able to later iterate only over the "valid" newly selected nodes in `NewItems`.

And because of the use of `PackArray` to remove all invalid entries from `NewItems` the use of `AddedNodesIndexes`

[2018-12-10 13:11] tim-lebedkov commented on #842
I replaced the code by V7, but it is not shipped yet and it is not reproducible on my computer.

[2018-12-10 13:20] joachimmarder commented on #842
OK, please reopen the issue in case the problem still occurs.

[2018-12-10 13:20] #842 closed, assigned to nobody

[2018-12-10 13:21] joachimmarder commented on #826
Since no repro steps for the problem were supplied so far, I am closing this issue.

[2018-12-10 13:21] #826 closed, assigned to nobody

[2018-12-10 14:40] joachimmarder commented on #819
OK, so far I never cared what `PackArray()` is doing exactly. That the array is passed as `const` in both methods is a bit misleading. I will revise the fix tomorrow and remove `AddedNodesIndexes` tomorrow.

[2018-12-10 14:50] ElminsterAU commented on #819
`PackArray` does not change the "array" (which is a pointer into the heap, and which would change if the array reallocated because it's length is changed). This is why PackArray returns the new length as a parameter instead of changing the length of the actual array.

It does change the CONTENTS of the array.

If you consider something like:

[code]

The const is fine and correctly, because p is n

[2018-12-10 19:57] landrix commented on #849
I do not think I'll send you an e-mail in German, maybe we misunderstood.

[2018-12-10 21:24] joachimmarder commented on #849
So you are saying that a `WideDefaultText` virtual property value is not correctly converted into a `DefaultText` property? Can you send a sample project and include your Delphi version? I tested this on 10.2 and it was working.

[2018-12-10 21:31] landrix commented on #849
my problem is, when i set DefaultText in form designer to an empty value, it isn't saved in dfm...
Node will be set as celltext again when the application is started. It is not empty.

Whether there is any WideDefaultText property involved or not, I can not see exactly. the latest version from here works different from my previous one.

[2018-12-10 21:47] joachimmarder commented on #849
OK, I just re-checked the original issue and it seems that there is a bug in Delphi which does not store the empty string although `IsDefaultTextStored` returns `True`. It works if I use a string that consists of a single space. May I ask what is your use case for the empty string?

[2018-12-10 21:52] landrix commented on #849
In the past, I always emptied DefaultText. And Celltext filled only when needed. If no solution is possible, I have to go through the many OnGetText events. Thank you

[2018-12-10 22:07] joachimmarder commented on #819
I know, but isn't that also true for passing it as `var` paramter? It might be habit of mine, but I use `const`only if the parameter value remains truly unchanged. Anyway, it does not matter here and the original issue should be fixed now. Thanks for reporting it.

[2018-12-10 22:07] #819 closed, assigned to nobody

[2018-12-10 22:24] joachimmarder commented on #849
OK, it seems to work if I define the property in code. Just committed this fix but I have only limited time to test today.

[2018-12-11 07:22] landrix commented on #849
Yes, thanks, this fixes the issue.

[2018-12-11 07:49] joachimmarder opened #855 "Wrong checkbox position in header on secondary scaled monitor"
The problems seem to be newly introduced on Delphi 10.3, I don't see it in 10.2.3.

![grafik](https://user-images.githubusercontent.com/10615289/49785667-988e2280-fd21-11e8-8738-853e21920ff0.png)

[2018-12-11 08:30] joachimmarder commented on #855
Reason is that `TBaseVirtualTree,FHeaderRect` is not up to date. Reason is a missing call to `UpdateHeaderRect()` in `ChangeScale()`.

[2018-12-12 16:19] joachimmarder opened #856 "Always select next node upon deletion of the selected node"
Could it make sense to always select the next node, if the currently selected one is getting deleted?

If this behavior is too different compared to the current one, we could add a tree option like toSelectNextNodeOnRemval

[2018-12-13 08:32] landrix commented on #856
a tree option is better, somethimes a don't need see more selected nodes. and the selection should stay on same node level.

[2018-12-14 21:14] joachimmarder commented on #840
This should now hopefully be fixed. I have no sample project with an overridden `DoGetImageIndex()` for testing.

[2018-12-14 21:14] #840 closed, assigned to joachimmarder

[2018-12-14 21:28] #815 closed, assigned to joachimmarder

[2018-12-14 22:42] joachimmarder commented on #818
At least if `HintMode <> hmTooltip` or `ShowHint` is `False` the problem is now solved.

[2018-12-14 22:42] #818 closed, assigned to nobody

[2018-12-17 19:15] joachimmarder opened #857 "Do not fire OnChnage event with nil if selection changes"
When the selection changes, the `OnChange` event is currently fired twice:  Once with `nil` and then a second time with the new selected node. We should omit the first call with nil if a new node is going to be selected.

[2018-12-17 19:16] #808 closed, assigned to joachimmarder

[2018-12-17 20:04] #805 closed, assigned to joachimmarder

[2018-12-17 20:14] joachimmarder commented on #852
Can be replicated using the `Advanced` sample project, a "PerMonitorV2" manifest and by moving the form to the other monitor. It does not occur for other scrollbars, so there might be an issue in the unit "VirtualTrees.StyleHooks".

[2018-12-17 21:42] joachimmarder commented on #852
Can be replicated using the `Advanced` sample project, a "PerMonitorV2" manifest and by moving the form to the other monitor. It does not occur for other scrollbars, so there might be an issue in the unit "VirtualTrees.StyleHooks".

[2018-12-17 21:43] joachimmarder commented on #852
Seems that the scrollbars are simply painted too small and the default drawing is visible in the background. Maybe some dimensions are not scaled properly according to the current monitor.

[2018-12-17 23:33] pyscripter commented on #852
The VCL style images are not scaled.  You do not need a second monito to see that, the issue also occurs with one high-DPI monitor and DPI Awareness set to system.  It is not just the scrollbars, checkboxes, radio buttons etc are not scaled.  This is a known issue.

https://github.com/pyscripter/pyscripter/blob/master/Source/VCL.Styles.DPIAware.pas  provides a work around by scaling all style bitm

[2018-12-18 09:25] joachimmarder commented on #852
I am aware that VCL styles do not scale well. Still Virtual TreeView should not look that worse compared to other standard VCL controls, which look quite OK at 125% and 150% with Carbon theme or the dark Window 10 theme.

[2018-12-19 21:37] #852 closed, assigned to joachimmarder

[2018-12-20 13:31] luebbe opened #858 "Fixed colors in GetColor"
@pyscripter @joachimmarder

After a long pause, I have just updated VirtualTreeView to the current head revision and noticed that the inactive/disabled colors don't work properly anymore.

The patch for #789 introduced a regression. The change from clBtnFace to clGray makes `StyleServices.GetSystemColor(FColors[Index]);` always return $808080, because clGray is not a system color.

You always have

[2018-12-20 13:50] pyscripter commented on #858
You can always remove toHideSelection to go back to the previous behaviour. (before the patch, toHideSelection was not respected).

clGray was chosen because it kind of works OK with most backgrounds dark or light.
It would be nice if you could come up with a better solution that works with all VCL styles.  I couldn't.

[2018-12-21 09:45] luebbe opened #859 "Is there a default format settings config for Virtual-TreeView?"
Every time I work on VTV, I have to be extremely careful not to hit Ctrl+D when editing in order to avoid reformatting everything.
Are you using one of the standard format settings distributed with Delphi or are you using your own?
If there is a format settings config, could you please append it to the developer guide in the Wiki in order to facilitate contributions?

[2018-12-21 12:08] luebbe commented on #858
Ok, after looking into it a bit further, I have a few more bits of information.
In my concrete case we disable the treeview while data is being fetched to prevent the user from selecting a new node in the mean time. Unfortunately the disabled SysColor of our VCL Styles is very close to clGray, which makes the disabled selection invisible during this time.

I have also noticed that UnfocusedColor i

[2018-12-21 12:22] luebbe opened #860 "Proposal: change the color number in TVTColors to enum"
Is there any reason not to change the color numbers 0..16 in TVTColors to an enum e.g.:
[code]
and use this instead of the numbers? (Backwards compatibility, persistence, ...)?
It would save some comments and you always know which color you are currently referencing.

[2018-12-21 13:55] pyscripter commented on #858
Indeed

This is what is used for the Window Caption (title).   You will find that for most VCL styles it does not provide suitable colors.  (I did try that).

Text = clBtnShadow
Background = clnactiveCaption

For dark styles say "Windows 10 Dark" clBtnShadow is clBlack making it indistinguishable from the background of the VirtualTree.  Which stlyes do you use by the way?

[2018-12-21 15:45] joachimmarder commented on #859
No, this project has evolved over 20 years and got contributions by dozens of developers. Someone started to write guidelines in the [Wiki](https://github.com/Virtual-TreeView/Virtual-TreeView/wiki/Developer-Guidelines) a while ago, but these are neither final nor enforced.

But who will take the time to reformat all that code? And doing so will require a monster commit that breaks the history / b

[2018-12-21 15:48] joachimmarder commented on #860
A good reason not to use an enum does not come to my mind.

[2018-12-21 16:39] luebbe commented on #859
Hmm, I'll try the standard format settings that come with Delphi and see how big the diff becomes. Maybe I can minimise it.

[2018-12-21 16:40] luebbe commented on #860
Ok, then I'll do this in a separate PR

[2018-12-26 11:13] tfrost opened #861 "Autoscale only changes node height in nodes visible on screen"
If I move my application window to a screen with different resolution,  the visible nodes scale correctly, but when I next scroll the tree vertically, the nodes that scroll into view still have the node height that that they would have had on the former screen.

SetNodeHeight called from ChangeScale appears not to care about adjusting the height of non-visible nodes, but I cannot seem to find a wa

[2018-12-27 12:12] joachimmarder commented on #861
Please respect our guidelines for submitting bugs on the project homepage and include a sample projects that allows to reproduce the issue, or provide steps how to modify one of our demo projects.

Looking at `SetNodeHeight()` I see only one condition that could prevent the assignment of the given value: `toReadOnly in FOptions.FMiscOptions`

Is this the case for you?

This condition does not make

[2018-12-27 12:33] #860 closed, assigned to luebbe

[2018-12-27 12:34] joachimmarder commented on #858
@pyscripter : Would you mind taking a look at the current state after merging the PR? Are your use cases working as expected?

[2018-12-27 15:39] tfrost commented on #861
Thanks for your swift response.  I can create a demo project if you are unable to verify this issue, although the effect should be visible in almost any tree if you have the ability to change screen DPI after program startup.  No, the `toReadOnly ` option is not set.  Yes, the height assignment is correctly made, and all the nodes visible in the window change height as expected when the main windo

[2018-12-27 15:51] joachimmarder commented on #861
Well, in this case it would not be necessary to create a sample project, but you can, as I wrote in my previous post and on the project homepage, just write that it occurs with the `Advanced` project. But of course I tried that before responding. I also checked our current TreeSize nightly build for the problem, but all looks good. Please also include the Delphi and the Virtual TreeView version th

[2018-12-27 16:34] pyscripter commented on #858
As mentioned above clInactiveCaptionText/clInactiveCaption  are indented for another purpose than showing inactive selected list items. They are used for the inactive Window Caption (title).

After the latest commits, for dark styles, I see no difference in the background color between unfocused selected and unfocused unselected nodes.   So these commits break existing behaviour.  I will look into

[2018-12-27 16:44] joachimmarder commented on #858
@pyscripter: Thanks. I don't use VCL styles in my projects so I lack a little experience here when it comes to the details.

@luebbe: Have you tried this with a dark style like Carbon?

[2018-12-27 19:59] tfrost commented on #861
Thanks to your insights. I now know what is happening.  The difference between ChangeScale and my workaround is that the former iterates using GetNextInitialized and that later is using recursive GetNextSibling.  When I first open the program and then move the window to another screen, I have discovered that only the visible nodes are initialized.  If I scroll down slowly with down-arrow, each nod

[2018-12-28 04:43] pyscripter commented on #858
After looking at the code in some detail...
- Overall the changes introduced by @luebbe are useful and make the code a lot cleaner.
- The only question is about the default values of some of the colors.
- UnfocusedColor is used as the font color of unfocused selected nodes, so it should probably be renamed to UnfocusedSelectionTextColor
- In Windows Explorer the text color of focused and unfocused

[2018-12-28 05:03] pyscripter opened #863 "Regression - Erratic behaviour of scroll bas with Vcl Styles"
This is a regression introduced by the fix to #852.
To reproduce:
- compile and run the Advanced Demo with Vcl styles.
- in the first demo press "Add nodes to the root"
- try to scroll down with the mouse by grabbing the slider.

Issue:  The scrollbar jumps to the end ahead of the mouse.
The problem appears in trees with many items.

[2018-12-28 08:03] luebbe commented on #858
So we got a good starting point here :)

I thought the same, but wouldn't this break streaming the dfm file to/from disk? So I didn't touch it.

No, I haven't tried that. If clHighlightText is the official default, we can change back to using SelectionTextColor instead of UnfocusedColor and don't distinguish between focused and unfocused selected node text.
I had the problem that clHighlightText (

[2018-12-28 09:02] joachimmarder commented on #861
This is done by intention for performance reasons. It should not matter as the remaining node's height get initialized with the value of `DefaultNodeSize`, which is scaled as well in `ChangeScale()`.

What would you say is the relevant difference to your project?

That's a pity, I would have tried fixing it, but I can't spend hours on seeking a repro. So should I close this issue?

[2018-12-28 11:45] tfrost commented on #861
Unfortunately you may have to close, because It is not practical either to let you have the actual program or for me to build a sample one, because it depends on several thousand folders and files.

I do not know exactly why a simple test program did not demonstrate the issue but our real applications (both stringtree and drawtree) do so.  We do explicitly set the node height to the default on cre

[2018-12-28 14:14] luebbe commented on #859
Hi Folks,
Would you mind trying out the attached formatter config on VirtualTress.pas?

Rename the file from .config.txt to .config. I added the .txt extension in order to be able to upload it to GH.
[Formatter_VirtualTreeView.config.txt](https://github.com/Virtual-TreeView/Virtual-TreeView/files/2714973/Formatter_VirtualTreeView.config.txt)

There are obviously capitalization, indentation and whi

[2018-12-28 14:23] pyscripter commented on #858
@luebbe Wow! A designer produced Vcl Style! Thanks for the PR #864.

[2018-12-28 14:50] luebbe commented on #858
Yes, we try to keep the appearance of our applications consistent across dev environments and frameworks. So the C# Tools (should) look similar to the Delphi ones.

[2018-12-28 23:10] pyscripter commented on #858
I think it does no harm to keep UnfocusedColor and possibly at some point renaming it to UnfocusedSelectionTextColor.  A comment in the code as to way this color is used would be helpful to users that browse the code.

The combo UnfocusedColor-UnfocusedSelectionColor/UnfocusedSelectionBorderColor indeed produces readable text and it is a minor issue that with some styles is indistinguishable from

[2018-12-28 23:15] joachimmarder commented on #858
OK, thanks for your efforts here!

[2018-12-28 23:15] #858 closed, assigned to luebbe

[2018-12-28 23:24] joachimmarder commented on #861
Indeed, the `DefaultNodeHeight` is assigned in `MakeNewNode()`, not in `InitNode()`. This is done to have a reasonable value assigned to the `NodeHeight` member for scrollbar calculation. So a solution would be to not just scale all initialized node, but all nodes.

[2018-12-28 23:39] joachimmarder commented on #861
Would you mind giving the latest GitHub master a try?

[2018-12-28 23:54] joachimmarder commented on #863
I don't understand why much code was copied from the VCL class `TScrollingStyleHook` into the style hook of the Virtual TreeView. It would be important to deduplicate the code, because over time it will differ.

[2018-12-29 14:42] tfrost commented on #861
Thanks - that seems to have done the trick!  Workaround removed.

[2018-12-29 15:39] luebbe commented on #858
@pyscripter Thanks for your review!

[2018-12-29 22:59] joachimmarder commented on #863
@pyscripter : I am now no longer able to reproduce the problem. Could you please make a test too?

[2018-12-29 23:29] pyscripter commented on #863
Great!  Thanks.  Now it works like before.  So I am closing the issue.

However, there is a minor issue with the parent TScrollingStyleHook I have just noticed.
As before;
-  compile and run the Advanced Demo with Vcl styles.
- in the first demo press "Add nodes to the root"

and now:
- press with the mouse the scroll tab
- drag the mouse upwards and above the scroll tab (nothing happens)
- now wi

[2018-12-29 23:29] #863 closed, assigned to joachimmarder

[2018-12-29 23:33] joachimmarder commented on #859
Well, for Git and blame such a line has changed anyway, even if you turn off this option in your diff tool.

WinMerge reports 1773 differences here, I guess that the number of changed lines is much higher.

And working with multiple formatter configs does not seem very convenient to me.

[2019-01-07 08:25] luebbe commented on #859
Yes, that would also be the killer for me ...
We can close this.

[2019-01-07 08:25] #859 closed, assigned to nobody

[2019-01-08 19:08] GregStevenson opened #865 "Assigning OnGetImageIndexEx forces ShowImages and ShowStateImages true"
Prior to Revision 871 ShowImages would only be true if FImages was assigned  and ShowStateImages would only be assigned if FStateImages was assigned. One could assign OnGetImageIndex and still control which images would be assigned. Now having OnGetImageIndex assigned forces ShowImages AND ShowStateImages to True even if this is not desired and there is now way to force either to its original beha

[2019-01-08 19:14] joachimmarder commented on #865
You mean the commit of June 2016?

That should be possible by implementing the event handler of the `OnGetImageIndex` event accordingly. Here you have full control over which images are displayed, or if no images are displayed.

That would be a breaking change for all developers and is a no-go.

[2019-01-09 17:21] SvenAbeln opened #866 "TBaseVirtualTree.ChangeScale() can cause AV because of destroyed objects"
Every VirtualTreeView, configured with CheckImageKind = ckSystemDefault, will have a reference to the global image list 'SystemCheckImages'.
TBaseVirtualTree.ChangeScale() of one tree will now destroy the global list, create a new one and update his own reference, but all other existing VirtualTreeViews will still have a reference to the old and now destroyed list.

Using global image lists will b

[2019-01-13 15:49] joachimmarder commented on #861
The code change has some negative side effect: It initializes previously non-initialized nodes and changes the check-states. Can be seen with `Advanced` sample project, page "General Abilities".

[2019-01-13 15:53] #861 closed, assigned to nobody

[2019-01-13 15:54] joachimmarder commented on #866
@SvenAbeln : Would you mind testing the fix? I have no multi-windows application at hand for testing.

[2019-01-13 16:39] #821 closed, assigned to joachimmarder

[2019-01-14 14:30] SvenAbeln commented on #866
I just build a simple test application and it seems to be working now:
- no access violation
- checkboxes for trees on different monitors are scaled correctly

[2019-01-14 16:05] #866 closed, assigned to joachimmarder

[2019-01-21 18:53] joachimmarder opened #867 "Remove global imagelist "NodeImages""
`NodeImages` is not high-dpi-scaled in any way and seems to be not used within the current Virtual TreeView code.

If done, we can move `CreateSystemImageSet()` to unit `VirtualTrees.Utils`. Also clean up `VirtualTrees.res` and remove `VTNODEIMAGES`.

[2019-01-22 09:58] Daniel-Tr opened #868 "Text color of a selected node does not adapt to the high contrast mode in Windows when using toUseExplorerTheme"
* Activate high contrast mode in Windows Settings
* Start the advanced demo project, tab "Painting like in Windows XP" (where toUseExplorerTheme is set)
* Select a node
-> High contrast mode indicates a black text color, white one is used

![grafik](https://user-images.githubusercontent.com/22791435/51527099-1a4e9100-1e34-11e9-88d6-3259775ba4bf.png)

[2019-01-22 11:45] joachimmarder opened #869 "UpdateNextNodeToSelect() may select a node that is being deleted"
`UpdateNextNodeToSelect()` checks for the `vsDeleting` flag before calling , but `DeleteNode()` does not set it. It is oinly set in `DeleteChildren()`. `InternalDisconnectNode()` seem to rely on that fact, which is why we must set the flag after calling `InternalDisconnectNode()`.

It does also not make too much sense to choose a child node as next node to select, because it will be invalid if the

[2019-01-22 13:28] joachimmarder commented on #858
@luebbe @pyscripter: Would you mind taking a look at ´the new issue #868? It is also related to colors and maybe your experience when fixing this issue helps there too. Thanks in advance.

[2019-01-22 19:21] joachimmarder commented on #806
For header dragging it seems that we will need a dummy `IDataObject` implementation to that we can attach a bitmap using `IDragSourceHelper.InitializeFromBitmap()` in `TVTDragImage.PrepareDrag()`.

[2019-01-22 21:07] joachimmarder commented on #869
Additional observation: `GetNodeLevel()` called in `UpdateNextNodeToSelect()` for a deleted node always returns 0. It is better and quicker to compare the parent against `FRoot`.

[2019-01-23 08:54] Daniel-Tr opened #870 "Possible exception with a multiple monitor setup with different dpi scalings"
Repro:
* Set primary monitor to 150% scaling
* Set secondary monitor to 200% scaling
* Move app window with a VirtualTree to secondary monitor
* Show other VirtualTrees (e.g. for a secondary/temporary view)
* At some point, an exception occurs, related to the scaling of the UtilityImages

Observations:
* The check performed in TBaseVirtualTree.ChangeScale doesn't catch this change, as it would onl

[2019-01-23 09:05] Dave-Novo opened #871 "GetChildCount does not check if children were initialized"
Hello,
I notice that TBaseVirtualTree.GetChildCount does not check if the passed in Node has called the OnInitChildren event before returning node.ChildCount.  I believe the code could be improved as follows
[code]
Is there any problem with adding the indicated lines above

[2019-01-23 09:07] joachimmarder commented on #870
Related to #866 and  #867. I guess we will need to use one ImageList per instance.

[2019-01-24 21:29] joachimmarder commented on #871
I think this makes sense.

[2019-01-25 01:52] Dave-Novo commented on #871
Looking at the code today, I notice there is already a ValidateNode method. So it seems like it might be appropriate to call ValidateNode before getting the ChildCount. However, in order to Validate a current node, I think you would have to make sure the nodes parents are validated. i.e. in order to validate a child node, you often have to refer to the nodes .Index in relation to the parent. So if

[2019-01-25 04:05] pyscripter commented on #871
Doesn't this violate the lazy data access principle of VT?   Child count should return the current child count.  For non-initialized nodes this is zero.   You do not want to accidentally initialize child nodes.   This may lead to deep or infinite recursion with some data structures. The user should have control as to when a node is initialized, e.g when expanding a a node etc.

The following can g

[2019-01-25 04:24] Dave-Novo commented on #871
The lazy access principle is just that, nodes are not initialized until someone **access it**. IMHO It should not matter if the node is **accessed** by expanding it, or the node is **accessed** because a programmer requested the child node count. I would not agree that the node count of a non-initialized node is zero. The child node count is undefined at that point. If the original developers has

[2019-01-25 04:30] pyscripter commented on #871
This change may break existing code.  Think for example an event handler (mouse over, image index, hint or whatever) that uses ChildCount.  Suddenly now you get nodes expanding out of the blue.  With due respect, this "obvious" change/addition, was not in the code for a reason.

[2019-01-25 05:41] Dave-Novo commented on #871
Calling ValidateNode has nothing to do with expanding it. Nor does my suggestions above for Childcount. They would just initialize the data structures of the node, to return the proper child count, without touching the expanded state at all.

p.s. (off topic) I am really looking forward to trying out your python integration. We already have R integration in our software, and python integration wou

[2019-01-26 09:16] joachimmarder commented on #871
Actually that should never be needed if you follow the virtual paradigm. How could the child count of a node be of interest if the parent node is not initialized? Can you outline your use case?

And I find it interesting that code like this seemed never necessary in Virtual TreeView in the past 20 years.

[2019-01-26 16:47] joachimmarder commented on #868
As color of the selected node currently `clWindowText` is used, but I guess it should be `clHighlightText`. This is a result of an if statement in `InitializeTextProperties()` that tests for `tsUseExplorerTheme`.

While having a code path for `tsUseExplorerTheme` works good for the normal Windows theme, it produces wrong results for the high contrast theme, which behaves more like the classic styl

[2019-01-26 19:49] #868 closed, assigned to joachimmarder

[2019-01-28 18:30] Dave-Novo commented on #871
The use case is from a testing system. We basically do some stuff to our underlying object model, refresh the VST and then ensure the proper nodes are present.

Looking more closely, it seems the problem stems from differences in the initializing of child nodes during iterating.
For example, you can see that GetFirstChild calls InitChildren directly. So we are okay so far.

But once we are on the

[2019-01-29 14:11] joachimmarder commented on #871
Sorry, but in the description of your use case I don't see a point where it would be necessary to initialize parent node recursively. It would be sufficient to `InitChildren()` in `GetChildCout()`. Or did I miss something?

[2019-01-29 14:47] Dave-Novo commented on #871
You are correct. Based on my recent understanding above, there is no need to initialize parent recursively. I believe the fix here is to fix GetNextSibling (and all iterator methods) to initialize the children as they are iterating. That way, they all have consistent behavior, and that way you ensure that any nodes that you reach via the iterator methods are initialized properly. You can probably

[2019-01-30 20:54] joachimmarder commented on #871
Sorry, but I disagree. I think children should be initialized when they are actually accessed. That would be in `GetChildCount()`.

[2019-01-30 21:19] Dave-Novo commented on #871
Ok, that is fine. Then you should remove the initialization from GetFirstChild. Whatever solution you choose, it should be consistent among the iterators right?

[2019-01-31 16:38] ivancx opened #873 "TVirtualStringTree and ScreenReaders (IAccessibility) problems"
Hello, We are having specific problems with Screen narators (readers) like NVDA (https://www.nvaccess.org/download/) , JAWS  and others on TVirtualStringTree when navigatin using keyboard.

Seems like navigating using keyboard (e.g. up, down to change focused node) doesn't "send" text to screen reader. Mouseover works fine - since hitTest amd WM_GETOBJECT messages actions has been implemented in V

[2019-01-31 18:38] joachimmarder commented on #873
Indeed, not much has been done on the accessibility units lately.

If the change you proposed fixes the issue, I will be happy to accept a pull request.

Can the issue be replicated with the sample projects that come with Virtual TreeView?

[2019-02-01 07:09] ivancx commented on #873
Yes. They can be reproducable with every demo.

On 31 January 2019 19:38:21 Joachim Marder <notifications@github.com> wrote:

[2019-02-01 11:01] Memnarch opened #874 "TBaseVirtualTree.AddToSelection changes FocusedNode and can cause an exception"
procedure TBaseVirtualTree.AddToSelection changes FocusedNode, which it didn't before(we updated from V5.x to 7.1). However setting a focused node while the tree has no parent, will cause a "Control has no Parent Window" exception. Because down the line ScrollIntoView is triggered. There are situation where a ui is prepared without being put on the main ui itself.

Maybe FocusedNode in general sho

[2019-02-02 07:56] joachimmarder commented on #874
Can you please post the call stack of the exception? I have no repro project at hand.

[2019-02-02 15:10] #867 closed, assigned to nobody

[2019-02-02 21:23] joachimmarder commented on #870
Removed UtilityImages and replaced them with DrawArrow().

[2019-02-02 21:24] #870 closed, assigned to nobody

[2019-02-06 12:31] #869 closed, assigned to joachimmarder

[2019-02-07 20:40] joachimmarder commented on #855
Verified with a recent build of [TreeSize](https://www.jam-software.com/treesize/manual.php) V7.1 that the problem is resolved.

[2019-02-07 20:40] #855 closed, assigned to joachimmarder

[2019-02-07 20:47] #871 closed, assigned to joachimmarder

[2019-02-08 08:22] ThomasHThomasH opened #875 "AddToSelection not always called when dragging the mouse"
I have set up the virtual treeview with the following options:

`Header.options := [hoColumnResize, hoDrag, hoVisible, hoDblClickResize];`
`TreeOptions.MiscOptions := [toGridExtensions, toEditable];`
 `TreeOptions.SelectionOptions := [toExtendedFocus, toSimpleDrawSelection, toMultiSelect, toDisableDrawSelection];`
`TreeOptions.paintOptions := [toShowTreeLines, toShowHorzGridLines, toShowVertGridLi

[2019-02-08 12:02] joachimmarder commented on #875
Please respect our guidelines for reporting bugs as written on project homepage: First make sure to use the [latest version](https://github.com/Virtual-TreeView/Virtual-TreeView/archive/master.zip) of Virtual TreeView. And please provide a [sample project](https://github.com/Virtual-TreeView/Virtual-TreeView/tree/master/Demos) that allows us to replicate the bug, or provide in detail how one needs

[2019-02-09 16:09] #857 closed, assigned to joachimmarder

[2019-02-09 17:16] joachimmarder commented on #814
The problem is solved if I remove the condition `or ((Msg.Message >= WM_KEYFIRST) and (Msg.Message <= WM_KEYLAST))` from the if-statement in `IsHintMsg()`. This code was added by the original developers so that tooltip windows stay visible during keyboard navigation. Not sure if this is essential, it seems to be a non-standard behavior for Windows controls.

Only cursor keys will now prevent the h

[2019-02-09 18:50] #814 closed, assigned to joachimmarder, sanjayssk

[2019-02-09 18:51] joachimmarder commented on #865
Closing this issue as the reporter supplied no additional info and the referred commit is quite old.

[2019-02-09 18:51] #865 closed, assigned to nobody

[2019-02-09 18:52] joachimmarder commented on #793
Closing this issue as reported supplied no additional information.

[2019-02-09 18:52] #793 closed, assigned to nobody

[2019-02-09 19:05] joachimmarder commented on #729
I verified that using `Selected[]` to select a node does not fire the `OnFocusChnage` event if a multi-selection is performed. I therefore think everything works as designed.

[2019-02-09 19:05] #729 closed, assigned to nobody

[2019-02-09 19:15] joachimmarder commented on #1
Being unresolved after almost 10 years, I am closing this feature request.

[2019-02-09 19:15] #1 closed, assigned to nobody

[2019-02-10 08:15] joachimmarder commented on #641
Will still accept pull requests and issue that make porting easier, but I am reluctant to merge changes for Lazarus or Firemonkey into the original repository, as I don't use them. The code should be maintained by someone that actually uses these frameworks / IDEs.

[2019-02-10 08:15] #641 closed, assigned to nobody

[2019-02-19 20:25] joachimmarder commented on #801
Any news here?

[2019-02-21 00:20] mksjgj commented on #801
about the Shift+= can not expand the node,  you opinion is  it is by design, but how about a user without a number pad, i.e. a laptop

[2019-02-21 00:43] mksjgj commented on #801
line 170??:
              if ssCtrl in Shift then
                if (toReverseFullExpandHotKey in TreeOptions.MiscOptions) xor (ssShift in Shift) then
                  FullCollapse
                else
                  FHeader.RestoreColumns
              else
                if Assigned(FFocusedNode) and (vsExpanded in FFocusedNode.States) then
                  ToggleNode(FFocusedNode);

i th

[2019-02-21 17:30] joachimmarder commented on #801
Seriously?!
A xor B = (A and not B) or (B and not A)
Please use Google to find more on XOR.

[2019-02-21 17:40] joachimmarder commented on #801
I still think it is a rather unusual keyboard shortcut.

Cursor-right expands a single node. You are free to add your own behavior to the OnKeyDown event. Windows Explorer only handles num-pad too, so this seems to be a good default behavior for Virtual TreeView

[2019-02-21 23:59] mksjgj commented on #801
about the Shift+= can not expand

I agree with you, if you think so, I mean it is by design

[2019-02-22 00:26] mksjgj commented on #801
about the XOR

it is true i had never used XOR on logical operation in my everyday programing, the  true xor true get false make me crazy. i always use  A<>B ,...
but if you sure it express you logic, i agree with you again.
thank you for you work on this greate  TreeView

[2019-02-22 00:27] #801 closed, assigned to nobody

[2019-03-05 07:58] joachimmarder opened #878 "Occasional EConvertError in TBaseVirtualTree.GetTextInfo() because Font is nil"
[code]

[2019-03-05 08:01] joachimmarder commented on #878
Seems odd to me that the inherited `Font` should be `nil`. An assign check should solve this symptom.

[2019-03-05 11:41] JJD2K opened #879 "Severe bug in latest release - basic functionality is broken"
FolderTree.Selected[pNode] := true;

Causese a scary assertion at line 14964 in released version:
         Assert(Assigned(FRangeAnchor), 'We assume that FRangeAnchor is always assigned here. If so, delete the following 2 code lines.');
        if FRangeAnchor = nil then
          FRangeAnchor := Node;

in
procedure TBaseVirtualTree.SetSelected(Node: PVirtualNode; Value: Boolean);

What the hell i

[2019-03-05 13:25] joachimmarder commented on #879
Sorry for that, this has been corrected in the latest source code. I had to refactor ancient and non-commented code and using this assertion I tried to check if further code simplification would be possible.

Compiling without assertion, which is the default setting for release builds, also circumvents the problem.

[2019-03-05 13:28] #879 closed, assigned to joachimmarder

[2019-03-05 13:29] #878 closed, assigned to joachimmarder

[2019-03-06 09:49] RussIvan commented on #174
I am using Delphi2010 and VirtualTreeView V5.5.3.
Problem still exists. Even most likely, it remained in the version of VirtualTreeView V7.2.0.
How I fixed it:
1)
function TCustomVirtualStringTree.ComputeNodeHeight(Canvas: TCanvas; Node: PVirtualNode; Column: TColumnIndex;
 S: UnicodeString): Integer; //VirtualTreeView V5.5.3.
var
//...
begin
  //...
  if Column > NoColumn then
  begin
    PaintIn

[2019-03-06 21:56] joachimmarder opened #880 "Setting toVaribaleNodeHeight causes EAccessViolation in Advanced sample"
Add `toVariableNodeHeight` to tree control in unit `WindowsXPStyleDemo` and compile in Delphi 10.3. An EAccessViolation with a weird call stack will occur. The reason is that nodes are initialized before the the `TForm.OnCreate` event was fired, where the `NodeDataSize` property is set. This happens only if the `RootNodeCount` property is set `to a value >0 in the Designer.

[2019-03-06 22:03] joachimmarder commented on #880
Possible solution: Do not start initializing root nodes in `TBaseVirtualTree.Loaded()` but in `CreateWnd()`.

[2019-03-06 22:15] joachimmarder commented on #174
Possible Repro: Open `Advanced`project, open unit `WindowsXPStyleDemo`, in IDE add `toVariableNodeHeight` to `TreeOptions.MiscOptions`, set `DefaultNodeHeight` to 42,  and in `WindowsXPForm.XPTreeInitNode()` add the line:
`InitialStates := InitialStates + [ivsMultiline];`

[2019-03-06 22:25] joachimmarder commented on #174
Solution is using `GetOffests()` introduced for issue #369.

[2019-03-06 22:26] #174 closed, assigned to joachimmarder

[2019-03-11 13:50] jam-kiefer opened #881 "Cannot overwrite text color for disabled nodes"
Repro:
* set nodes initial state to disabled
* implement PaintText event; set canvas' font's color to blue.
* run
Expected: disabled nodes are rendered in blue.
Actual: they are rendered in a typical disabled-gray.

Root cause:
In TCustomVirtualStringTree.PaintNormalText, the disabled state overwrites any custom font color changes intentionally. There is no reason given. So changing this would be

[2019-03-12 09:42] jam-kiefer opened #883 "Horizontal scroll bar changes size unneccessarily"
See the attached sample.

Repro:
 * scroll down
Actual behavior: the horizontal scroll bar handle becomes shorter when longer node titles come into view. This is just the expected behavior because node widths are not yet initialized for nodes out-of-view.
 * scroll up
Actual behavior: the horizontal scroll bar handle becomes longer again.
Expected: the handle length stays as it is, because the VTV

[2019-03-12 18:17] JJD2K opened #884 "TBaseVirtualTree.GetChildCount CRASH"
Latest changes cause crash in:
https://github.com/TurboPack/MustangpeakVirtualshellTools/blob/master/Delphi/VirtualShellToolsDD.dpk

Old code works perfectly in latest sources:
function TBaseVirtualTree.GetChildCount(Node: PVirtualNode): Cardinal;

begin
  if (Node = nil) or (Node = FRoot) then
    Result := FRoot.ChildCount
  else
    Result := Node.ChildCount;
end;

[2019-03-12 21:42] JJD2K commented on #884
I do not know what the new code does but somehow it creates an endless loop causing Stack overflow - most likely sending events that should not be sent.

?????????????
  if (Node = nil) or (Node = FRoot) then
    Exit(FRoot.ChildCount);
  if not GetChildrenInitialized(Node) then
    InitChildren(Node);
  Exit(Node.ChildCount);

[2019-03-12 21:43] JJD2K commented on #884
Does reverting to old code have any consequences?

[2019-03-13 03:17] pyscripter commented on #884
The fix to #871 has undesired consequences.

In your code you can use Node.ChildCount instead of Tree.ChildCount[Node] to avoid the unwanted initialization of the child nodes.

See https://github.com/pyscripter/MustangpeakVirtualShellTools/commit/3725172eb8205e0a653212c6963880329dcbbf50 for the fix.

[2019-03-13 07:45] joachimmarder commented on #884
I think the code change was OK and the code in the derived class should be changed. Like `TBaseVirtualTree.ToggleNode()` it should work with `vsInitialized` and `TVirtualNode.ChildCount` or the code should be moved to `InitChildren()`.

[2019-03-13 07:45] #884 closed, assigned to joachimmarder

[2019-03-13 11:03] joachimmarder opened #885 "Two fast clicks do not change the check state of all selected nodes"
While a single click on a checkbox changes the check state of all selected nodes, a fast subsequent click only changes the check state of the clicked item.

[2019-03-13 13:00] JJD2K commented on #884
I do not know if it is OK, but

  if ChildCount[Node] = 0 then

  if Node.ChildCount = 0 then

should not produce different behavior.

If ChildCount[Node] should not be accessed - it should be made private. Such unpredictable beahaviour is not good. You will end up in a position where this component lives its own life and you can not track what is happening.

[2019-03-13 13:06] joachimmarder commented on #884
Fully agreed, see #832.

Well, that's what it did when I started in this project. But it still has a lot of techncial debts that often cannot be fixed without breaking chnages like this one.

[2019-03-13 13:31] JJD2K commented on #884
Breaking changes should be applied only if it is **absolutely necessary** and should be applied in a way that it is obvious for the existing code what should be changed - not to lead to such recursions.
In this case the above member had to be made private and in the code where it is locates had to write:
Please use Node.ChildCount instead

I am saying this with all my best feelings, but I see such

[2019-03-13 16:31] joachimmarder commented on #884
You suggested a breaking chnage yourself:

I often see the problem here that the bad breaking chnages are those suggested by the other users only.

[2019-03-13 16:47] JJD2K commented on #884
It is better to have an error in compile time and be able to fix it rather than run time.
So for the breaking change above it would be better to make the property private - then the ones using it  would know what should be changed.
I hope you understand what I mean.

And I did not propose a breaking change - I proposed better implementation of your breaking change ;)

[2019-03-14 21:36] joachimmarder commented on #871
One more argument why I think this change was right: Before `HasChildren[Node]` may have returned `True` but `ChildCount[Node]` while returned 0, which looks very inconsistent.

[2019-03-14 21:48] joachimmarder commented on #884
I received a lot of complaints when doing breaking changes in the past. Please keep in mind that >99.9% of all uses of the ChildCount[] property are still valid after the change. Why break 100% of them? I don't think you make a lot of fans that way.

[2019-03-18 12:52] supasoft opened #886 "Dropdown button is not painted for ctButton"
See screenshot
![2019-03-18_15-40-11](https://user-images.githubusercontent.com/40602544/54531191-bfe63280-4995-11e9-822e-d25f6fc979e1.png)

[2019-03-18 17:14] joachimmarder commented on #886
I don't se a dropdown button in the screenshot. Please describe the expected and actual behavior more exactly and include the used version of Virtual TreeView.

[2019-03-19 13:58] supasoft commented on #886
CheckType "ctButton" does not work. See source and screenshot.
![2019-03-19_16-27-28](https://user-images.githubusercontent.com/40602544/54611406-ef656f80-4a67-11e9-862f-4fffe83f6191.png)
[vt button.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/2983690/vt.button.zip)

[2019-03-19 22:07] joachimmarder commented on #886
Sorry, I now understand the problem, I never used ctButton myself so far. With issue #867 the imageglist `UtilityImages` was removed, I guess the down arrow was part of this list.

[2019-03-19 22:11] joachimmarder commented on #886
I committed a fix but did not have much time to test it. Please let me know if it works for you.

[2019-03-20 05:23] supasoft commented on #886
The button is painted now, but OnChecked still does not work.

[2019-03-22 21:59] joachimmarder commented on #886
This is a button, not a checkbox. Did this use to work in earlier versions of VTV? Furthermore the OnChecked event is only fired if the check state changes, but this condition won't get true for a button. However, I can force this in `DetermineNextCheckState()`.

[2019-03-22 21:59] #886 closed, assigned to joachimmarder

[2019-03-26 12:01] supasoft opened #887 "Draw the dropdown button bigger"
plz
![2019-03-26_14-53-44](https://user-images.githubusercontent.com/40602544/54995516-f7795e00-4fd7-11e9-87a4-67561a2e5c7f.png)

[2019-03-26 14:48] tim-lebedkov opened #888 "SortColumn=-1"
I have a performance issue because of SortColumn=-1. The cause is the same as in the (now closed) issue #617.

It is counter-intuitive to sort if SortColumn=-1. Why should one developer after another fall into the same trap?

Please consider disabling sorting if SortColumn=-1

[2019-03-26 20:42] joachimmarder commented on #887
That was more difficult that it seemed if you want proper dpi scaling and proper VCL theme support. Let me know what you think.

[2019-03-26 20:45] joachimmarder commented on #888
Well, this is basically the same as #617, so no need to open a new issue.

But a tree without columns still needs to be sorted, see left pane of Windows Explorer for example. Can we agree on this?

And if a tree is not sorted by a certain column, there are situations in which the order of the nodes should not be random but follow some logic. That would no longer possible.

If you don't want the tr

[2019-03-27 14:04] tim-lebedkov commented on #888
I'd expect a tree without additional columns to be on the column 0. This is probably the difference in our views.

![image](https://user-images.githubusercontent.com/831371/55082218-91590d80-50a1-11e9-9dfd-bbf410c4820b.png)

Maybe also the documentation for toAutoSort is a bit misleading:

Is "tree" here the "tree column" or the whole control?

[2019-03-27 14:23] supasoft commented on #887
Thank you very much! Can you add a button click animation? it was before.
![2019-03-27_17-20-21](https://user-images.githubusercontent.com/40602544/55083534-bdca5500-50b4-11e9-8b3a-8c5d31e7a5fd.png)

[2019-03-27 14:32] supasoft commented on #887
Compared the old and new designs. Old like more. The arrow is gray and the button is larger.
![2019-03-27_17-25-29](https://user-images.githubusercontent.com/40602544/55084415-354cb400-50b6-11e9-9a8f-1e1604f94fa4.png)

[2019-03-27 16:17] joachimmarder commented on #887
Well the old one was a fixed sized bitmap which did not dpi-scale at all. The new one is sized according to the size of of checkboxes. I can't make it larger, otherwise it would be painted in the selection:
![grafik](https://user-images.githubusercontent.com/10615289/55093151-26650200-50b4-11e9-81b6-15973579592f.png)

I chaged the color of the arrow to gray.

[2019-03-27 16:53] joachimmarder commented on #887
I tweaked that a little.

[2019-03-27 16:53] #887 closed, assigned to joachimmarder

[2019-03-27 16:55] supasoft commented on #887
Can some elements be moved to the left? Then the button can do more.
![2019-03-27_19-41-27](https://user-images.githubusercontent.com/40602544/55096078-49021580-50ca-11e9-974e-d26d039056d2.png)

[2019-03-27 17:05] supasoft commented on #887
The animation works when i am clicking on the text, not the button.

[2019-03-27 19:29] joachimmarder commented on #888
That was not my view, it is simply the status quo and how it was implemented when I took over the project a few years ago. I don't think changing this now would be a good option. And I still don't think mixing auto-sorting and the sort-column is a good idea.

Having SortColumn = 0 but Columns[SortColumn] being invalid (in case there are no colums) could also cause some irritations.

"tree" of cour

[2019-03-27 19:43] joachimmarder opened #890 "Visualize pressed state of checkboxes and radiobuttons"
When the mouse button is down on a checkbox, radiobutton, or ctButton, use the pressed state to signal this. Not sure when this got lost. Suggested in issue #887.

[2019-03-27 19:44] joachimmarder commented on #887
In my case it worked for both the button and the text. I opened #890 for this.

[2019-03-27 19:47] joachimmarder commented on #887
No, the text is intentionally left-aligned with the expand buttons. The selection rect is slightly larger than the text.

[2019-03-27 19:49] #890 closed, assigned to joachimmarder

[2019-03-27 20:44] #881 closed, assigned to joachimmarder

[2019-03-27 20:56] joachimmarder commented on #883
[Issue883.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/3015253/Issue883.zip)
Improved Sample project

[2019-03-27 21:15] joachimmarder commented on #883
Difficult to solve. It seems that it was an intentional decision to take only the visible nodes into account. Taking all nodes into account could lead to performance problems.
We could cache the maximum seen width in `TBaseVirtualTree.GetMaxRightExtend()`, but we would need to invalidate this cache once the node that has the maximum width is removed.

[2019-03-28 06:25] Saeid2016 opened #891 "The static text has bad position in RightToLeft BidiMode"
Hello,
In the LeftToRight BidiMode the static text appears correctly on the right beside the normal text but when the BidiMode is RightToLeft it appears on the end of left side of node.
![StaticText](https://user-images.githubusercontent.com/25425826/55134883-c15aec00-5147-11e9-82bf-324f1fed37ba.png)

[2019-03-28 12:06] tim-lebedkov commented on #888
Yes. This was probably what I didn't realize first.

Maybe this:

    toAutoSort,                 // Sort tree when Header.SortColumn or Header.SortDirection change or sort node if
                                // child nodes are added. Please note that the tree can be sorted even if Header.SortColumn =NoColumn (-1) .

BTW, is the .chm file really 7 years old?

[2019-03-28 20:21] joachimmarder commented on #888
I updated the doc for toAutoSort.

Yes, so far no one volunteered to update it. Any volunteers now?

[2019-03-28 20:47] joachimmarder commented on #891
Repro steps:
* Open `Minimal.dpr`
* Set `VST.BiDiMode` to `bdRightToLeft`
* Include `toShowStaticText` in `TreeOptions.StringOptions`
* Add this code to the end of `TMainForm.VSTGetText()`:
[code]

[2019-03-28 20:52] joachimmarder commented on #891
Could you please verify if the fix works for you?

[2019-03-28 20:52] #891 closed, assigned to joachimmarder

[2019-03-29 02:19] Saeid2016 commented on #891
Yes it works. Thank you very much.

[2019-03-29 09:23] supasoft commented on #890
Visualize of the dropdown button does not work again.

[2019-03-29 12:45] tim-lebedkov commented on #888
I would probably move the documentation for single methods into the source code. I have not found the source file containing this information though. What do you think?

![image](https://user-images.githubusercontent.com/831371/55233416-da879980-5228-11e9-94ad-824bc4f4f45a.png)

[2019-03-29 21:03] joachimmarder commented on #890
I tested with the Advanced demo proeject on Delphi 10.3 and it looks good here:
![grafik](https://user-images.githubusercontent.com/10615289/55262557-7091e300-526e-11e9-917b-8790c7d312d4.png)

[2019-03-29 21:06] joachimmarder commented on #888
I would definitely prefer XmlDoc style. It was that way when I took over the project.

[2019-03-30 04:43] supasoft commented on #890
I understood. **OnChecked should work after releasing the mouse button!** I have PopupMenu on OnChecked and the animation is not visible.

[2019-03-30 19:48] joachimmarder commented on #890
The checkbox click beahvior has changed due to issue #805. Not sure if the `OnChecked` event should be raised at all for the buttons. Use the `OnMouseUp` or `OnNodeClick` event instead.

[2019-03-31 05:21] supasoft commented on #890
This is a bug that **OnChecked works like OnChecking**. OnChecked should work after releasing the button (for all button types). So it is accepted in all WinControls.

[2019-03-31 05:33] supasoft commented on #887
Still, you need to align these elements in the center :)
![2019-03-31_8-27-19](https://user-images.githubusercontent.com/40602544/55285190-3a985000-538f-11e9-8c49-c0a1cd71709f.png)

[2019-03-31 18:16] joachimmarder commented on #887
According to the code they should be left-aligned. It seem that the Windows button theme has an extra 1 pixel margin. I just eliminated that and now it looks like this for me:

![grafik](https://user-images.githubusercontent.com/10615289/55293033-c2af4180-53f1-11e9-8894-54153363c149.png)

What kind of theme was active on your screenshot?

[2019-03-31 18:21] joachimmarder commented on #890
Buttons typically do not have an OnChecked property. You should not mix up the change of a checkstate and the state of a mouse button: If you want to know when the button is released, us the appropriate event that was made for this, and not some other related event that may just fire at the same moment.

[2019-04-01 10:01] supasoft commented on #887
Standart theme. Windows 7. It is OK. Thank you!
![2019-04-01_13-02-16](https://user-images.githubusercontent.com/40602544/55319854-837b0200-547e-11e9-94e4-59a17ffa15cb.png)

[2019-04-01 10:27] supasoft commented on #890
OnMouseUp or OnNodeClick is not convenient to use. Need to additionally write a lot of code. This is the most suitable place to handle a button press event.
For check types btCheckBox и ctRadioButton works wrong too. Event OnCkecked must fired after releasing mouse button.

[2019-04-01 10:35] supasoft commented on #890
Take the standard checkbox. Click in the square and holding the mouse button. Move the mouse to the side. Release the button. The event OnClick will not work. This is the usual and correct behavior.

[2019-04-01 10:37] joachimmarder commented on #890
I won't revert #805 now. It was flagged as "Open for Discussion" for half a year.

Why exaclty? `OnChecked` just supplies the tree and the node as paramter. `OnNodeClick` on the other hand supplies the `THitInfo` in addition.

[2019-04-01 10:55] supasoft commented on #890
I completely agree with the author #790.

[2019-04-01 14:33] joachimmarder opened #892 "Do not mix signed an unsiged types, use integer consequently"
There are code lines that try to work around the singed and unsigned problems like this:
`Inc(Integer(Run.TotalCount), Difference);`

`TotalCount` is unsigned while `Difference` is signed. Code would be more managable and more solid if we would use unsigned values consistently.

This could also help the port to FireMonkey, see #839.

[2019-04-01 18:26] joachimmarder commented on #890
I used the Windows ListView common control as template as well as these Windows dialogs, which behave exactly the same:

![grafik](https://user-images.githubusercontent.com/10615289/55350350-2bfb8700-54bc-11e9-985d-1a18fa405a1a.png)
![grafik](https://user-images.githubusercontent.com/10615289/55350365-3cabfd00-54bc-11e9-810d-a6898fd86086.png)

Wouldn't you agree that they are closer to what Virtua

[2019-04-01 18:27] joachimmarder commented on #890
That's good, because the author closed the issue as invalid.

[2019-04-02 07:36] supasoft commented on #890
I agree :(

[2019-04-02 14:18] supasoft commented on #856
a tree option+

[2019-04-02 14:31] supasoft commented on #890
All the same, I do not agree. Event OnChecked must be after releasing the button. This is the common behavior of many interactive elements. **Pressed the mouse button, changed my mind, move mouse away, released the mouse button**. For buttons including.
In the example you gave, modal dialogs (and even in this case, I do not agree). If the flag is not set there, then you can click Cancel. But there

[2019-04-03 20:22] joachimmarder commented on #890
Seriously?!? The sample controls from the Windows UI that I have chosen as template have much more in common with Virtual TreeView or tree-list-controls in general than this one. These are just two plain and simple radio controls. Can we agree at least on that?

Aynway, the main focus of #805 was not to move the check click to MouseDown, it was to remove the overly complex pending check state logi

[2019-04-06 10:16] ivancx commented on #873
Anyone managed to do something with this issue?

[2019-04-07 15:57] ericlangedijk opened #893 "Odd behaviour of TAB when stringeditor is active"
When editing (default TStringEditLink) and pressing the TAB key, the editor goes to the next cell.
Multiselection is off, using the tree as a grid.
But the old cell is still selected, so the focusedcell and selection are out of sync, it seems.
Pressing shift-TAB does not go to the previous cell as I would expect.
When there is no next cell, behaviour is unpredictable.

[2019-04-07 15:59] ericlangedijk opened #894 "editing VK_DOWN and VK_UP"
Pressing up or down should - in my opionion not map to left and right keys, but end the edit and go to the next cell

[2019-04-07 16:01] ericlangedijk opened #895 "Dialog after editing leaves the editor blank"
When editiing and using the OnNewText event which could raise an exception, the editor is blank during the exception message. We do not see the offending wrong value which the user has typed.
Additionally the state of the editor is unpredictable after an exception: the editor is visible but not responsive anymore.

[2019-04-08 10:19] supasoft commented on #890
THitInfo does not allow you to simply solve the problem. It always returns hiOnItemCheckbox. Even if the mouse button was released in the side of the button.

[2019-04-08 18:39] joachimmarder commented on #895
Please respect our guidelines for reporting bugs. When reporting a bug please include a sample project that allows us to quickly reproduce the bug. This can also be one of the demo projects that come with Virtual Treeview, modified to show the bug. If only small changes are required, a description is sufficient how a demo projects needs to be changed in order to replicate the bug. If you already h

[2019-04-08 18:44] joachimmarder commented on #893
I tried with this with our "Advanced" sample project (sample 5, grid simulation) but was unable to replicate this. Can you?

[2019-04-08 19:04] joachimmarder opened #896 "Merge DoCancelEdit() and DoEndEdit() in one procedure with boolean parameter"
They contain almost identical code. Use a boolean parameter instead.
Also merge `IVTEditLink.CancelEdit`and `EndEdit`, they also contain almost identical code.

[2019-04-08 19:13] joachimmarder commented on #894
Windows Explorer and TTreeView behave the same way, so I think it is pretty OK.

It does so in grid mode.

[2019-04-08 19:15] #894 closed, assigned to joachimmarder

[2019-04-08 19:16] joachimmarder commented on #888
Using toAutoSort is the solution, its documentation has been enhanced.

[2019-04-08 19:16] #888 closed, assigned to nobody

[2019-04-08 19:17] #772 closed, assigned to nobody

[2019-04-08 19:28] joachimmarder commented on #874
closing this issue for housekeeping as reporter did not provide more details.

[2019-04-08 19:28] #874 closed, assigned to joachimmarder

[2019-04-08 22:02] ericlangedijk commented on #895
Sorry I will make a project to show it.
The same effect can be seen in the projectmanager of the Delphi IDE, which is - I believe - a VirtualTreeView.
Rename a unit in the tree to an invalid name and you can see the blank editor during the exception message.

[2019-04-09 06:22] Memnarch commented on #874
Sorry for not providing something earlier.
This did not crash before. And while it looks strange as an example, it simulates what the issue is.
[code]

[2019-04-09 12:03] Memnarch opened #897 "Checkstate and selection no longer independent"
It is no longer possible to check an item, if 2 or more other items are selected.

the code in question is in TBaseVirtualTree.HandleMouseDown and is this block:
[code]
If you click on a checkbox of an item that is NOT selected, but at least 2 other items are, it will call **SetCheckStateForAll** with **pSelectedOnly** set to **True**. Because our item is not selected, its checkstate is not change

[2019-04-09 13:19] Memnarch commented on #897
I think the worst part here, is that whatever i clicked, is ignored. On my end, i removed the SelectCheckStateForAll altogether

[2019-04-09 15:31] joachimmarder commented on #897
This is a result of issue #745.

I agree that this scenario was not thought through well. If a non-selected checkbox is clicked, only this checkbox should be toggled.

[2019-04-09 15:35] #897 closed, assigned to joachimmarder

[2019-04-09 15:41] joachimmarder commented on #874
Exception looks like this:

[code]

GetDisplayRect() forces handle creation which requires a parent control.

[2019-04-09 15:44] joachimmarder commented on #895
What I see in the Delphi IDE is an unhandled exception. I don't think we should optimize for that case.

[2019-04-09 20:53] Memnarch commented on #897
Thanks for the fast fix. But i doubt the change will have the desired effect:

[code]
This will now result in a synced selection if the box i checked is selected. Given i have 5 items selected(none is checked) and i check one of them, all of them will sync up to checked. Or am i missing something?

[2019-04-09 20:57] Memnarch commented on #874
If get displayrect is the issue, then isn't the second overload of ScrollIntoView potentially affected aswell?

[2019-04-10 13:14] ericlangedijk commented on #895
It does not matter if there is an exception. Using the OnNewText eventhandler will leave the editor blank too when we use a ShowMessage inside this OnNewText event. Maybe because FStopping = True (?)
If needed I can make a reproduce-project for this.

[2019-04-10 16:10] joachimmarder commented on #897
Exactly that was the intention of issue #745: Allowing easier multi-checking. Virtual TreeView now behaves like other checkable list controls e.g. in TortoiseGit mor TortoiseSVN.

[2019-04-10 16:12] joachimmarder commented on #874
Theoretically yes, like any other of the many `GetDisplayRect()` calls. I would like to focus on them that actually make problems.

[2019-04-11 02:32] Saeid2016 opened #898 "Change hot tracking behavior when toUseExplorerTheme is false"
Hello,
When the toHotTrack option is true, It only changes the hot node text color with HotColor property and text style (underline). Please add an ability to change hot node selection rectangle color like when toUseExplorerTheme is true.
Thanks.

[2019-04-11 09:00] Memnarch commented on #897
But isn't that what the syncmode is intended for? Because the current behaviour is not very windows like and not transparent to the user(and i'm not sure tortoise UIs as good examples for windows). Isn't it possible to make that behaviour an option?

[2019-04-11 13:25] luebbe commented on #897
TortoiseSVN is always a good example (SCNR) ;)

[2019-04-11 19:13] joachimmarder commented on #897
No, that emulates Windows 10 Explorer checkbox behavior, which is different.

Well, there was a challenge: A Virtual TreeView often has a lot of items, and for the user it was very difficult change the check-state of multiple or many items quickly. Can we agree that this was a weak spot of Virtual TreeView?

So I looked around how other software solved this issue and that was the only concept I fo

[2019-04-11 20:18] joachimmarder commented on #895
Thanks, that's an easy repro.

What I found out so far: If a dialog window is shown, then an `EN_UPDATE` message is processed by the message queue and causes a call to `TVTEdit.AutoAdjustSize()`. Here the `Text` property contains a trailing `CRLF`. I guess it is this line feed that causes the text to disappear. But I did not find a solution so far.

[2019-04-11 20:30] #895 closed, assigned to nobody

[2019-04-11 23:35] ericlangedijk commented on #895
I got an accessviolation. Maybe this is safer:
  if (Key = #13) and (Assigned(FLink)) and (Assigned(FLink.Node)) and not (vsMultiline in FLink.FNode.States) then

[2019-04-14 20:39] Memnarch commented on #897
I do agrre that not everything can be an option. However changes that alter defaultbehavior should.

Otherwhise, at least, it should be easily overridable if someone needs the old behavior. In this case, implementing this behavior is fairly simple by overriding DoCheckClick. The otherway in this case, is not. If i need the old behavior, i need to either make changes directly to the code(therefore

[2019-04-15 14:19] joachimmarder commented on #897
In that case we would have 20+ options more now. I guess you simply did not recognize most of those changes becuase they made the default behaviour more common and more expected.

I thought that this would be the case here too. At least it took 10 months after implementation before I received the first comment on this change, so I might not have been totally wrong here.

If a user selects 20 unche

[2019-04-15 18:34] Memnarch commented on #897
That event should still work as expected. but afaik what is missing, is which of the nodes is the one the user clicked on. I think that needs some manual work atm?(like checking the node under the cursor)

[2019-04-16 06:48] joachimmarder commented on #897
No, first the event is only fired for the clicked node, which should allow you to override this behavior. Could you please try that?

[2019-04-16 10:10] ericlangedijk commented on #893
This test project reproduces the tab-issue.
It reveals another bug: if there is no parent window, the autoselect node fails with an exception.
(see comment in the unit1 mainform).

[vttest.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/3084260/vttest.zip)

[2019-04-18 07:47] gwideman opened #899 "Missing installation instructions for Delphi last 7 versions"
The current INSTALL.txt speaks of supporting up to Win 7 and 2008, and upto Delphi XE5. We're now 7 versions of Delphi down the road, and the last of those install instructions does not appear to work.

Ie: After translating the instructions to 10.3 IDE, and installing VirtualTreeView, when I then compile a project for a default VCL Win 32 project (or the provided Minimal demo) I get "Cannot resol

[2019-04-18 18:32] joachimmarder commented on #899
In that case you've most likely modified the Win64 search path, not the Win32 one.  I improved the instructions.

[2019-04-18 18:32] #899 closed, assigned to joachimmarder

[2019-04-18 18:35] joachimmarder commented on #899
Where did you get that from? You must have an old version of the Install.txt.
Check here: https://github.com/Virtual-TreeView/Virtual-TreeView/commits/master/INSTALL.txt

[2019-04-19 00:15] gwideman commented on #899
a) You're absolutely right.  With multiple versions of TVT installed for different versions of Delphi, I somehow was viewing the wrong INSTALL file.  Grrr, very sorry about that.
b) Your just-committed install text. Improved in that it points out the necessity to build VirtualTrees* for both Win 32 and 64, and mentions "the dropdown box" (the Selected Platform dropdown) but...
c)  The menu path to

[2019-04-20 21:16] joachimmarder commented on #899
Although the differences are quite small, I now made an own section for 10.3 and higher

[2019-04-22 20:18] joachimmarder commented on #893
I moved this line to the end of TTestTree.Create() but no exception occurred.

[2019-04-22 20:33] #893 closed, assigned to joachimmarder

[2019-04-22 20:36] joachimmarder commented on #893
This has been corrected by changing the selection.

In my tests the control always left the edit mode, which seems a reasonable behavior to me.

This has been chnaged accordingly.

[2019-04-22 22:16] ericlangedijk commented on #893
Great!

[2019-04-26 07:27] Johnyy45 opened #900 "Last VirtualTreeView + Delphi 7"
Hello.
I use delphi 7 and VTV 5.5.3, but it is old version.

New versions are valid only for Delphi XE - versions. Is it impossible to install last Virtual-TreeView to delphi 7?

It is one serios bug in 5.5.3 (or in my sources), linked with VCL synchronization and multy-thread application model (OnGetImageIndex, OnGetText events). Some node was deleted in TThread.Execute procedure (with Synchroniz

[2019-04-26 07:56] stbie commented on #390
Hello,

after a long debugging and test, I can reproduce the issue with a minimal demo program now.

While I can not upload the demo project as a zip file I try to describe it....

Create a new project.
Add some styles to the project. I choose "Luna", "Auric".
Add a panel with Align= alTop, and three buttons there.

Add some event handlers to the buttons:
First Button OnClick: TStyleManager.TrySet

[2019-04-26 09:08] stbie opened #901 "Please reopen #390"
Please reopen bug #390 "Changing between a VCL style and the "Windows" style leads to an invalid window handle error".
https://github.com/Virtual-TreeView/Virtual-TreeView/issues/390
Please have a closer look of my latest comment there.

[2019-04-26 12:42] joachimmarder commented on #390
What exactly prevents you from that? Can you send through another way?

[2019-04-26 12:43] joachimmarder commented on #390
Which version of Virtual Treeview did you use?

[2019-04-26 12:43] joachimmarder commented on #901
#390 has been reopened.

[2019-04-26 12:43] #901 closed, assigned to nobody

[2019-04-26 12:45] joachimmarder commented on #900
Sorry, but within this project Delphi 7 is no longer supported. You may try your luck here: https://github.com/sglienke/Virtual-TreeView

[2019-04-26 12:45] #900 closed, assigned to nobody

[2019-04-26 17:35] stbie commented on #390
Sorry, my fault.
I tried to upload via FireFox and I recieved always the following error message from GitHub:
"Something went really wrong, and we can’t process that file. Try again."

Now, I changed to Opera ... seems to work.

[VstBug.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/3122369/VstBug.zip)

My latest version was downloaded on 19th April.
Text from file "changes.txt":

[2019-04-28 12:39] joachimmarder commented on #390
Strange, Firefox used to work with GitHub uploads. Thanks for sending the sample project. I can reproduce the problem but have no idea what causes it.

The code of the unit `VirtualTrees.StyleHooks` was contributed by someone else when the XE2 release of Virtual TreeView was made. It has a lot of copied code from the base class. VCL themes are not my area of expertise as I don't use them due to th

[2019-04-29 11:10] Johnyy45 opened #902 "Bug TBaseVirtualTree.ChangeScale with UtilityImageSize"
Hello.
This is bug in
procedure TBaseVirtualTree.ChangeScale(M, D: Integer{$if CompilerVersion >= 31}; isDpiChange: Boolean{$ifend});

...
 if UtilityImages.Height <> MulDiv(UtilityImageSize, M, D) then
          ScaleImageList(UtilityImages, M, D);
...
UtilityImageSize is glogal integer and always 16.
To get this bug please perform following steps:
1. Open Windows Control Panel - Display, set 125

[2019-04-29 11:58] joachimmarder commented on #902
Please respect our guidelines for submitting issues on the project homepage and include the version number you are using.
This seems to be a duplicate of #796.

[2019-04-29 11:58] #902 closed, assigned to nobody

[2019-04-30 08:52] gerritbeuze opened #903 "AV in procedure TVTEdit.KeyPress"
When not in multi line mode, FLink can be nil when committing an edit by pressing Enter.
This causes an AV. Please, fix by adding a check for (FLink <> nil) like below.

[code]

[2019-05-01 07:25] joachimmarder commented on #903
I think this has already been fix in commit f701819.

[2019-05-01 07:25] #903 closed, assigned to nobody

[2019-05-07 09:22] KostovP opened #905 "Setting a `Header.MainColumn` when the parent is not visible or does not exist fails"
Hello,

Please find the comment below

https://github.com/Virtual-TreeView/Virtual-TreeView/commit/de863b4417dfd98caffe8d0c283959b4842d2a82#r33440104

[2019-05-07 13:24] #905 closed, assigned to joachimmarder

[2019-05-28 08:30] Johnyy45 opened #906 "Exception when deleting clicked node OnNodeClick event"
Hello, V7.2.1

I have VirtualSringTree in form, and OnNodeClick procedure.
I want to remove "clicked" node. It was no problem in 5.5.3 version, but I have a problem after update.

procedure TForm.ListNodeClick(Sender: TBaseVirtualTree;  const HitInfo: THitInfo);
var nd:PVirtualNode;
begin
nd   :=HitInfo.HitNode;

TVirtualStringTree(Sender).DeleteNode(nd); // after this call HitInfo.HitNode = nil

[2019-05-28 13:12] joachimmarder commented on #906
Fixed, please verify.

[2019-05-28 13:21] #906 closed, assigned to joachimmarder

[2019-06-24 20:16] TommySlokky opened #907 "Odd issue on Cocoa: Column separators not drawn (but do work for e.g. resize)"
On my Mac 10.14.4 (standard theme - not dark) newest Lazarus SVN Cocoa ...

virtual treeview does not draw its column separators (those you grab and drag to resize columns)

I have tried fiddling with treeview.header.options and teeview.treeoptions.paintoptions but no luck.

Can anyone else get these to work? It is a bit confusing for people new to my software. They may think they can not resize t

[2019-06-24 20:34] joachimmarder commented on #907
Sorry, this project is not Lazarus compatible. Please open an issue in the appropriate fork: https://github.com/blikblum/VirtualTreeView-Lazarus

[2019-06-24 20:34] #907 closed, assigned to nobody

[2019-06-27 15:15] KostovP opened #909 "Argument out of range @ TVTHeader.PrepareDrag"
When ColumnFromPosition() returns InvalidColumn the PrepareDrag() fails because there is no check for such a value.

Steps to reproduce:
1. Show a modal form in the OnNodeDblClick() event
2. In runtime make a double click on a random node and then close the form
3. Try to drag a column header

The reason for this is that nobody releases the MouseCapture after the inherited call @ TBaseVirtualTree.

[2019-06-27 16:29] #909 closed, assigned to KostovP

[2019-06-28 13:29] markusdonath opened #911 "C++ Builder 10.3 and later project files"
There is no package project for C++ Builder 10.3. With the community Edition RAD-Studio package cannot be compiled.
Any solution?

[2019-06-30 21:22] joachimmarder commented on #911
Unfortunately there is currently no maintainer for C++ Builder. The 10.2 package should work,

[2019-07-01 07:18] markusdonath commented on #911
Unfortunately the 10.2 package does not work. My workaround was to install the 30 day trial of RAD Studio 10.3. With this trial I could compile the 10.3 RAD Studio package. Afterwards I copied the binaries to the 10.3 C++ Builder installation.

[2019-07-01 09:34] joachimmarder commented on #911
Can you provide more details, like the error message?

[2019-07-01 10:12] markusdonath commented on #911
dcc32 command line for "..\..\Source\VirtualTrees.Accessibility.pas"
[DCC Fatal Error] VirtualTrees.Accessibility.pas(12): F2613 Unit 'VirtualTrees' not found.

[2019-07-16 14:01] Fr0sT-Brutal commented on #224
As Stefan noted, this will work only if no filtering happened so IMHO it would be a feature with hidden and unexpected behavior. I'm not sure if such a feature should be added.
Unless we have fast built-in VisibleIndex property, this feature (I call it zebra paint) will only work in some special conditions.

[2019-07-16 14:10] Fr0sT-Brutal commented on #856
I like the idea of built-in logic but unfortunately VTV is a tree and there are plenty of cases that not exist in list controls:
 - deleting last node (select previous sibling? select previous visible regardless of its level?)
 - deleting single node on a level (select next visible regardless of its level? Select next node of the same level? Select parent node?)
 - what if a node that is to be sel

[2019-07-16 14:30] Fr0sT-Brutal commented on #832
I found myself using `TVirtualNode.Parent` pretty frequently (as a read-only property though). I also use `Index` and `States` which currently are irreplaceable by a tree method. And `tree.NodeParent[Node]` is inconvenient in some cases when you only have a node variable provided that there's no `TVirtualNode.Owner` property.
So I vote for hiding important members but exposing getters for them and

[2019-07-16 15:55] joachimmarder commented on #856
I don't see a problem here. The Windows TreeView common control as used in Windows Explorer gives a good blueprint for the behavior, and users are somewhat used to it.

I would select the previous sibling.

Select parent. This is already implemented in `UpdateNextNodeToSelect()`.

I don't see a significant difference to e.g. when user navigates the tree using the cursor keys. There are events that

[2019-07-17 07:05] Fr0sT-Brutal commented on #856
OK then, the feature could be done easily :)

[2019-07-17 07:38] Fr0sT-Brutal opened #912 "[Feature] Add dropdown to header column (Explorer-like)"
![screen](https://user-images.githubusercontent.com/1469388/61356426-fd44c900-a87e-11e9-8b77-5e80aca52234.png)

[2019-07-17 12:54] Fr0sT-Brutal opened #913 "Header is not auto-scaled on form creation"
There's `TVTHeader.FontChanged` method where header is resized according to font and columns properties. But when component is being read from a form resource this method is only called on parent font change (when there's no columns yet) so header gets its height as large as `TextHeight('Q')` without any spacing so it looks pretty small for column captions.
I see two possible workarounds: explicit

[2019-07-17 20:25] joachimmarder commented on #856
Yes, the remaining question was, if this should be an optional behavior.

[2019-07-17 20:29] joachimmarder commented on #912
This feature requires a kind of grouping mechanism, that e.g. the Windows ListView common control has. This again requires some knowledge about the data that is displayed in a column, which means  that the drop-down menu or at least the groups need to be supplied through the virtual paradigm too.

[2019-07-18 08:13] Fr0sT-Brutal commented on #912
Well, from my perspective is should be just a stub mechanism. That is, an option to show dropdown arrow and a menu or some kind of panel that would be shown on click. User has to fill filter items and react on filter change by himself by means of callbacks.

[2019-07-22 21:02] joachimmarder commented on #913
Can this be easily reproduced with one of the included sample projects?

[2019-07-23 07:11] Fr0sT-Brutal commented on #913
It can be easily reproduced on a trivial empty project (for the sake of clean experiment).
[code]
[code]
![image](https://user-images.githubusercontent.com/1469388/61689745-6ec5c100-ad30-11e9-851a-cc9a0f1d3f6f.png)

But if we add
[code]
so that FontChanged is called when columns exist, we get the resize. It's not enough though but at least it got called.

![image](https://user-images.githubusercon

[2019-07-26 07:36] SevincQurbanova opened #914 "Delphi 10.2.3- VirtualStringTree- OnGetImageIndex error"
`procedure TForm1.TreeGetImageIndex(Sender: TBaseVirtualTree;
  Node: PVirtualNode; Kind: TVTImageKind; Column: TColumnIndex;
  var Ghosted: Boolean; var ImageIndex: TImageIndex);
begin
    ImageIndex := 0;
end;
`
I use Delphi 10.2.3. When I run the code I get error, If I give value to imageindex.

[printscreen.docx](https://github.com/Virtual-TreeView/Virtual-TreeView/files/3434712/printscreen.do

[2019-07-26 08:13] SevincQurbanova commented on #914
My operation system is windows 10
ide is delphi 10.2.3

[2019-07-26 08:59] SevincQurbanova commented on #914
Finally I solved the issue and now I dont get an error when running. I changed code like this:

procedure TForm1.FormCreate(Sender: TObject);
var i:Longword;
    CurNode,CurParentNode:PVirtualNode;

begin
  Tree.Clear;

  **Tree.Header.Columns.Add;
  Tree.Header.Options := Tree.Header.Options + [hoVisible];
  Tree.Header.Columns[0].Width:=Tree.Width;**

  CurParentNode:=nil;
  Tree.BeginUpdate;

[2019-07-26 09:00] #914 closed, assigned to nobody

[2019-07-28 15:07] joachimmarder commented on #913
Sorry, but I was unable to reproduce that `FontChanged()` is _not_ called (Windows 10, Delphi 10.3).

If `FontChanged()` is not called but the screen is scaled at 125% like in your case, `ChangeScale()` should be called. So it could make sense to extract the relevant code from `FontChanged()` to a new method `AutoScale()` and call this also from `ChangeScale()`.

Could you please check if the late

[2019-08-20 20:57] joachimmarder opened #915 "Possible race condition when setting TVirtualTreeStates.tsUseCache flag"
The flags TVirtualTreeStates.tsUseCache and TVirtualTreeStates.tsValidationNeeded are mutual exclusive, but in the debugger I saw them set both:
![grafik](https://user-images.githubusercontent.com/10615289/63382813-d147c680-c39b-11e9-8f1f-6b18c0bfd21b.png)

A possible scenario in that this could happen: If, while the TWorkerThread executes DoValidateCache(), the main thread calls InvalidateCache()

[2019-08-22 15:43] Fr0sT-Brutal commented on #913
Joahim, looks better now but not exactly. Check this out: set breakpoint to `TVTHeader.AutoScale` on the line `lMaxHeight := Max(lMaxHeight, Columns[I].Spacing);` and launch a project. There will be no break as `AutoScale` is only got called when there are no columns. But if we add `TVTHeaderHack(VirtualStringTree3.Header).AutoScale;` to `TForm2.FormCreate` - breakpoint will trigger.
This is not a

[2019-08-23 08:42] Fr0sT-Brutal opened #916 "Add repo topic for Delphinus"
http://memnarch.bplaced.net/blog/2019/07/delphinus-upcoming-changes-to-the-publishing-steps-of-a-package/

[2019-08-23 08:52] Fr0sT-Brutal commented on #892
Hmm, weird, I have no warnings at all when I build packages neither in XE2 nor 10.1

[2019-08-23 13:47] jBitHub opened #917 "Inconsistent line ending style"
Some files have inconsistent line breaks.
CR/LF
LF..

Packages\RAD Studio 10.2\VirtualTreesD.dpk
Packages\RAD Studio 10.3\VirtualTreesD.dpk
source\VirtualTrees.dtx
source\VirtualTrees.Utils.pas
source\VirtualTrees.ClipBoard.pas
source\VirtualTrees.Actions.pas

[2019-08-23 19:01] joachimmarder commented on #892
Sure, warnings are suppressed by the hard casts.

[2019-08-23 19:04] joachimmarder commented on #916
Added topic "delphinuspackage".

[2019-08-23 19:04] #916 closed, assigned to nobody

[2019-08-23 19:33] joachimmarder commented on #917
VirtualTrees.dtx is messed up by GitHub, the others should be fixed.

[2019-08-23 19:33] #917 closed, assigned to nobody

[2019-08-23 19:43] joachimmarder commented on #913
I cannot confirm that:
![grafik](https://user-images.githubusercontent.com/10615289/63619411-e5cfcd00-c5ee-11e9-8b0d-749b7ee57418.png)

But this was Delphi 10.3.2. I don't have a Delphi 10.1 at hand.

[2019-08-23 19:45] joachimmarder commented on #913
I noticed such discrepancies at other occasions, it is not Virtual-TreeView specific but seems to be a bug in TCanvas.TextHeight() or the underlying Windows API function.

[2019-08-26 12:07] #915 closed, assigned to nobody

[2019-08-26 12:09] joachimmarder opened #918 "Missing sort indicator with toUseExpolorerTheme when VCL styles are used"
Enable the option `TVTPaintOption.toUseExplorerTheme` and compile a project with and without a VCL theme. With VCL theme, the sort indicators in the header are missing, because they are typically *not* part of a VCL style.

[2019-08-26 12:20] joachimmarder opened #919 "TVirtualTreeColumn.SetColor() should remove coStyleColor flag"
`TVirtualTreeColumn.SetColor()` should remove `coStyleColor` flag so that the given color gets effective. Currently, the flag `coParentColor` already is removed, so it seems inconsistent not to do this with `coStyleColor` as well.

[2019-08-26 12:28] #919 closed, assigned to joachimmarder

[2019-08-26 12:45] #918 closed, assigned to joachimmarder

[2019-08-26 15:14] joachimmarder opened #920 "Sometime hot expando is not painted hot"
Seen when using a VCL style that has a hot expando state.

[2019-08-26 15:14] #920 closed, assigned to nobody

[2019-08-29 06:21] joachimmarder opened #921 "OnGetNodeHint ignores the supplied TVTTooltipLineBreakStyle"

[2019-08-29 06:22] joachimmarder commented on #921
`DoGetNodeHint()` uses a local var DummyLineBreakStyle to pass as var paramter and does not use it anymore afterwards.

[2019-08-29 06:28] #921 closed, assigned to joachimmarder

[2019-09-18 18:58] lyynxx commented on #763
I agree with @alexmitev81 that this would be a very helpful feature.
In my local copy of VST, I've added this feature as part of the header options so it can be easily activated/deactivated. Took less than 20 lines of code in total.
It would be great to see this in the official repo.

[2019-09-18 19:43] joachimmarder commented on #763
Why not send a pull request?

[2019-09-23 13:26] Johnyy45 opened #924 "Black background in Icons for vsDisabled nodes - BUG?"
Hello. I am using Delphi XE10.3 and VST V7.2.1: (07 Mar 2019).

I added some nodes, and perform for this nodes:
include(pNode^.States,  vsDisabled);

Nodes become disabled:
![quest](https://user-images.githubusercontent.com/44755939/65429130-180f5d00-de2f-11e9-9f27-727e1d8412ff.png)

Text color is gray, but icons have black background!

OnGetImageIndex like this:

[code]

How can I remove the blac

[2019-09-23 21:52] joachimmarder commented on #924
Please respect our guidelines for reporting bugs as written on project homepage and provide a sample project that allows us to replicate the bug, or provide in detail how one needs to modify one of the [included sample project](https://github.com/Virtual-TreeView/Virtual-TreeView/tree/master/Demos) so that the bug occurs.

Images in General Abilities demo don't have a black border if I disable all

[2019-09-23 21:54] joachimmarder commented on #875
No reply from reporter => close

[2019-09-23 21:54] #875 closed, assigned to nobody

[2019-09-24 12:42] Johnyy45 commented on #924
I found a problem. It is Project Options - Application - Manifest (it was selected None).
I selected Auto Generate and problem was solved.

Screenshot and test project in attachment
![4](https://user-images.githubusercontent.com/44755939/65512322-6a658200-def2-11e9-891b-0ff460ef406d.png)

[S1.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/3647184/S1.zip)

[2019-09-24 14:17] Johnyy45 commented on #924
But problem is actual, because project must be compiled without manifest

[2019-09-24 19:17] joachimmarder commented on #924
Without a manifest Windows starts an application in a kind of Windows 2000 compatibility mode, but Virtual TreeView V7 no longer supports Windows 2000. So this is a not supported scenario.

[2019-09-24 19:17] #924 closed, assigned to nobody

[2019-10-02 08:18] lyynxx commented on #763
Change suggested and was pulled into the master branch.
Thanks @joachimmarder

[2019-10-02 08:31] lyynxx opened #926 "KEY_UP/KEY_DOWN clears entire selection when reversing direction"
When the toMultiSelect option is added and nodes are selected using KEY_UP and KEY_DOWN, I think the behaviour of the node selection is wrong when the direction is changed. The direction change will clear the whole selection and set a new anchor node (the focused node) to start the selection.

Steps to reproduce:
1. Select Node
2. Press Shift+KEY_UP a couple of times to select a few nodes
3. Press

[2019-10-02 08:42] lyynxx opened #927 "GetSelectedData() may return wrong array"
I've noticed a wrong behaviour when using function `TBaseVirtualTree.GetSelectedData<T>()` in `OnRemoveFromSelection` when selecting nodes with a selection rectangle. When a node is removed from the selection rectangle, `GetSelectedData` will return an array that includes an entry for the removed node, but the value is NIL.
This is because in `GetSelectedData`, the node has already been removed, b

[2019-10-02 18:49] #763 closed, assigned to nobody

[2019-10-02 19:15] joachimmarder commented on #926
Confirmed. Can be replicated using the Advanced sample project, page "SpeedDemo",

[2019-10-02 19:26] joachimmarder commented on #926
Code that needs to be adapted is in `TBaseVirtualTree.WMKeyDown()` when handling `VK_DOWN`. Works for PgUp / PgDown.

[2019-10-02 19:39] lyynxx commented on #926
For VK_UP, I suggest changing lines 16806-16808 :

      if (not PerformMultiSelect or (CompareNodePositions(LastFocused, FRangeAnchor) > 0)) and Assigned(FFocusedNode) then
        ClearSelection(False);
to

      if (not PerformMultiSelect or (CompareNodePositions(LastFocused, FRangeAnchor) > 0)) and Assigned(FFocusedNode) then
        if CompareNodePositions(LastFocused, Node) > 0 then

[2019-10-02 19:55] joachimmarder commented on #926
Sorry, saw your comment too late.

[2019-10-02 20:12] joachimmarder commented on #927
Changing the timing of `DoRemoveFromSelection()` and updated `SelectedCount` will be tricky. But it should be easy to modify `TBaseVirtualTree.GetSelectedData<T>() so that it returns a correct array.

[2019-10-02 20:15] lyynxx commented on #927
Yeah that's what I thought.
Modifying `TBaseVirtualTree.GetSelectedData()` to return the correct array is not difficult, just feels a bit like a hack.

[2019-10-02 20:50] #927 closed, assigned to joachimmarder

[2019-10-02 21:03] #885 closed, assigned to joachimmarder

[2019-10-05 10:37] ericlangedijk opened #928 "range select on columns"
It would be very nice if the treeview - in gridmode - would support a multi-selection of columns.

[2019-10-12 12:07] ElminsterAU opened #930 "Removing Canvas.Refresh from TBaseVirtualTree.PaintCheckImage breaks painting of grid lines (and possible more)"
By removing Canvas.Refresh from TBaseVirtualTree.PaintCheckImage the state of the HDC and what TCanvas believes the current brush, pen, and font to be are out of sync, resulting in graphical errors with later canvas operations in completely different parts of the code.

[2019-10-16 14:17] #930 closed, assigned to joachimmarder

[2019-10-16 14:18] #926 closed, assigned to joachimmarder

[2019-11-22 06:51] pyscripter opened #933 "PrepareBitmaps is called before FCurrentPPI is set"
I am showing a VirtualStringTree in a dialog box and here is the sequence of calls:
-  The form ChangeScale is called
-  TBaseVirtualTree.ChangeScale is called
-  TBaseVirtualTree.UpdateHeaderRect is called from ChangeScale which creates the VT handle via GetBorderDimensions
- TBaseVirtualTree.CreateWnd is called which calls
- PrepareBitmaps
- PrepareBitmaps calls ScaledPixes but **FCurrentPPI is

[2019-11-22 07:27] pyscripter commented on #933
Setting FCurrentPPI before calling UpdateHeaderRect in TBaseVirtualTree.ChangeScale, appears to resolve the issue.  However, I am not sure about any issues that may arise by setting FCurrentPPI before calling inherited ChanceScale.

[code]

[2019-11-22 08:14] joachimmarder commented on #933
Which Delphi version are you using?

[2019-11-22 13:03] pyscripter commented on #933
10.3.3 (!).   But there were no changes in Vcl related to this from 10.3.2 (I diffed the vcl).   So I assume the issue is present in 10.3.2.

Question:   As the code stands, at which point PrepareBitmaps is supposed to happen in response to ChangeScale?  In my testing it happens almost accidentally through UpdateHeaderRect, GetBorderDimensions,, CreateWnd.

Also UpdateHeaderRect is called at least

[2019-11-23 06:32] DRAMA22 opened #934 "auto invalidate when each form opened"
i am using tvirtualstringtree with some animated gifs

i got a problem when i open a new form or move the window the tvirtualstringtree keeps invalidate

any idea why that happened and how to fix it ?

[2019-11-23 07:24] DRAMA22 commented on #934
also if i use StretchDraw any where in my code the virtuailstringtree get invalidated automatically

[2019-11-23 13:13] joachimmarder commented on #934
As far as I know Virtual TreeView does not support animated GIFs.

Please respect our guidelines for reporting bugs as written on project homepage and provide a sample project that allows us to replicate the bug, or provide in detail how one needs to modify one of the [included sample project](https://github.com/Virtual-TreeView/Virtual-TreeView/tree/master/Demos) so that the bug occurs.

[2019-11-25 20:20] joachimmarder commented on #933
I used these repro steps: Sample project "Advanced", in `TMainForm.DemoButtonClick()` comment the 4 lines that re-parent the newly created form. Apply a VCL style.

I don't think it is a good idea that `UpdateHeaderRect()` proactively creates the window handle. This is usually avoided if possible using `HandleAllocated`. When doing so `PrepareBitmaps()` sees the correct value for `FCurrentPPI` whe

[2019-11-25 20:24] joachimmarder commented on #933
Can you please how the latest source works for you?

[2019-11-25 20:27] joachimmarder commented on #913
Possibly related to high-dpi bugs in Delphi 10.1, no further update from reporter, therefore closing this issue for now.

[2019-11-25 20:27] #913 closed, assigned to nobody

[2019-11-25 20:30] joachimmarder commented on #880
Access violation can easily be avoided, no further contributions to the discussion => closing the issue.

[2019-11-25 20:30] #880 closed, assigned to joachimmarder

[2019-11-25 20:32] joachimmarder commented on #883
No further contributions to the discussion, so closing this issue and the behavior remains is it was the past years.

[2019-11-25 20:32] #883 closed, assigned to nobody

[2019-11-25 21:47] pyscripter commented on #933
Works fine now.  Thanks!!

[2019-11-25 21:47] #933 closed, assigned to joachimmarder

[2019-11-28 08:48] Sorien opened #936 "[Question] how to disable/disallow dragging column before/after certain column"
I have own column with checkboxes and it has to be the first one all the time, but user can easily drag another one to the first position.

code below is working for me but I don't want to have such hacks in sources
[code]

I see two possible options
`#1` allow DragTo to be overridable.
`#2` introduce new Column Option like `TVTColumnOption.coNotDropable`
`#3` introduce some kind of event/function

[2019-11-30 11:29] joachimmarder commented on #936
For now If prefer option 1, which I just committed.

See [this article](https://github.com/Virtual-TreeView/Virtual-TreeView/wiki/Why-we-can't-make-everything-an-option). But I think that something like this could make sense and wondered if `TColumnOption.coFixed` should include the requested behavior. What sense could it make to allow dragging a non-Fixed column left of a Fixed column?

[2019-11-30 11:29] #936 closed, assigned to nobody

[2019-11-30 11:46] Sorien commented on #936
thx for changes, I understand that not all can be configurable  ... to your question, I can't try it right now but I think that i saw some code that changes non fixed column to fixed when it's moved to left of fixed column (or between fixed columns) and vice versa.

[2019-12-02 05:11] Sam130687 opened #937 "I have double image in tree"
I have some mistake in component. We have: windows 10*64, Delphi RIO and this:
![image](https://user-images.githubusercontent.com/58412574/69932207-3c488380-14db-11ea-844b-ec8575b2f9ad.png)
What i do bad?

[2019-12-02 19:15] joachimmarder commented on #937
Please do not use issues for getting support. Try to get support from the community e.g. at [Stack Overflow](http://stackoverflow.com/search?q=%22virtual+treeview%22) or [Delphi Pages](http://www.delphipages.com/).

When reporting a bug, please respect our guidelines for reporting bugs as written on project homepage: First make sure to use the [latest version](https://github.com/Virtual-TreeView/V

[2019-12-02 19:15] #937 closed, assigned to nobody

[2019-12-03 08:53] DRAMA22 commented on #934
after debugging that was an Timage invalidation it not related to VST which cause the entire form and controls to be invalidated any way that wasn't VST ISSUE thanks

[2019-12-03 08:53] #934 closed, assigned to nobody

[2019-12-03 08:57] DRAMA22 opened #938 "Getimageindex doesnt draw images to VST"
i have this code

`procedure TFORM1.VSTGetImageIndex(Sender: TBaseVirtualTree;
  Node: PVirtualNode; Kind: TVTImageKind; Column: TColumnIndex;
  var Ghosted: Boolean; var ImageIndex: TImageIndex);
begin
if not Assigned(Node) then
begin
exit;
end;

if Kind in [ikNormal , ikSelected] then // Either Selected or not
begin
if Column = 0 then
begin
ImageIndex := 0;
end;

end;

end;`

and i have assigned

[2019-12-03 13:49] joachimmarder commented on #938
No.

When reporting a bug, please respect our guidelines for reporting bugs as written on project homepage: First make sure to use the [latest version](https://github.com/Virtual-TreeView/Virtual-TreeView/archive/master.zip) of Virtual TreeView.
And please provide a sample project that allows us to replicate the bug, or provide in detail how one needs to modify one of the [included sample project]

[2019-12-03 15:51] #938 closed, assigned to nobody

[2019-12-10 04:24] ghost opened #939 "Column's hot text color implementation is missing"
VirtualTreeView.pas line 11840
[code]

**thHeaderItemNormal** must be **thHeaderItemHot**

[2019-12-10 06:22] ghost opened #940 "Workarounds for autoresizing autospring"
There are two issues when columns are setup to hoAutoSpring. At least when 3 columns are used.

1 - Mirrored resizing, when user resizes last column, but resizing occurs to the opposite side:
![1](https://user-images.githubusercontent.com/58717918/70499238-97770900-1acd-11ea-8cc9-e62906d660a8.png)

Handling two events "fixes" that:
In **OnCanResize** (for the sake of maximize/restore):
`Tree.Heade

[2019-12-10 09:26] joachimmarder commented on #939
Thanks for reporting!

[2019-12-10 09:26] #939 closed, assigned to joachimmarder

[2019-12-10 12:21] jBitHub opened #941 "Option scoLimitToMatchedTextAnywhere & MatchTextAnywhere"
For the option »scoLimitToMatchedTextAnywhere« there is the field »MatchTextAnywhere«?
Shouldn't the »MatchTextAnywhere« field also be set in the SetOptions method?

procedure TSynBaseCompletionProposal.SetOptions
Line 2802
Form.MatchTextAnywhere := scoLimitToMatchedTextAnywhere in Value;

![grafik](https://user-images.githubusercontent.com/39560844/70529000-d057c200-1b4f-11ea-9160-461dcd847acc.pn

[2019-12-10 19:54] joachimmarder commented on #941
Wrong project?

[2019-12-10 19:54] #941 closed, assigned to nobody

[2019-12-10 20:26] joachimmarder commented on #940
This is not a result of `hoAutoSpring` but of `hoAutoResize` and the intended behavior in this case. Just exclude `hoAutoResize` if this behavior is unwanted.

[2019-12-10 20:26] #940 closed, assigned to nobody

[2019-12-11 00:46] ghost commented on #940
Thank you for pointing to hoAutoResize. Indeed, however without hoAutoResize it makes horizontal scrollbar appear when columns become wider than client; I've tried to keep it kind of forbidden (all columns always would fit client) as I've seen such behaviour in steam software. With hoAutoResize i return to the issue i've described. That's probably becomes a scope of custom implementation as i supp

[2019-12-11 09:29] jBitHub commented on #941
Sorry
you're right.

[2019-12-11 13:12] Sorien opened #943 "AccessViolation when creating column detached from collection"
I'm dynamically creating own columns like

[code]

it's valid code but it's not possible to do such call couse TVirtualTreeColumn constructor needs owner without any check that leads to AccessViolation

[code]

these variables `FWidth, FLastWidth, ...` should be protected by if Assigned(Owner) like code inside functions `ParentBiDiModeChanged` and `ParentColorChanged` and `FPosition` should be set

[2019-12-11 20:23] joachimmarder commented on #943
I don't see the advantage of creating the column without owner and then assign the owner. But anyway, doing an assign-check does not harm.

Agreed.

I'm not sure if members like fPosition or fWidth should change just because a (new) collection is assigned.

[2019-12-11 20:26] #943 closed, assigned to joachimmarder

[2019-12-11 20:41] joachimmarder commented on #940
But that's what is intended to happen here: You make the middle column smaller and still all columns should fill the client area. To achieve this, another columns needs to grow, which is by definition the column `AutoSizeIndex`.

[2020-01-10 03:45] dbyoung720 opened #944 "When a child node is selected(CheckBox), how to expand the parent node automatically?"
When a child node is selected(CheckBox), how to expand the parent node automatically?

[2020-01-10 12:54] joachimmarder commented on #944
I am sorry, but we do not provide technical support for Virtual TreeView, we just take care of this formerly abandoned open source project. Please try to get support from the community e.g. at Stack Overflow , Delphi Pages, Delphi Praxis or Embarcadero forums. Please do not use issue reporting for getting support.

You may try to call FullyVisible[Node] := True;

[2020-01-10 12:54] #944 closed, assigned to nobody

[2020-01-10 23:47] dbyoung720 commented on #944
I try, and see source, I still don't know how to achieve it.
I wonder if VT can fulfill this requirement.
Because VT creates child nodes dynamically.

It seems that if the node is not expanded, the check status of the node is also wrong.
You must click the mouse to expand before the check drawing appears.

[2020-01-16 17:08] lucksjb opened #945 "VirtualTrees.pas(5153,17) Error: Unknown identifier "EBX""
Hi guys, I try compile and install Virtual-TreeView into a Raspibian (raspberry) to use on lazarus.
and not compile.
I think that error is related to asm on lazarus...

have solution to it ?

tnx

[2020-01-16 21:04] joachimmarder commented on #945
Virtual TreeView is not compatible with Lazarus.

[2020-01-22 17:04] joachimmarder opened #946 "Update MainColumn if current MainColumn gets invisble"
Checkboxes are shown in the MainColumn. If the main column gets invisible (e.g. because the user deactivated it using the context menu of the header), no more checkboxes are shown. It could make sense to automatically choose a new MainColumn in this case.

[2020-01-22 17:16] joachimmarder commented on #946
Proposed changes: In TVTHeader.UpdateMainColumn() make sure a visible main column is used. Call UpdateMainColumn() in TVirtualTreeColumn.SetOptions() in case VisibleChanged is True.

[2020-01-23 11:48] Muetze1 opened #947 "Return value of TVTColors.GetColor() maybe undefined"
The return value of TVTColors.GetColor(cBorderColor) is undefined if the seBorder is not set in VST.StyleElements. This will result in a random color without any default color.

[2020-01-25 13:11] #947 closed, assigned to joachimmarder

[2020-02-02 22:09] TimFHayes opened #948 "Assert(FSelectionCount = (lPreviousSelectedCount + NewLength) fails"
Greetings,

I am making extensive use of Virtual-TreeView in my product development. Thank you for a very fine component.

I have set toMultiSelect,  toLevelSelectConstraint and toSiblingSelectConstraint in order to allow multi-select within a tree node.

Unfortunately I am getting the error on line 23085 of VirtualTrees 👍
**'Fixing issue #487 seems to ahve caused a problem here.'**
I have install

[2020-02-02 23:36] TimFHayes commented on #948
Dear team,

Further to my earlier issue.

I managed to trace through the code and saw that the selected node count was being adjusted during the fOnNodeSelected event. Point me straight to my own code which had some unhelpful setting of toMultiSelct etc. in the event code. Removed it and problem went away.

No need to pursue this one although it is a general note not to set the selection modes dur

[2020-02-03 06:18] #948 closed, assigned to nobody

[2020-02-05 12:01] SaschaSchaefer opened #949 "Allow deletion of a node without immediate reindexing"
There are currently two overloads of TBaseVirtualTree.DeleteNode. A "public" one, which performs a reindex for each node after the deletion and a "protected" one that has a parameter Reindex: Boolean.

When deleting many nodes in arbitrary order, it can take quite a while to perform a reindex after each deletion, so it would be useful to have a way to delete without reindexing.

[2020-02-05 16:47] radioboss commented on #873
I sort of fixed this, here's my pull request https://github.com/Virtual-TreeView/Virtual-TreeView/pull/950

[2020-02-05 21:29] #949 closed, assigned to joachimmarder

[2020-02-07 14:08] 7even11 opened #951 "Registration of DefaultAccessibleProvider not done for C++ Builder"
At the end of **VirtualTrees.Accessibility.pas** there are a few lines of code which register the **DefaultAccessibleProvider**, **DefaultAccessibleItemProvider** and **MultiColumnAccessibleProvider**. These are absent from the VirtualTrees.Accessibility.hpp so simply including the **VirtualTrees.Accessibility.hpp** in a C++ Builder project doesn't do anything and doesn't provide any accessibility

[2020-02-08 08:23] joachimmarder commented on #951
This is to be expected. The .HPP-file is not a fully translated .PAS-file, this C++ header file is just the translated interface section of the .PAS-file. C++ Builder compiles the .PAS-files using the Delphi compiler and links it into the final binary.

So it would be interesting to find out if the code in question is actually executed. Can you put a breakpoint or `ShowMessage()` in  `TVTDefaultAc

[2020-02-08 22:32] albertofll opened #952 "Draw hint option doesn't work"
An old code in a program that implemented drawing the hint in TVirtualDrawTree does not work, I can not specify from what moment it stopped doing so , my tests are with:

- Windows 10.
- Delphi 10.3.3
- I've checked the demo that comes with the components (Advanced demo -> DrawTreeDemo) and it doesn't work either.
- ShowHint: = true.
- HintMode: = hmHint;
- Implemented OnGetHintSize and OnDrawHint

[2020-02-09 20:27] joachimmarder commented on #952
I never used `TVirtualDrawTree` myself. The reason for the missing hint seems to be that `TVirtualDrawTree` overrides `GetDefaultHintKind()` and returns `vhkOwnerDraw`.  One possible fix would be to use the `OnGetHintKind` event in your project in order to return `vhkText`. Another option would be to use the `OnDrawHint` in order to draw the owner drawn hint.

But I think it would make more sens t

[2020-02-09 20:27] #945 closed, assigned to nobody

[2020-02-09 21:35] albertofll commented on #952
Hello, the hint I try to show is `ownerdraw`, not just text, so I draw on the canvas in the `OnDrawHint ` event. As I said the same code worked in an earlier version of TVirtualDrawTree, the same Advanced example (DrawTreeDemo) that comes as a sample has a code that uses it.

[2020-02-09 22:04] 7even11 commented on #951
Thank you for looking into this.

Yes, for Delphi program which uses `TVirtualStringTree` it is executed. I recompiled the component with the `ShowMessage()` as you suggested. For C++ Builder program which also uses `TVirtualStringTree` it is not shown.

I used `ShowMessage()` and the parts between `begin` and `end;` are executed immediately on program startup, and the `TVTDefaultAccessibleProvide

[2020-02-10 22:17] joachimmarder commented on #951
In case the unit `VirtualTrees.Accessibility` this result is unexpected. We have seen some similar issues in the past, like #642, but without a solution. To me this seems to be a bug in C++ Builder and I recommend contacting the Embarcadero support. For my understanding the initialization section of Delphi units should always be executed.

[2020-02-10 22:22] joachimmarder commented on #951
I extracted the code in the Initialization section into a new class procedure `TVirtualTreeAccessibility.RegisterDefaultAccessibleProviders()` that you should be able to call in your code as a workaround. Does this work?

[2020-02-10 22:35] joachimmarder commented on #952
It is working for me. Please keep in mind that the hint works only for images and only in the second column (column index 1).

[2020-02-12 11:58] jBitHub opened #953 "horizontal synchronous scrolling does not work"
There is an example in the demos where two trees scroll vertically synchronously.
(Hide and show nodes, sync two trees)
I once superimposed two trees. But the horizontal synchronous scrolling does not work.
So I made changes to the unit: **VirtualTrees.pas**. Now it works for me.

Changes to the method: **TBaseVirtualTree.DoSetOffsetXY**

![image](https://user-images.githubusercontent.com/39560844

[2020-02-12 17:24] joachimmarder commented on #953
Thanks, I applied the changes. But please send a pull request the next time, not a screenshot.

[2020-02-12 17:24] #953 closed, assigned to joachimmarder

[2020-02-13 13:02] jBitHub commented on #953
Thank you for the quick response. I can try the "pull request" thing next time.

[2020-02-17 18:24] 7even11 commented on #951
Yes, calling the `TVirtualTreeAccessibility::RegisterDefaultAccessibleProviders();` somewhere in the program to initialize Accessibility in C++ Builder does the trick now. In fact, I find this even more convenient as then I don't have to initialize accessibility if for any reason I don't want to. The `initialization` part is definitely not called by itself but calling it manually does the trick.

[2020-02-17 18:41] #951 closed, assigned to nobody

[2020-03-16 10:22] SaschaSchaefer opened #954 "toAlwaysSelectNode can cause unintended scrolling"
I could boil down the scenario to an easy sample appliction, using the following parameters:

- toAlwaysSelectNode must be included in the "SelectionOptions"
- TabStop = "False"
- Disable the first node

Repro:

- Compile and start sample application
_- NOTE: No node is selected initially. This is probably the cause for this_
- Hover over the tree and Scroll down via mouse wheel
- Click a node
**E

[2020-03-17 20:20] joachimmarder commented on #954
I will select the first enabled node in this case, as selecting a disabled node neither makes sense nor is possible.

[2020-03-17 20:21] #954 closed, assigned to joachimmarder

[2020-03-19 01:00] flylink888 opened #955 "Checkbox and text overlap problem"
Specify a column of data as Checkbox and text, and there is overlap when loading the data. When the mouse passes, it will display normal.
This situation is no problem in the 6.X version.
![12](https://user-images.githubusercontent.com/36130329/77020851-1084d700-69c0-11ea-847b-20bb83493552.png)
![13](https://user-images.githubusercontent.com/36130329/77020857-15498b00-69c0-11ea-94a6-68d3f58ace77.pn

[2020-03-23 22:18] joachimmarder commented on #955
We  did not have any similar reports for V7 in the past 2 years.

When reporting a bug, please respect our guidelines for reporting bugs as written on project homepage: Please provide a sample project that allows us to replicate the bug, or provide in detail how one needs to modify one of the [included sample project](https://github.com/Virtual-TreeView/Virtual-TreeView/tree/master/Demos) so that

[2020-03-24 16:58] joachimmarder opened #956 "Option toSyncCheckboxesWithSelection should automatically set CheckType to ctCheckBox"
Otherwise using an `OnInitNode` would be mandatory when using the option `toSyncCheckboxesWithSelection`.

[2020-03-24 17:31] joachimmarder opened #957 "toSyncCheckboxesWithSelection: Unchecking one node deselects all"
- Activate option `toSyncCheckboxesWithSelection`
- Multi-Select 3 nodes
- Uncheck one node

Expected: two nodes remain selected and checked
Actually: All nodes are unselected and unchecked

[2020-03-25 05:14] flylink888 commented on #955
Thank you for your reply, I added relevant examples, please see the attachment!
[VSTDemo.zip](https://github.com/Virtual-TreeView/Virtual-TreeView/files/4379140/VSTDemo.zip)

[2020-03-25 21:45] LukaszDemczuk opened #958 "Header columns hint doesn't work"
In demos folder is project **Interfaces**.
I'm trying to add hint for header columns.
In the method TEventPresenter.setup:
- for all columns I added some hint,
- to header options I added: hoShowHint,
- I set ShowHint for component  fVST,
- I set ShowHint for FormModelView

It still not working. What should I do more?

[2020-03-28 10:07] joachimmarder commented on #958
I guess the reason is issue #728. Run the `Advanced` demo project and see the Align demo for a working example. Because of issue #728, a node's hint needs to be displayed first sot that a column hint appears.

[2020-03-28 10:49] joachimmarder commented on #728
Possible reason for this behavior: Initially VCL creates a `THintWindow` instance and assigns it to `TApplication.FHintWindow`. `THintWindow.IsHintMsg()` tells the VCL to cancel the hint if a `WM_NCMOUSEMOVE` message arrive. `TVirtualTreeHintWindow.IsHintMsg()` does explicitely filter out those message regarding hint cancellation. This seems to be the reason that the header hint works as soon as a

[2020-03-28 13:14] joachimmarder commented on #958
I modified the `Interfaces` demo project so that it shows column hints. However, this will work only if the Virtual TreeView control showed a node hint before. To achieve this, make one column small so that text is cut off, the hover over the text until a tooltip with the full text pops up, then hover over the first or second column.

So this seems to be a duplicate of #728.

[2020-03-29 09:31] joachimmarder commented on #955
You must not access the members of PVirtualNode directly unless you know what you do, see also #832. Chnage the line

    Node.CheckType := ctCheckBox;

to

    Sender.CheckType[Node] := ctCheckBox;

and it works

[2020-03-29 09:32] #955 closed, assigned to nobody

[2020-03-29 09:33] #957 closed, assigned to joachimmarder

[2020-03-29 09:33] #956 closed, assigned to joachimmarder

[2020-03-29 09:46] joachimmarder commented on #952
No further comments from reporter => Close

[2020-03-29 09:46] #952 closed, assigned to joachimmarder

[2020-03-29 14:00] flylink888 commented on #955
Thank you!

[2020-03-29 14:37] flylink888 commented on #955
@joachimmarder
I follow the method you said:
         ` Sender.CheckType[Node] := ctCheckBox;`
In Demo's code:
       ` for i := 1 to 1000 do .......`
When it loads 1000 pieces of data or more, drag the scroll bar with the mouse and observe that the check box on the right and the text still overlap momentarily.
The same situation, I tested with 6.X version, no problem.

[2020-03-30 06:01] LukaszDemczuk commented on #958
You've set the Text property of the second column twice.
Just click on end of first column (on the line). After it, hints are shown.

[2020-03-31 08:54] joachimmarder commented on #958
Oops, yes, it's corrected now.

True, but a normal user won't do that. And it stops working once another hint was shown. To demonstrate this, I added a hint to the left button. Still, this is a duplicate of #728 which is why I am going to close this issue.

[2020-03-31 08:54] #958 closed, assigned to nobody

[2020-03-31 09:52] joachimmarder commented on #955
Sorry, but I don't see this. But the `OnGetText` is a bad place to set the check type, as it occurs during painting. This would better fit in Button1Click() or the OnBeforeGetCheckState event.

[2020-04-03 14:47] flylink888 commented on #955
@joachimmarder
I tested to set the check type in Button1Click() . It works very well!
I used the second method, but I couldn't find the OnBeforeGetCheckState event.
Please forgive me for being serious, ha ha!

[2020-04-06 09:02] jBitHub opened #959 "Deleting a column using BeginUpdate and EndUpdate will result in an error"
vstMatrix: TVirtualStringTree;

vstMatrix.Header.Columns.BeginUpdate;
vstMatrix.Header.Columns.Delete(1);
vstMatrix.Header.Columns.EndUpdate;

Deleting a column using BeginUpdate and EndUpdate will result in an error. Without BeginUpdate and EndUpdate it works. When deleting several columns I would prefer a BeginUpdate & EndUpdate for performance reasons. Deleting from behind does not cause an err

[2020-04-06 11:03] jBitHub opened #960 "drawing errors (RightJustify & Italic)"
The last character is cut off on the right.

![grafik](https://user-images.githubusercontent.com/39560844/78551754-841f4480-7806-11ea-94ff-d143f58c2d33.png)

Settings:
vst.Header.Columns[col].**Alignment = taRightJustify**

Event: **PaintText**(Sender: TBaseVirtualTree; const TargetCanvas: TCanvas; Node: PVirtualNode; Column: TColumnIndex; TextType: TVSTTextType);
begin
   TargetCanvas.Font.Style

[2020-04-07 19:20] joachimmarder commented on #959
Can be reproduced with project `Advanvced`, unit `GridDemo`. Add a button and use this code:
[code]

[2020-04-07 19:37] joachimmarder commented on #959
Could you please test using the latest GitHub source and confirm that the fix works for you?

[2020-04-07 19:52] joachimmarder commented on #960
Can be reproduced with project `Advanced`, unit `GridDemo`.
This seems to be a limitation of the used Windows API function `GetTextExtentPoint32()`, see for example here: https://www.codeproject.com/Articles/14915/Width-of-Text-in-Italic-Font

The suggested workaround seems quite complex for this edge case. You may at any time use the `OnMeasureTextWidth`event to adjust the calculated value.

[2020-04-08 08:13] jBitHub commented on #959
Deletion still does not work. There is no more overflow error, but the display is wrong.

**Before**
![grafik](https://user-images.githubusercontent.com/39560844/78759527-0c752500-7980-11ea-861e-c332d8e2495e.png)

**After**
The column 1 (Customer Id) was deleted.
The column "First Name" is wrong. The heading is no longer correct. The column "Last Name" is at the very last position and has no headi

[2020-04-08 11:05] jBitHub commented on #960
OnMeasureTextWidth Event **does not work**.
1. the width is queried: DoTextMeasuring()
2. the event DoPaintText() is called -> font is set to italic  [33579]
3. because the font has changed, the width is recalculated with GetTextExtentPoint32W() [33585] and DoTextMeasuring() is discarded

If I call DoTextMeasuring() instead of GetTextExtentPoint32W(), nothing changes. Even if I later change the ar

[2020-04-11 20:43] krularkru opened #961 "Column Header Splitter icon does not show (even in demo app)"
# Issue
The column-header splitter icon does not show when hovering in the splitter area between two columns or when resizing a column. The problem can be **reproduced** in the demo application. Unsure which version of Delphi this was broken. I am using **Delphi 10.3** and recall that it did not work for XE3 either.

# Expected behaviour
See image below
![image](https://user-images.githubuserconte

[2020-04-11 21:02] #961 closed, assigned to nobody

[2020-04-11 21:03] krularkru commented on #961
It's not a bug. The problem om my side was that the resource had been commented out {$R VirtualTrees.res}

[2020-04-12 05:09] liuzg2 opened #962 "is there have a foot panel"
is there have a foot panel

[2020-04-13 10:07] joachimmarder commented on #962
No. I guess this is a duplicate of #681?

[2020-04-13 10:07] #962 closed, assigned to nobody

[2020-04-27 18:22] MarkRSill opened #963 "Accidental push from my fork shows on your source some how"
My apogees, some how when I pushed the develop branch of my fork, it showed here on the parent.  I've never seen that before.  Please remove at your earliest convenience.

[2020-04-27 19:46] #963 closed, assigned to nobody

[2020-04-30 04:50] vincentparrett opened #964 "EmptyListMessage should show when no visible nodes."
Currently the EmptyListMessage is only shown when there a zero nodes in the tree. It would be nice if this could be shown when there are no visible nodes (the net result is the same, an empty tree).

[2020-05-01 15:06] #964 closed, assigned to joachimmarder

[2020-05-04 09:27] jampeter opened #966 "EmptyListMessage does not recognize tab characters (#9)"
Currently, tabulator characters are not taken into account when displaying the EmptyList message. Code like
`Virtualtree.EmptyListMessage := 'teststringA' + #9 + 'teststringB';`
is displayed without the tabulator.

[2020-05-04 20:02] #966 closed, assigned to joachimmarder

[2020-05-04 20:04] joachimmarder opened #967 "Add support for RAD Studio 10.4"
https://blog.marcocantu.com/blog/2020-march-getready104beta.html

[2020-05-04 20:49] IgitBuh opened #968 "Switching between edited nodes with TAB key is broken"
1. Open the Advanced demo
2. Open the first page (speed breakthrough)
3. Add nodes to root
4. Select a node by clicking it
5. Press F2 key to start editing it
6. Press TAB key

Expected behavior:
Current node edit ends, the next visible node is selected, focused and editing begins.

Actual behavior in 7.3 (I didn't see any new changes regarding this issue):
The next node is selected, but focus and

[2020-05-05 19:02] joachimmarder commented on #968
Should be fixed now, with improved behavior of the focused node.

[2020-05-05 19:02] #968 closed, assigned to joachimmarder

[2020-05-05 19:26] IgitBuh commented on #968
Well, that was a simple fix! Working now again as expected. Thanks!

[2020-05-07 04:42] brethren70 opened #969 "Allow to customize StaticText alignment"
Please, give me a chance to set the alignment of static text.

VirtualTrees.TCustomVirtualStringTree.PaintStaticText

in the source, alignment of static text is decided  according to column's alignment.
Thanks in advance.

![image](https://user-images.githubusercontent.com/2011944/81255768-84ab3500-9069-11ea-9d0d-5b14f6ade31c.png)

[2020-05-10 09:05] joachimmarder commented on #969
I will extend the `OnGetCellText´ to achieve this. It has to be used instead of the `OnGetText` event. I will change the Advanced project, General Abilities demo to achieve this.

[2020-05-10 11:33] joachimmarder commented on #969
Within this issue the, the unused paramter `TextOutFlags` of `PaintStaticText()` was replaced with a new one names `pStaticTextAlignment`. As `PaintStaticText()` is protected, this is a breaking change for derived classes.

[2020-05-10 11:33] #969 closed, assigned to joachimmarder

[2020-05-12 08:07] jBitHub commented on #959
@joachimmarder  Hello, this issue has not been resolved. Unfortunately, I cannot reopen it.

[2020-05-13 00:49] denovosoftware opened #970 "Tristate checkbox init without toAutoTristateTracking"
There seem to be a bug in TBaseVirtualTree.InitNode, which prevents you from setting a check state on a child node (with a tristate checkbox) if such state is different from parent node's check state. This is regardless of presence or absence of toAutoTristateTracking in auto options.

You can see that code in TBaseVirtualTree.InitNode is checking that check type is ctTriStateCheckBox before propa

[2020-05-15 20:10] joachimmarder commented on #970
Fixed as suggested. Please review and test the fix.

[2020-05-15 20:10] #970 closed, assigned to joachimmarder

[2020-05-20 07:16] bdkacz opened #971 "Hint - different for text and image"
Hello

Is it possible to get another hint when mouse is over the image and another when the mouse is over the text (caption)  of node ?

[2020-05-21 08:15] joachimmarder commented on #971
Should be possibel using the `OnGetHint` event and some custom code.

Please do not use issues for getting support. Try to get support from the community e.g. at [Stack Overflow](http://stackoverflow.com/search?q=%22virtual+treeview%22) or [Delphi Pages](http://www.delphipages.com/).

[2020-05-21 08:15] #971 closed, assigned to nobody

[2020-05-27 20:08] #967 closed, assigned to joachimmarder

[2020-06-01 15:01] chenhuan2011 opened #972 "the InitNode event"
In the initnode event,I can not get noting of data ， through data:= Sender.GetNodeData (node);

for example ：

//  vsttree is TVirtualStringTree
// add root ;
  RootNode := vsttree.AddChild(nil);
  Data := vsttree.GetNodeData(RootNode);
  Data^.Text := 'RootNode';
  Data^.Id := 'RootID';
  Data^.ImageIndex := 0;
  Data^.CheckType := ctTriStateCheckBox;
  Data^.CheckState := csCheckedNormal;

proce

[2020-06-02 05:43] MarioAllegro opened #973 "WindowsApplicationDriver"
Hello Joachim,

I have an question regarding UI automation of the virtual tree view. Is it somehow possible to get the data of the tree view in a ui test project? When I have a form, I can get every control by itself.

In an VCL delphi project I can get a button and can click the button. I can get the reference to an edit control and I can write to the edit control. But with the grid I can only ge

[2020-06-02 19:11] joachimmarder commented on #973
I am sorry, but we do not provide technical support for Virtual TreeView, we just take care of this formerly abandoned open source project.

Please do not use issues for getting support. Try to get support from the community e.g. at [Stack Overflow](http://stackoverflow.com/search?q=%22virtual+treeview%22) or [Delphi Pages](http://www.delphipages.com/).

This is the bug tracker for this project, p

[2020-06-02 19:11] #973 closed, assigned to nobody

[2020-06-02 19:14] joachimmarder commented on #972
When reporting a bug, please respect our guidelines for reporting bugs as written on project homepage: First make sure to use the [latest version](https://github.com/Virtual-TreeView/Virtual-TreeView/archive/master.zip) of Virtual TreeView.
And please provide a sample project that allows us to replicate the bug, or provide in detail how one needs to modify one of the [included sample project](http

[2020-06-02 23:34] lancerasmussen opened #974 "10.4 DPROJ Issue"
The DPROJ references to the library suffix for 64 bit is pointing to 25 instead of 27, creating inconsistent naming.
My guess is Rio 64 bit is also pointing to 25.

[2020-06-03 03:54] chenhuan2011 commented on #972
My Virtual-TreeView's version is 7.4.0 ,delphi's version 10.3.3 ，just one  TVirtualStringTree on  the form .

the code like this:

unit Unit1;

interface

uses
  Windows, Messages, SysUtils, Variants, Classes, Graphics, Controls, Forms,
  Dialogs, VirtualTrees, ImgList, Menus, System.ImageList, cxGraphics,
  cxControls, cxLookAndFeels, cxLookAndFeelPainters, cxCustomData, cxStyles,
  cxTL, cxTextE

[2020-06-03 20:05] joachimmarder commented on #972
Please attach the project as ZIP and don't paste them in the comments.

[2020-06-04 01:06] chenhuan2011 commented on #972
&nbsp;I'm so sorry for that.&nbsp; &nbsp;The demo is in attachment.&nbsp; The problem is in the&nbsp;InitNode event. I can not get the data&nbsp; of the node&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Joachim Marder"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月4日(星期四) 凌晨4:05
收件人:&nbsp;"JAM-Software/Virtual-TreeView"<Virtual-TreeView@noreply.github.com&gt;;
抄送:&nbsp;

[2020-06-04 08:56] joachimmarder commented on #972
I don't see any file attached to this issue.

Did you set the property `NodeDataSize` correctly?

[2020-06-04 08:58] joachimmarder commented on #974
I cannot confirm that:
![grafik](https://user-images.githubusercontent.com/10615289/83736711-51e96200-a652-11ea-9c89-0c70a66e44a7.png)

I also checked the .DPROJ file in the text editor.

Where exactly did you see that?

[2020-06-04 09:00] chenhuan2011 commented on #972
I did upload the&nbsp;attachment. I&nbsp;set the property&nbsp;NodeDataSize like this : vsttree.NodeDataSize := SizeOf(TMyRec);

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Joachim Marder"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月4日(星期四) 下午4:56
收件人:&nbsp;"JAM-Software/Virtual-TreeView"<Virtual-TreeView@noreply.github.com&gt;;
抄送:&nbsp;"404551458"<404551458@qq.com&gt;;"Au

[2020-06-04 09:21] joachimmarder commented on #972
I don't see any upload, please check for yourself. And why do your comments contain garbage / HTML text?

[2020-06-04 10:29] chenhuan2011 commented on #972
[VirtualTreeViewDemo.zip](https://github.com/JAM-Software/Virtual-TreeView/files/4729354/VirtualTreeViewDemo.zip)
I'm sorry , can you find it now?

[2020-06-04 21:07] joachimmarder commented on #972
Yes, it is there now.

I needed to remove some 3rd party units from the uses and was able to compile it. There are a lot of garbage chars in the comments and strings, most likely some encoding problems.

When I run the project and click a node, I don't see anything that looks wrong, besides the garbage text.

Can you please describe the problem more detailed?

I think it is unlikely that there is

[2020-06-09 18:23] joachimmarder opened #975 "RAD Studio 10.4 stores default VirtualTree's default properties in .dfm file"
Origins from:
- https://stackoverflow.com/questions/62266100/delphi-10-4-stores-default-virtualtrees-default-properties-in-dfm-file
- https://community.idera.com/developer-tools/general-development/f/rad-studio-general/72519/problem-of-the-colors-property-of-tvirtualstringtree-in-delphi-10-4

**Reason**: IsSystemStyle used to return True in former Delphi version, now it returns False.

[2020-06-09 18:56] #975 closed, assigned to joachimmarder

[2020-06-10 05:09] ansgarbecker commented on #975
I'm afraid the form designer still writes these default values to my .dfm files, after recompiling and installing the package. I'm not sure why, as your fix looks correct to me. I suppose the fix works for you?

[2020-06-11 02:52] #972 closed, assigned to nobody

[2020-06-11 07:10] joachimmarder commented on #975
Yes, it is working for. Did you recompile the packages? Please review the code changes in the commit.

[2020-06-11 20:43] ansgarbecker commented on #975
Oh, my fault. I was compiling the 64bit version of the VirtualTreesR runtime package, until I just remembered the IDE just uses the 32bit version, even if my project is compiled in 64bit mode. So yes, now it's fine!

[2020-06-15 09:13] delphi-sucks opened #976 "Access Violation when changing Windows-Theme while editing"
### Description
If you change your Windows-Theme while you're editing a node, the application crashes with an Access Violation at the following Section:

[code]

### Steps to Reproduce
1. Open the project Minimal from the Demos-Folder
2. Compile & Start
3. Select Node and press F2 to edit
4. Go to the Windows Settings (the new one) > Personalization > Themes
5. Select another Theme like _Classic_

[2020-06-15 09:34] delphi-sucks opened #977 "Access Violation when trying to edit a node in a collapsed node via Shortcut"
### Description
If you try to edit a Node with the Shortcut F2 which is hidden, but still focused, inside a collapsed parent node, you crash with an Access Violation.

[code]

### Steps to Reproduce
1. Open the project Minimal from the Demos-Folder
2. Compile & Run
3. Select a node
4. "Add node(s) as children"
5. Select a child node
6. Collapse parent node without changing the focus by clicking on

[2020-06-17 20:06] joachimmarder commented on #977
I see 3 options for handling this situation:
1. If the focused node gets invisible because of a collapse, select a parent node that is visible.
2. Before entering the edit state, expand all parent nodes of the focused node so that it gets visible.
3. Do nothing if the user tries to edit a node and no node is selected or the focused node is not visible because it is collapsed.

I vote for option 2,

[2020-06-17 20:13] #977 closed, assigned to joachimmarder

[2020-06-17 20:28] joachimmarder commented on #976
Changing a theme does not show the issue here. I don't have a theme named "Classic". Which Windows version are you using?

An assign.check for `FLink` could be a solution for this corner case.

[2020-06-18 07:14] delphi-sucks commented on #976
I'm using Windows 10, but I was able to reproduce it in another way.
When enabling High Contrast in the Windows Settings it also crashes. The Problem is that the Control has to recreate itself, because the background-color (clWindow) changed.

### Steps to Reproduce (English)
1. Open Windows Settings (new Metro one)
2. Search for "Contrast" or go to "Ease of access" and to "high contrast"
3. Open

[2020-06-18 16:37] joachimmarder commented on #976
Confirmed

[2020-06-18 16:51] #976 closed, assigned to joachimmarder

[2020-06-19 02:00] nz-markk opened #978 "Problem with recent static text alignment change"
I presume that change #969 has caused problems with incorrect static text alignment.
It caused a problem in our app with normal and static text overwriting, I had a play around with header settings and couldn't get it to display as it did previously and when I looked at the Advance demo it has static and normal text on top of each other, as in the following picture.  Delving further I saw one of t

[2020-06-19 18:58] #978 closed, assigned to joachimmarder

[2020-06-21 18:15] nz-markk commented on #978
Super fast fix! Thanks for that.

[2020-06-22 14:06] raketenwurm69 opened #979 "SetFocus() is called without checking CanFocus() first, resulting in exception "Cannot focus a disabled or invisible window""
In Unit VirtualTrees.pas (v7.3.0) in Class "TBaseVirtualTree" there are several occations where SetFocus() is called without checking CanFocus first.

In my case I have a VTV in a PageControl, the Treeview is in Editmode and the input field has the focus. If I then change to another page in the PageControl I am getting "Cannot focus a disabled or invisible window"

I am using Delphi 10.3.3.

[code

[2020-06-22 18:11] #979 closed, assigned to joachimmarder

[2020-06-24 15:17] esmilen commented on #390
Delphi 10.4 brings better high-dpi support for styles, so more people might suffer from this bug. I am one of them, but unfortunately I don't have much experience with themes.

It would be great if someone is able to fix the bug.

[2020-06-24 15:54] joachimmarder commented on #390
I just tried the sample project with RAD Studio 10.4 and was unable to replicate the issue. Can someone confirm?

[2020-06-24 16:05] esmilen commented on #390
I was able to replicate it by switching between a hand full of themes.

[2020-06-24 17:08] joachimmarder commented on #390
I wasn't. Can you provide more detailed repro steps?

[2020-07-02 06:34] Trevor-S opened #980 ""Cannot focus a disabled or invisible window" error in Cancel Edit"
Destroying the VirtualTree control whilst the editor is active raises a "Cannot focus a disabled or invisible window" exception within the TBaseVirtualTree.DoCancelEdit function.

It appears that SetFocus (back to the Tree control) is being called when csDestroying is in the ComponentState.

Replicate by Placing a VirtualTreeview on a form, configured with cell editing.  Activate an Editor, then s

[2020-07-02 06:57] Trevor-S commented on #980
This appears to be resolved in issue #979.

[2020-07-02 06:57] #980 closed, assigned to nobody

[2020-07-04 11:47] esmilen commented on #390
I am running it on a mixed high dpi monitor setup (main 200% and the other 150%). Maybe that triggers it.

[2020-07-10 11:22] joachimmarder opened #981 "toRestoreSelection works unexpected in case multiple items have the same name"
Currently the code behind the `toRestoreSelection` uses the text of column 0 to restore the selection after a refill of the control.

In case multiple items with the same text exists, this produces unexpected results, e.g. more nodes are selected than it was orignally the case.

[2020-07-10 11:25] esmilen commented on #390
In Vcl.Forms, TScrollingStyleHook.UpdateScroll calls InitScrollBars to recreate the TScrollWindow instances. I think that is missing in the VirtualTrees.StyleHooks implementation.

[2020-07-10 21:19] joachimmarder commented on #390
Same here (laptop @ 150% + 27" TFT @ 125%).

As long as I can't reproduce the bug I can't work on a fix. Please feel free to send a pull request.

[2020-07-12 11:38] attikov commented on #597
I don't know, AddChild() initializes the Node and sets vsInitialized, but ToggleNode() in this InitNode() does not measures the Heights through OnMeasureItem, as the node has no Childs at the time.
Also, setting the NodeHeight in the OnInitNode event does not help.

After adding the nodes, InitRecursive does not do anything because of
"and not (vsInitialized in Node.States)".

This is perhaps just

[2020-07-21 14:00] joachimmarder commented on #981
Proposed change: Introduce new public property RestoreSelectionUniqueColumn. The getter will return MainColumn unless the developer assigned another value.

[2020-07-22 06:58] luebbe commented on #981
Haven't looked at the code, but it sounds like the selected strings are stored for comparison. I guess you can never make sure that the values in a column are unique.
Would it make sense to have unique ids in the node instead?

[2020-07-28 11:37] joachimmarder commented on #981
That would solve the issue comprehensively, but due to virtual nature of the control, this UID needs to be provided by the application, so that it stays the same after a refill of the control. And the ID needs to be stored with every node and consumes memory, but would be useful only in corner cases.

Therefore, the idea to use already existing information and allow the developer to mark one colum

[2020-08-04 00:41] MylesPenlington opened #982 "Nil pointer AV in TBaseVirtualTree.GetNodeData<T> and GetInterfaceFromNodeData<T>"
Note this bug is only present in the generic methods, when the value returned from Self.GetNodeData() is nil and the generic reference is to a class. Simple fix.

Re-factoring to the below works around the issue.
[code]

[2020-08-31 16:52] Joshua-Douglas opened #983 "Vertical Scroll Bar Cannot Scroll To Bottom In Select Circumstances"
Hello,

I've come across a bug that is preventing users from scrolling to the bottom of a virtual string tree node list in select circumstances. I've attached a sample application that should reveal this issue with the following reproduction steps. This issue was seen with the most recent version of the code base available on GitHub. If need any help reproducing the issue, please let me know.

**R

[2020-08-31 20:13] joachimmarder commented on #983
I cannot confirm this, tested in RAD Studio 10.3 with latest source. Please note even a 1 pixel line of the long node's row in the view is sufficient for the scrollbar to appear, even if this line does not have any text in it.
![grafik](https://user-images.githubusercontent.com/10615289/91764065-ee31ef00-ebd6-11ea-8090-a57a8a1bdbdc.png)
![grafik](https://user-images.githubusercontent.com/10615289/

[2020-09-01 01:46] Joshua-Douglas commented on #983
Hello Joachimmarder,

Thank you for responding so quickly.

I built the sample application on a separate machine with Delphi 10.3 and a fresh clone of the GitHub repo. Unfortunately, I'm still seeing the issue.  In the second screenshot you provided, were you able to scroll down to the bottom node without the scroll bar automatically scrolling back up?

I made a 30-second video that shows what I a

[2020-09-01 20:54] joachimmarder commented on #983
OK, the problem occurs if the newly created node appears behind the horizontal scrollbar. Editing the node is not needed. The problem disappears again if another node is created. The problem seems to be in `TBaseVirtualTree.ScrollIntoView()` in the else-part. I never visited this code myself.

[2020-09-05 21:43] pyscripter opened #984 "Support Delphi 10.4 DPI aware styles"
Actually it is quite easy.   All DrawElement methods (there is 9 of them) take an optional DPI parameter.

Example:
Currently:
[code]
change to

[code]

StyleElementMembers that take an optional DPI argument:
- DrawEdge- DPI does nothing AFAICS
- DrawElement
- DrawIcon
- DrawText
- GetElementContentRect- DPI does nothing AFAICS
- GetElementMargins- DPI does nothing AFAICS
- GetElementRegion- DPI d

[2020-09-06 20:05] joachimmarder commented on #984
Thanks for sending the examples. Just started changing the `StyleServices.DrawElement()` calls.

[2020-09-07 02:35] pyscripter commented on #984
In VirtualTrees.StyleHooks use FVertScrollWnd.CurrentPPI instead of FVertScrollWnd.FCurrentPPI

[2020-09-07 14:45] pyscripter commented on #984
Also in TBaseVirtualTree.PrepareBitmaps

please replace:

[code]
with:
[code]

[2020-09-07 21:04] joachimmarder commented on #984
Makes sense, but why did you suggest using FCurrentPPI in your initial comment? If it makes sense using the property here, why use the member variable in other cases?

[2020-09-07 21:07] joachimmarder commented on #984
Are you sure that the returned value is **not** dpi-scaled?

[2020-09-07 21:19] #984 closed, assigned to joachimmarder

[2020-09-07 21:20] #982 closed, assigned to joachimmarder

[2020-09-07 21:20] joachimmarder commented on #974
Closing issue as repro steps are missing.

[2020-09-07 21:20] #974 closed, assigned to nobody

[2020-09-07 21:23] #946 closed, assigned to joachimmarder

[2020-09-07 21:40] pyscripter commented on #984
Using FCurrentPPI is  much faster than using CurrrentPPI.  However it does not work with the stylehook.  The problem is that TVclStyleScrollBarsHook.Create is called after the form is shown and scaled (TCustomForm.ScaleForPPIRect).  So FVertScrollWnd and FVertScrollWnd don't get their FCurrentPPI set.    I think this is only an issue if the initial monitor has DPI > 96.

This is what is eventually

[2020-09-07 21:45] joachimmarder commented on #984
Looks like a bug to me. It was reported but not taken care of:
https://quality.embarcadero.com/browse/RSP-10869

[2020-09-07 21:47] pyscripter commented on #984
To future-proof the code for future versions you could have omitted {$IF CompilerVersion >= 34}CurrentPPI{$IFEND} or replace it with 96 in the StyleServices.GetElementSize call.

[2020-09-07 21:49] pyscripter commented on #984
Look at the top of this issue.  DPI is not accounted for in a whole bunch of StyleServices methods.    I wonder whether this is by design.

[2020-09-08 07:04] G-Flow opened #985 "Compiler errors in Delphi < 10.4"
There's some compiler errors when compiling with Delphi < 10.4 (I'm using 10.2) because some misplaced commas (must be into the IF directive).

Errors are in lines 14004, 14005 and 23931.

Here's the file patch:
[VirtualTrees.pas.zip](https://github.com/JAM-Software/Virtual-TreeView/files/5186605/VirtualTrees.pas.zip)

Thanks!

[2020-09-08 13:44] joachimmarder commented on #985
I think this was fixed this morning. Can you please try the latest source?

[2020-09-08 13:44] #985 closed, assigned to nobody

[2020-09-08 14:31] G-Flow commented on #985
Problem solved ;)

Thanks a lot!

[2020-09-11 13:51] pyscripter opened #986 "VTColors appeared in the DFM file"
Suddenly VTColors started appearing in the DFM file without me changing the default values.
e,g,
[code]

I am using Delphi 10.4.1.  Is this a Delphi bug?  I suspect it may have something to do with the interception of Widnows GetSysColor to support styles in dialog boxes.

[2020-09-11 14:20] pyscripter commented on #986
When I drop a new VirtualStringTree onto a form and look at the Colors this is what I see.  System colors have been replaced with their Color values.  But this is not the case with the Color property.  So it sounds unlikely that this is a Delphi issue.  Also when I change a Color to a system color it comes back as color constant.
![image](https://user-images.githubusercontent.com/1311616/92936344-

[2020-09-11 14:56] pyscripter commented on #986
OK I think I know what is happening.

VclStyleChanged(); is called from TBaseVirtualTree.Create.  At that time (csDesigning in ComponentState) is false and FVclStyleEnabled is set to True;

GetColor then returns styled colors!

Possible solutions (not tested):
-  Do not call VclStyleChanged in TBaseVirtualTree.Create
-  Add an extra check in GetColor
 `
 if FOwner.VclStyleEnabled and not (csDesign

[2020-09-18 12:20] obones opened #987 "CreateSystemImageSet is leaking its return value"
Inside `VirtualTrees.pas` there is the `CreateSystemImageSet` function whose return type is `TImageList`
Every time it gets called, it returns a new instance of `TImageList` that gets instantiated using the `CreateSize` constructor.
This one sets the `Owner` to nil, effectively meaning it is the caller's responsibility to free the newly created instance.
Sadly, this is never done anywhere inside t

[2020-09-18 18:18] joachimmarder commented on #987
You would at least need one global instance for each size (in pixels) to support multi-monitor / multi-dpi scenarios. And you need to keep all of them alive until the application terminates.

[2020-09-18 18:24] joachimmarder commented on #987
I don't think this is correct. In `TBaseVirtualTree.Destroy()` there is the code:

[code]

I never saw a leak reported in my applications. Can you please provide detailed repro steps or a sample application?

[2020-09-18 18:31] joachimmarder commented on #986
Thanks for reporting this issue and suggesting a solution. I prefer solution one. Please test if it solves your problem.

[2020-09-18 18:34] #986 closed, assigned to joachimmarder

[2020-09-18 18:36] joachimmarder commented on #986
Looks good here now:

![grafik](https://user-images.githubusercontent.com/10615289/93633037-97a61c80-f9ee-11ea-86ec-8b567137d458.png)

[2020-09-18 18:40] pyscripter commented on #987
I have never seen a memory leak.

[2020-09-19 00:55] pyscripter commented on #986
Thanks!  Issue resolved.

[2020-09-19 07:55] joachimmarder commented on #987
Then why exactly did you open this issue?

[2020-09-19 07:59] pyscripter commented on #987
**I did not**

[2020-09-19 13:46] joachimmarder commented on #987
Oh, I'm very sorry. Typically the reporter of the issue replies to my comments and I had in mind that you opened an issue recently, but that was a different one.

[2020-09-19 13:46] #987 closed, assigned to nobody

[2020-09-19 18:00] pyscripter commented on #987
No problem.

[2020-09-20 08:45] obones commented on #987
Seriously?
It's an issue I'm having at work, that I reported on a Friday afternoon, and you don't even wait until Monday?

Well, there are multiple issues with that code, leaks being one of them, but hey, never mind, I'll fix it in my own copy and that'll do it.

[2020-09-20 09:03] joachimmarder commented on #987
I don't see the problem, we can reopen the issue at any time, that's what the reopen feature is for. But if our guidelines for submitting bugs are not respected and the bug reports contains wrong information ("this is never done anywhere inside the code") then I take the liberty to close such issues for cleaning up. There are simply too many of them.

[2020-09-26 01:06] pyscripter opened #988 "In the Advanced demo the scaled property of StateForm is not set"
As a result the form does not scale in Hi-DPI monitors.

[2020-09-26 03:29] pyscripter opened #989 "In PrepareBitmaps buttons are unnecessarily created with Vcl.Styles."
The NeedButtons parameter is not taken into account if VclStyleEnabled

[2020-09-26 10:20] pyscripter opened #990 "Make Advanced demo per monitor DPI aware."
In the Advanced demo the created embedded forms are not scaled properly.  To reproduce use a two monitor with different PPI setup,  Move the main window to the second monitor and create forms.   Notice the wrong font size and other issues.

Explanation:

TControl.SetParent(AParent: TWinControl) does call ScaleForPPI(GetParentCurrentDpi);
but in
[code]
(not HandleAllocated and (Parent <> nil))  is

[2020-09-26 10:50] pyscripter opened #991 "PrepareBitmaps() is called incidentally and at the wrong time in DPI-aware applications"
Currently PrepareBitmaps is not called directly by TBaseVirtualTree.ChangeScale.
It is called indirectly via TBaseVirtualTree.CMFontChanged, which it triggered by the call to inherited ChangeScale.

If you look at TControl.ChangeScale
[code]
is the very last thing done.   So CMFontChanged is called before the FCurrentPPI is changed and ScalePixels applies wrong scaling in PrepareBitmaps.

You can

[2020-09-26 13:48] #988 closed, assigned to joachimmarder

[2020-09-26 13:55] joachimmarder commented on #989
Seems that the entire code in the part for VCL styles can be omitted in that case.

[2020-09-26 13:57] #989 closed, assigned to joachimmarder

[2020-09-26 14:24] joachimmarder commented on #990
Calling `HandleNeeded()` after `Show()` does not make any difference, as the handle is already created. I am surprised that it does not seem to get this working as expected without a calling `ScaleForPPI()` explicitly.

[2020-09-26 14:33] #990 closed, assigned to joachimmarder

[2020-09-26 14:37] joachimmarder commented on #991
I don't see why, unless you want the Bitmaps size to correspond with the font size. But the font size is not evaluated in `PrepareBitmaps()`.

[2020-09-26 14:39] pyscripter commented on #990
Yes indeed.  You can remove it or move both statements before Show (maybe less flicker but I see no difference).

[2020-09-26 14:43] pyscripter commented on #991
If you are trying to reproduce it please note that it still work as is, if ParentFont is set to True, since then the call to CMFontChanged comes after ChangeScale.

[2020-09-26 14:44] #991 closed, assigned to joachimmarder

[2020-09-26 14:47] pyscripter commented on #990
I was as well.
I am not sure why ScaleforPPIRect exits when (not HandleAllocated and (Parent <> nil)).

a stranger one is that TContor.SetParent does not scale the child if (csFreeNotifications is in ComponentState).  What do freeNotifications have to do with scaling?

[2020-09-26 15:00] pyscripter commented on #991
ChangeScale is called sometimes with M=D and DpiScale = False.
There is no need to PrepareBitmaps if M=D.

[2020-09-26 19:13] joachimmarder commented on #991
I remember cases @100% dpi-scaling in that `ChnageScale()` was called only once with `M == D`. I was unsure if `PrepareBitmaps()` would then be called, but just recognized the call in `CreateWnd()`.

[2020-09-26 21:04] pyscripter commented on #991
Thanks!!

[2020-10-06 00:55] pyscripter opened #992 "Incorrect scaling of hint font"
TVirtualTreeHintWindow.Paint and TVirtualTreeHintWindow.CalcHintRect contain the following code:

[code]

If your main monitor is High-DPI this will lead to double-scaling of the font, since Screen.HintFont is already scaled for the main screen.

**Solution:**
Replace both instances of the above with:
[code]

[2020-10-08 21:21] joachimmarder commented on #992
Are you using RAD Studio 10.4 or an older version?

Shouldn't we use the PPI of the current monitor? This is the PPI of the primary monitor.

[2020-10-08 21:39] pyscripter commented on #992
Rad studio 10.4.1

This is the whole point.  Sceen.HintFont is already scaled for Screen.PixelsPerInch (easy to check or see the source code).  So if the tree is  and the hint is shown on the main monitor:
`Tree.ScaledPixels(96) = Screen.PixelsPerInch`
and no scaling is taking place, which is what should happen.

If the Tree is positioned in another monitor with a different PPI the appropriate sca

[2020-10-09 03:51] changyu72 opened #993 "With Virtual-TreeView you can do more 。。。"
Virtual-TreeView draw project gantt chart。。。
https://win.projectclouds.cn
<img width="1440" alt="2020-10-09_114609" src="https://user-images.githubusercontent.com/18181509/95541285-92545480-0a25-11eb-8b36-2de6ae4486dc.png">
<img width="1121" alt="everproject-view-timeline" src="https://user-images.githubusercontent.com/18181509/95541305-a9934200-0a25-11eb-9f70-614eb9e0ef70.png">

[2020-10-09 14:31] raketenwurm69 opened #994 "When a node is MultiLine it initialy renders it only as Singleline until the mouse is moved over the node"
This only happens when there is a tree structure (parent->child) to expand. It does not happen when there is only one level of nodes.

![image](https://user-images.githubusercontent.com/32537343/95597117-88931700-0a4e-11eb-8773-27becc9618e8.png)

![image](https://user-images.githubusercontent.com/32537343/95597195-9d6faa80-0a4e-11eb-83b6-360f8f4f5c7c.png)

I am using the latest version from the zi

[2020-10-09 15:44] raketenwurm69 commented on #994
UPDATE:
I found out that in DoMeasureItem() the method ComputeNodeHeight(Canvas: TCanvas; Node: PVirtualNode; Column: TColumnIndex; S: string) has an optional 4th parameter. When I set it to the text that is supposed to be in the multiline column, it works fine. If I leave it empty it tries to get the string from the node and ends up getting only "node" instead of the correct column content.

[2020-10-09 18:54] joachimmarder commented on #994
Please respect our guidelines form the project homepage: When reporting a bug please attach a sample project as ZIP-file that allows us to quickly reproduce the bug. This can also be one of the demo projects that come with Virtual Treeview, modified to show the bug. If only small changes are required, a description is sufficient how a demo projects needs to be changed in order to replicate the bug

[2020-10-09 18:55] joachimmarder commented on #994
I would have expected to see "node" in your screenshot than.

[2020-10-09 19:06] joachimmarder commented on #993
Thanks, I've added it to our [Gallery](https://github.com/JAM-Software/Virtual-TreeView/wiki/Gallery).

[2020-10-09 19:06] #993 closed, assigned to nobody

[2020-10-14 06:20] joachimmarder commented on #992
Easy Repro: Advanced sample, Property Tree simulation

[2020-10-14 06:23] joachimmarder commented on #992
@pyscripter : Thanks for the fixed code.

[2020-10-14 06:24] #992 closed, assigned to nobody

[2020-10-22 09:14] modersohn opened #995 "Button size not scaled when not using VCL styles"
When using the Minimal demo, the button images are not scaled:

![image](https://user-images.githubusercontent.com/44807458/96848574-e06d4d00-1454-11eb-9cb4-f8cbb05c0364.png)

This happens for both with and without PaintOptions.toThemeAware.

The default values for size (9x9) are not scaled (ScaledPixels calls missing) and instead of OpenTheme, OpenThemeDataForDPI should be called. I'll prepare a

[2020-10-22 18:03] joachimmarder commented on #995
Weich Delphi version are you using?

[2020-10-22 21:30] modersohn commented on #995
Sorry if that wasn’t clear from my comment above. The screenshots and verification of the fix were done with 10.4.1 Sydney. I’ve only looked in the RTL Source of 10.1 Berlin to see that the new API wasn’t available there.

Ah now I see that I didn’t comment here but on the pull request. Please have a look at my other comment there

[2020-10-25 22:08] joachimmarder commented on #995
I tried to replicate the problem on my PC, using Delphi 10.4.1 and the latest Virtual TreeView source from GitHub on Windows 10, but without success:

![grafik](https://user-images.githubusercontent.com/10615289/97120383-e2663300-1716-11eb-94ae-7065c943d1f5.png)

Which version of Virtual Treeview did you use?
Which manifest did you use?

[2020-10-25 22:16] joachimmarder commented on #994
Closing this issue due to missing repro steps or pull request.

[2020-10-25 22:16] #994 closed, assigned to nobody

[2020-10-26 15:38] modersohn commented on #995
1. I'm using the sources at the tip of the master branch, i.e. commit ca85e5a with Delphi 10.4.1.
2. I've got a system where my primary monitor is non-scaled, i.e. at 100% aka 96dpi and my secondary monitor is at 175%. The IDE runs on the primary non-scaled monitor.
3. If I compile and run the Minimal demo from the IDE, I have to move it to the secondary monitor (by pressing Win+Left), then click

[2020-10-29 19:51] joachimmarder commented on #995
That does the trick, having differently scaled monitors and doing this on the secondary monitor.

[2020-10-29 19:57] modersohn commented on #995
Okay. Great to hear that you could reproduce it now.

Now what should we do to make the code in my pull request handle older Delphi versions. Quoting my comment on the pull request:

“ I see 2 solutions: either calling the old OpenThemeData for older compilers (and possibly scaling the returned size manually), or importing OpenThemDataForDPI manually via GetProcAddress. Which one would you prefer?

[2020-10-29 21:04] joachimmarder commented on #995
I have already modified your pull request so that it should compile on all Delphi versions, but takes effect only in 10.3 and higher. Older Delphi versions are broken regarding multi monitor dpi awareness anyway.

[2020-10-29 21:04] #995 closed, assigned to nobody

[2020-11-10 21:08] landrix opened #997 "Commit from 1 Nov 2020 breaks on Windows Server 2016 RDC Session"
https://github.com/JAM-Software/Virtual-TreeView/commit/94c7cd42e0f82ae014a3eb7d93ba6d07e5e8c8d9

exec. date/time    : 2020-11-10 21:38
version            : 6.0.0.0
compiled with      : Delphi 10.3 Rio
madExcept version  : 5.1.0
callstack crc      : $ec310abf, $537542a8, $537542a8
exception number   : 1
exception class    : EExternalException
exception message  : Externe Exception C06D007F.

threa

[2020-11-11 19:30] joachimmarder commented on #997
I don't see a connection between this commit and the call stack, the added code it not part of it. What exactly makes you think that it was this commit? Can this be replicated with one of the sample projects?

[2020-11-11 21:10] landrix commented on #997
I will try to locate the problem

[2020-11-13 15:43] landrix commented on #997
i have put all new changes to my source and placed an empty vst on an empty form

this change is the cause

![image](https://user-images.githubusercontent.com/3299479/99090753-4cb01c00-25cf-11eb-98c0-c9f21f960d4d.png)

[2020-11-13 15:47] landrix commented on #997
It seems the minimum requirements are not correct

https://docs.microsoft.com/en-us/windows/win32/api/uxtheme/nf-uxtheme-openthemedatafordpi

[2020-11-14 07:34] joachimmarder commented on #997
That's a different commit, but makes more sense when looking at the call stack.

This typically causes other errors. Is this system up to date regarding Windows Updates?

[2020-11-14 16:07] pyscripter commented on #997
You need to check for Windows 10, version 1703 before using this API

[2020-11-15 13:54] joachimmarder commented on #997
I did so now, please try again.

I'm still surprised: Is this system up to date regarding Windows Updates?

[2020-11-15 13:54] #997 closed, assigned to nobody

[2020-11-15 14:01] landrix commented on #997
The last update is about a year old. I sent the admin a message. Then I'll try again.

[2020-11-16 10:44] landrix commented on #997
we have updated the Windows Server 2016 to
![image](https://user-images.githubusercontent.com/3299479/99243424-ee6a7f80-2800-11eb-8bde-a7b2106ad199.png)
OpenThemeDataForDPI isn't available

but your last commit fixes the problem

thanks

[2020-11-18 07:15] joachimmarder commented on #136
Closing this issue as WontDo after more than 10 years.

[2020-11-18 07:15] #136 closed, assigned to nobody

[2020-11-18 07:36] joachimmarder opened #998 "Fixed column wider than ClientWidth of the control cannot be resized any more"
Make a column fixed using the coFixed flag and make it larger than the ClientWidth of the control. Neither scrolling nor resizing the column works any more.

[2020-11-18 08:04] joachimmarder commented on #911
Has anyone else seen this problem? I did not receive any similar reports, so I suspect an issue with the C++ Builder installation.

[2020-11-20 20:59] joachimmarder commented on #998
By setting TVTHeader.FixedAreaConstraints.maxWidthPercent to 95 this problem can be fixed.

Would it make sense to use a default value of 95 for this property, instead of not limiting it?

[2020-12-01 10:16] modersohn opened #1000 "AutoScale does scale NodeHeight manually, but TotalHeight is not scaled"
Unfortunately I was not able to reproduce with either the Minimal or the Advanced demo, but hopefully the code is obvious.

In my app, when I move a form with a tree view to a monitor with higher DPI and expand a previously unexpanded, i.e. uninitialized node, the vertical scrollbar that is shown is not sufficient to scroll to the bottom. The tree does not use variable node heights.

The fix you i

[2020-12-01 11:29] dupeNoob opened #1001 "Remaining Memory leaks and application crash at more than 2000 tree entries"
Hi.

When there are more than 2000 entries in the Virtual-TreeView and the window is closed on double click then the application crashes with memory leaks.

FastMM memory leaks:
5 - 12 bytes: TObject x 2
13 - 20 bytes: TList x 1, TThreadList x 1
21 - 28 bytes: Unbekannt x 1
37 - 44 bytes: TBaseVirtualTree.ChangeTreeStatesAsync$ActRec x 1
53 - 60 bytes: TWorkerThread x 1

Delphi Version: 10.2 (also

[2020-12-01 15:00] pyscripter opened #1002 "Prevent ImageList notifications after destruction"
I had [this issue](https://github.com/TurboPack/MustangpeakVirtualshellTools/issues/16) with VirtualshellTools which is descends from TBase.

Basically an ImageList that was connected to a VirtualTree Images was sending change notifications to a destroyed ChangeLink of the VirtualTree.  This can only be detected by FastMM in debug mode (accessing a freed object), so it may occur in other uses of V

[2020-12-01 16:25] MShark67 opened #1003 "toPopupMode and TCustomVirtualStringTree.InitializeTextProperties"
Currently it seems that this method doesn't honor the toPopupMode option and so returns the unselected text color instead of the selected one when not focused.  One possible fix is:

if vsSelected in Node.States then
begin
  Canvas.Font.Color := FColors.GetSelectedNodeFontColor(Focused or (toPopupMode in FOptions.FPaintOptions));
  //  Canvas.Font.Color := FColors.GetSelectedNodeFontColor(Focused)

[2020-12-01 20:04] #1003 closed, assigned to joachimmarder

[2020-12-01 20:13] joachimmarder commented on #1002
Done. I guess you meant `CustomCheckImages`.

[2020-12-01 20:13] #1002 closed, assigned to joachimmarder

[2020-12-01 20:32] joachimmarder commented on #1000
Sorry, no.

I would have expected that it should be quite easy to reproduce in case this is a general problem.

You can try if scaling `fTotalHeight` in `TBaseVirtualTree.ChangeScale()` makes any difference.

[2020-12-01 20:38] joachimmarder commented on #1001
We should focus in the crash first, the mem leaks are most like only a consequence of the crash.

But I don't see a crash here with latest Virtual TreeView source code and Delphi 10.4.1. I opened the project, pressed F9, pressed "Fill VT", double clicked the VT control. The application terminated without errors.

Can you send the call stack and exception type of the crash please?
Which version of

[2020-12-01 20:46] modersohn commented on #1000
Scaling TotalHeight in AutoScale similar to NodeHeight did indeed fix the issue for me:

[code]

I'd understand that you'd be reluctant to incorporate a fix without being able to reproduce the problem - that's why I was asking for ideas on how to reproduce.

[2020-12-01 21:14] joachimmarder commented on #1000
Yeah, one part is verifying the fix using the repro steps, another part is making sure that it does not to break anything. The fix looks good and makes sense. I will incorporate it.

[2020-12-02 10:13] modersohn commented on #1000
Thanks for incorporating the fix so quickly.

However, I'm wondering if this approach would be problematic due to rounding errors. If you scale a `NodeHeight` of 18 to 125%, the result of 22.5 is rounded, but a `TotalHeight` of e.g. 10 nodes of 180 is not rounded and results in 225.

So I was looking for a different fix, but that proved to be difficult. Calling `FixupTotalHeight` for the uninitial

[2020-12-02 12:47] Daniel-Tr opened #1004 "Add support for per-Control styles (introduced with Delphi 10.4)"
With Delphi 10.4, the ability to define custom styles per control has been added. The VirtualTree does not yet regard this new property though.

Repro-steps:
* Use Delphi 10.4
* Include two styles with your application, e.g. Auric and Glow
* In the application (e.g. in Form.Show), call:
`TStyleManager.SetStyle('Auric');`
`YourTree.StyleName := 'Glow'`
* Run the application

Expected: The VirtualTr

[2020-12-02 17:19] antsiparovich commented on #1001
We have same problem.
...
VirtualStringTree1.EndUpdate; // activate TWorkerThread with items more 2000
...
TBaseVirtualTreeCracker(lCurrentTree).ChangeTreeStatesAsync([tsValidating], [tsUseCache, tsValidationNeeded]); // execute TThread.Synchronize in ChangeTreeStatesAsync
Then switch to main thread, where VT is destroyed (see FormClose). After second call execute TBaseVirtualTreeCracker(lCurrentT

[2020-12-03 06:58] joachimmarder commented on #1000
You need to take care that no method is called that initializes all node, like `Sort()` or the getter of the `TotalCount` property. Removing the option `toAutoSort`in the Spped demo of the Advanced project and removing the calls to `TotalHeight` produces unintialized nodes and shows the problem you describe above.

[2020-12-03 07:09] joachimmarder commented on #1001
I just committed a patch, could you please check if it solves the problem for you?

[2020-12-03 07:10] joachimmarder commented on #1000
The commit listed here was for #1001.

[2020-12-03 07:38] Petz73 commented on #1001
Hi Joachim,

Unfortunately the patch doesn't help. The problem still exists...
I think the Virtual Tree doesn't crash.
The crash is a result of the memory leaks and comes a little bit later in our program, because it's accesses the formerly freed memory of the VT objects.
And the VT Workerthread is still working and also accesses this freed memory...
With an Application.Processmessages (Delphi) be

[2020-12-03 09:45] modersohn commented on #1001
Hi,

out of interest, I had a look at the demo project too and could reproduce the crashes with FastMM4 and FullDebugMode.

From my understanding, it looks like `.InterruptValidation` which is called in `TBaseVirtualTree.Destroy` does not properly ensure that no validation code is execute anymore - the synchronized call in `TBaseVirtualTree.ChangeTreeStatesAsync` has not yet been processed and whe

[2020-12-03 10:13] modersohn commented on #1000
Thanks for the hint - that allowed me to reproduce it with the `SpeedDemo` form of the `Advanced` demo!

For later reference, here are the exact steps:

1. In the `SpeedDemo` form, uncheck `VST1.AutoOptions.toAutoSort`
2. In `AddButtonClick` uncomment the two lines with setting `Expanded` and `InvalidateToBottom` after `ChildCount` was set
3. In `AddButtonClick` uncomment the line querying `TotalC

[2020-12-03 10:20] VladimirBartosh commented on #1001
It could not, because the code passed to Synchronize is executed asynchronusly, and if it happens when the tree has already been destroyed, Self becomes invalid and both FStates and HandleAllocated will fail, or even worse: you might got 'lucky' so that the memory Self points at will still be available, HandleAllocated and FStates will still contain some valid-looking values, the check will pass,

[2020-12-03 10:24] modersohn commented on #1001
@VladimirBartosh: hence my suggestion of adding CheckSynchronize - that should ensure that the asynchronously called code is executed before the destructor continues.

[2020-12-03 18:06] VladimirBartosh commented on #1001
CheckSynchronize can also be not enough. Imagine this:
1. Thread 1(main):   TWorkerThread.AddTree puts a tree to the worker list, and wakes up the worker thread
2. Thread 2(worker):   TWorkerThread.Execute gets the tree from list, unlocks the list, and is now performing the check in ChangeTreeStatesAsync:
`if (Self.HandleAllocated) then`
3. Thread 1:  the tree is destoryed, with CheckSynchronize b

[2020-12-03 18:28] modersohn commented on #1001
Thanks for your input @VladimirBartosh - that is why I had my doubts about CheckSynchronize too.

The more I look at the code, the more it feels like the local `lCurrentTree` in `TWorkerThread.Execute` was added at a later stage and before that, it used FCurrentTree. Because if you look at `TWorkerThread.RemoveTree`, it calls `WaitForValidationTermination`, which also calls `CheckSynchronize` - bu

[2020-12-03 20:39] joachimmarder commented on #1001
Unfortunately Delphi lacks the concept of a cancellation token:, which would help here.
https://quality.embarcadero.com/browse/RSP-10044

lCurrentTree was already there in the initial commit of the file in 2015. I don't see a connection to #844 here.
There is a comment which brings in relation to #434, which unfortunately was not moved from Google code for unknown reasons.

Sorry, but I don't see

[2020-12-03 20:58] joachimmarder commented on #1001
Using `CheckSynchronize()` solved the problem here. The race condition above should not be an issue as the handle is already deallocated at this point.

[2020-12-04 09:15] modersohn commented on #1001
@joachimmarder, yes, you're right - `lCurrentTree` was already there before commit 0838277, but it was pretty much unused until then.

I'm trying to understand the intent the original code had. And `RemoveTree` clearly tries to ensure that the currently processed tree is finished by calling `WaitForValidationTermination`, which in turn calls the same `CheckSynchronize` you've now added to `TWorker

[2020-12-04 10:43] modersohn commented on #1001
I was wondering why the test project from @antsiparovich was hanging on shutdown when used with FastMM and it turns out it wasn't hanging, but actually trying to report a leak if 10k UnicodeStrings.

The following code needs to be added to Unit3 to fix this:

[code]

[2020-12-04 19:44] joachimmarder commented on #1001
`CheckSynchronize()` can cause odd call stacks and even side effects. So I use `CheckSynchronize()` only when absolutely necessary. That means, the condition should stay in my opinion.

That may be possible. But I still think it is necessary to prevent the code to be executed in case the control is being destroyed. In a quick test with the project above I got AVs when I simply commented this line.

[2020-12-05 13:37] modersohn commented on #1001
The thing is, with that condition being left there, my fix of getting rid of `lCurrentTree` causes a hang, because `WaitForValidationTermination` loops forever (understandably).

Your fix OTOH is quite fragile - it calls CheckSynchronize only once - and there's absolutely no guarantee that it will finish all synchronized code with that Tree.

There is no way to find out if a control already *has b

[2020-12-05 20:41] joachimmarder commented on #1001
This is not correct, it is important to ensure that no new method is queued in the main thread for this control if it is being destroyed, because CheckSynchronize is called in the context of the destructor.

I don't think calling it multiple times helps here. It is important to call it at the right moment (the destructor) and to make sure that no new methods are queued for this control afterwards.

[2020-12-05 20:50] joachimmarder commented on #1001
Thanks for creating this. I added it to the official repository and ran the tests project several times, the tests always passed. Is your fork maybe missing some changes? Or has additional changes?

[2020-12-05 21:03] modersohn commented on #1001
Unfortunately that's not the reason you're not seeing the crashes. In the mean-time I found out that for me, it only crashes on Win32 in the debugger. It does not crash when run without the debugger and it does not crash with Win64, regardless of the debugger. I was really puzzled by this and even started considering a bug in the debugger, but what I found *very* odd is that I see the exact same b

[2020-12-05 21:06] modersohn commented on #1001
Well for one thing, since Synchronize is actually called twice in .Execute and the thread has no mechanism to detect a destroyed tree in between those calls, a single Synchronize might not be sufficient. Plus you can't rely on the fact that no other part of the application you're running in does some Synchronize stuff around the same time. That is why I'm so keen on going back to the while loop in

[2020-12-06 08:26] joachimmarder commented on #1001
Well, I don't think the Virtual TreeView control is responsible to handle this for all other parts of some application.

Yes, but conditionally. It won't be executing if the `csDestroying` flag is set.

Please describe more detailed where you additionally would like to call `CheckSynchronize()`.

A call to `CheckSynchronize()` will dequeue all `Synchronize()`, not just one. Calling it more than on

[2020-12-06 08:52] joachimmarder commented on #1000
I was able to fix this issue for SpeedDemo with the line commented that access the `TotalHeight`. Commenting this line produces non-initialized nodes.

[2020-12-06 08:52] #1000 closed, assigned to joachimmarder

[2020-12-06 08:53] #998 closed, assigned to joachimmarder

[2020-12-06 09:57] modersohn commented on #1001
Thanks for explicitly stating your line of thought, I should have done the same last night.

I understand that `CheckSynchronize` will execute all the code that has been synchronized, but that doesn't help here, since only one `Synchronize` call from our single `WorkerThread` can be active at any given time - because these calls are blocking.

Here's a sequence of things that I think is not proper

[2020-12-06 11:11] modersohn commented on #1001
My point 8 above is actually incorrect. The thread would not call `DoValidateCache`, because `tsStopValidation` has been set in `InterruptValidation` in step 1.

I wouldn't say that this invalidates my scenario though - the point remains that there is the potential that the thread carries on working with lCurrentTree that already could have been destroyed.

[2020-12-06 13:06] modersohn commented on #1001
I made some progress with the test-case:

1. The test now calls `CheckSynchronize` after the tree has been destroyed. This is required, since the Tests project is a console application and there's no `TApplication` which normally would call it.
2. With Win64 the test now crashes in the debugger **if you undo the relevant fix**, i.e. comment out the `CheckSynchronize` in `ReleaseThreadReference`.
3

[2020-12-06 14:09] joachimmarder commented on #1001
I would be very interested, but isn't it you that needs to make a pull request? I never did it the other way round

I agree. If that would provoke a crash we could look for a solution for this.

Earlier today I was thinking if it could make sense to set `FCurrenTree` to `nil` at a later point, but I was reluctant to do without evidence that this is necessary, as the code looks like this was done b

[2020-12-06 14:32] #1004 closed, assigned to Daniel-Tr

[2020-12-06 14:40] modersohn commented on #1001
Okay I'll make one - yesterday you got the test-case I started without a PR - don't know how, but somehow you managed ;-)

Ok great - lets make the PR for the test first and then I can make another one with the fixes I'd propose.

I totally agree, every code change should have a clear motivation and in an ideal world, a repeatable test-case.

[2020-12-06 18:20] joachimmarder commented on #1001
Well, I copied the file. But this is not convenient in the long run and does not preserve the commit message, at least not without further manual copy&paste. Thanks for making the PR.

[2020-12-06 18:26] modersohn commented on #1001
Thanks for accepting the PR, that was fast!

I'm already preparing another test-case with toVariableNodeHeight and things are looking good right now.

Do you have ideas for more test-cases related to WorkerThread synchronization? One obvious thing would be cancelling a validation (and/or invalidating it while it's still running) - similar to what you mentioned in #915.

[2020-12-06 18:27] joachimmarder commented on #1001
I tried that after merging you pull request, but did not see a crash. Run from inside the IDE with debugging two times.

[2020-12-06 18:40] modersohn commented on #1001
Was that Win32? Did you try Win64? The project is missing some UnitScope names for Win64 to compile correctly (same as Win32).

I just tried again, reverting my fix commit 5aaba1e, added the `Sleep(1000)` in `.Execute` directly before the last finally and the AVs started to occur right away.

[2020-12-06 18:44] modersohn opened #1006 "Please change source file format to UTF-8 to avoid merge conflicts"
VirtualTrees.pas and possibly others contain non-ANSI characters and because these files are not saved in UTF-8 format, they sometimes show up as changed and cause merge conflicts, even though the actual file content hasn't changed.

See pull request #1005 for an example.

It would be nice if all source files could be switched to UTF-8 so git can handle them correctly. I'm not sure though if all s

[2020-12-06 19:57] joachimmarder commented on #1001
It was Win64, no local changes compared to official repo.

[2020-12-07 08:07] modersohn opened #1007 "TWorkerThread.Dispose closes WorkEvent handle prematurely"
In `TWorkerThread.Dispose`, the global `WorkEvent` is closed without ensuring that the `WorkerThread` has actually terminated:

[code]

While calling `Terminate` and setting the event will eventually terminate the thread, it might still be waiting for the event by the time `CloseHandle(WorkEvent)` is called.

This could be an explanation for some of the exceptions in Kernelbase.dll I have seen whi

[2020-12-07 08:13] modersohn opened #1008 "TWorkerThread.Create creates FWaiterList too late"
In `TWorkerThread.Create`, the thread starts running as soon as `inherited Create` is called. By that time `FWaiterList` is still `nil`.

I realize that technically this is not a problem, because the thread only starts touching `FWaiterList` once `WorkEvent` has been set. I'd still argue that creating `FWaiterList` first is the cleaner and more robust implementation.

[2020-12-07 08:29] modersohn opened #1009 "Missing exception handling of TWorkerThread"
TWorkerThread.Execute currently does not handle exceptions. That means, that in case of an exception, the thread will terminate and because FreeOnTerminate will destroy the thread, this will result in the global WorkerThread variable to become invalid.

See https://stackoverflow.com/a/5443127/386473 for a good approach how this could be done.

This is another reason for the exceptions I've seen wh

[2020-12-07 09:42] luebbe commented on #1007
I always do something like this when I destroy a worker thread:

**Inside** the thread.

[code]

I know that you are terminating the worker thread from the outside. Wouldn't a `WorkerThread.WaitFor` after `SetEvent(WorkEvent)` solve the problem?

[code]

[2020-12-07 09:51] modersohn commented on #1007
The `Dispose` method has a `CanBlock` parameter. If you `WaitFor` that would be pointless.

Also, calling `Terminate` and `WaitFor` in an overridden destructor seems odd, because that is exactly what the inherited constructor would call. If you free your event and your data after the call to the inherited destructor you wouldn't need to call neither `Terminate` nor `WaitFor`.

[2020-12-07 10:04] luebbe commented on #1007
You're right. Learned something again. But when would I call SetEvent in my case? Isn't this necessary? The thread may still be waiting for the event and never notice that it is terminated.

Like this?

[code]

[2020-12-07 10:05] modersohn commented on #1001
Actually, I'm completely at a loss why you can't see any of the exceptions (no exceptions on Win32 as well?). Could you please double check that Tools, Options, Debugger, Embarcadero Debuggers, "Ignore non-user breakpoints" is off and that only the usual Language exceptions are ignored and Native OS exceptions are set to Run unhandled by the debugger?

In the meantime, I've identified some reasons

[2020-12-07 13:05] #1008 closed, assigned to joachimmarder

[2020-12-07 13:10] modersohn commented on #1009
I'll gladly provide a pull request, but could you please consider #1006 first? That would hopefully solve those messy pull requests for my fork and here too...

[2020-12-07 13:28] modersohn commented on #1007
@luebbe: no that code would make the WaitFor called in inherited potentially deadlock.

Actually, the best place for `FWaitEvent.SetEvent` would be in an overridden `TerminatedSet`!

[2020-12-07 13:38] joachimmarder commented on #1007
Agreed, I also thought about doing so earlier.

[2020-12-07 13:42] joachimmarder commented on #1007
Sorry, the commit referenced the wrong issue number #1006, too many new issues these days.

[2020-12-07 13:42] #1007 closed, assigned to joachimmarder

[2020-12-07 13:50] #1006 closed, assigned to joachimmarder